<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">会员昵称：</label>
            <Input v-model="table.query.memberNickname" placeholder="" clearable style="width: 200px" />
            <label class="margin-left-10" style="margin-right:8px;">会员ID：</label>
            <Input v-model="table.query.memberId" placeholder="" clearable style="width: 200px" />
            <label class="margin-left-10" style="margin-right:8px;">会员手机：</label>
            <Input v-model="table.query.memberPhone" placeholder="" clearable style="width: 200px" />

        </Row>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">产品名称：</label>
            <Input v-model="table.query.productName" placeholder="" clearable style="width: 200px" />
            <label class="margin-left-10" style="margin-right:8px;">订单号：</label>
            <Input v-model="table.query.number" placeholder="" clearable style="width: 200px" />
            <label class="margin-left-10" style="margin-right:8px;">时间类型：</label>
            <Select v-model="table.query.timeType" style="margin-right:8px;width:200px" clearable>
                <Option v-for="item in timeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
            </Select>
            <DatePicker v-if="table.query.timeType != null" v-model="range" type="datetimerange" :options="dateRangeOpt" format="yyyy-MM-dd HH:mm" placeholder="请选择查询范围" style="width: 250px"></DatePicker>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
        </Row>
        <Row class="margin-top-10">
            <Col>
            <Table :columns="table.col" :data="table.data"></Table>
            <div style="margin: 10px;overflow: hidden">
                <div style="float: right;">
                    <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                </div>
            </div>
            </Col>
        </Row>
    </div>
</template>

<script>
import dayjs from 'dayjs';
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';

export default {
    name: 'MemberList',
    mixins: [ TableColRender, TableDataView ],
    data () {
        return {
            timeList: [
                {
                    value: 1,
                    label: '下单时间'
                }, {
                    value: 2,
                    label: '退订时间'
                }],
            table: {
                col: [{
                    title: '订单编号',
                    key: 'orderNumber'
                }, {
                    title: '产品名称',
                    key: 'subName',
                    tooltip: true
                }, {
                    title: '退订数量',
                    key: 'quantity',
                    width: 100
                }, {
                    title: '手续费',
                    key: 'fee',
                    render: (h, params) => this.renderMoney(h, params)
                }, {
                    title: '订单金额',
                    key: 'money',
                    render: (h, params) => this.renderMoney(h, params)
                }, {
                    title: '下单时间',
                    key: 'createTime',
                    render: this.renderDate
                }, {
                    title: '申请时间',
                    key: 'applyTime',
                    render: this.renderDate
                }, {
                    title: '操作',
                    key: 'action',
                    width: 200,
                    align: 'center',
                    render: (h, params) => this.renderActions(h, params, [{
                        config: {
                            loading: this.loadingBtn,
                            style: { marginRight: '5px' },
                            disabled: params.row.status !== 1
                        },
                        click: () => this.confirmRefund(params.row.number),
                        text: '确认'
                    }])
                }],
                url: '/api/order/refund/list',
                query: {
                    memberId: null,
                    memberNickname: null,
                    memberPhone: null,
                    productName: null,
                    number: null,
                    timeType: null,
                    status: 1,
                    start: null,
                    end: null
                }
            },
            range: [dayjs().subtract(1, 'day').set('hour', 0).set('minute', 0).toDate(), dayjs().set('hour', 23).set('minute', 59).toDate()],
            dateRangeOpt: {
                shortcuts: [{
                    text: '1 天',
                    value: () => [dayjs().subtract(1, 'day').toDate(), dayjs().set('second', 0).toDate()]
                }, {
                    text: '3 天',
                    value: () => [dayjs().subtract(3, 'day').toDate(), dayjs().set('second', 0).toDate()]
                }, {
                    text: '7 天',
                    value: () => [dayjs().subtract(7, 'day').toDate(), dayjs().set('second', 0).toDate()]
                }]
            },
            confirmUrl: '/api/order/refund/confirm'
        };
    },
    methods: {
        async beforeQuery () {
            if (this.range[0] !== '') {
                this.table.query.start = dayjs(this.range[0]).format('YYYY-MM-DD HH:mm');
                this.table.query.end = dayjs(this.range[1]).format('YYYY-MM-DD HH:mm');
            }
        },
        async afterQuery () {
            this.table.query.start = '';
            this.table.query.end = '';
        },
        async confirmRefund (number) {
            const result = await this.fetch(`${this.confirmUrl}/${number}`, { 'method': 'POST' });
            if (result.success) {
                this.doQuery();
            }
        }
    }
};
</script>
