<template>
    <Layout style="height: 100%" class="main">
        <Sider hide-trigger collapsible :width="200" :collapsed-width="64" v-model="collapsed">
            <side-menu accordion :active-name="$route.name" :collapsed="collapsed" @on-select="turnToPage" :menu-list="menuList">
                <!-- 需要放在菜单上面的内容，如Logo，写在side-menu标签内部，如下 -->
                <div class="logo-con" style="margin-bottom:20px">
                    <img v-show="!collapsed" :src="maxLogo" key="max-logo" style="margin-left: 11px;margin-top:10px"/>
                    <img v-show="collapsed" :src="minLogo" key="min-logo" />
                </div>
            </side-menu>
        </Sider>
        <Layout style="background: #fff;">
            <Header class="header-con">
                <header-bar :collapsed="collapsed" @on-coll-change="handleCollapsedChange">
                    <user :user-avator="userAvator" />
                    <fullscreen v-model="isFullscreen" style="margin-right: 10px;" />
                </header-bar>
            </Header>
            <Content>
                <Layout style="background: #fff;">
                    <div class="tag-nav-wrapper">
                        <tags-nav :value="$route" @input="handleClick" :list="tagNavList" @on-close="handleCloseTag" />
                    </div>
                    <Content class="content-wrapper">
                        <keep-alive :include="cacheList">
                            <router-view/>
                        </keep-alive>
                    </Content>
                </Layout>
            </Content>
        </Layout>
    </Layout>
</template>
<script>
import SideMenu from './components/side-menu';
import HeaderBar from './components/header-bar';
import TagsNav from './components/tags-nav';
import User from './components/user';
import Fullscreen from './components/fullscreen';
import { mapMutations, mapActions } from 'vuex';
import { getNewTagList, getNextName } from '@/libs/util';
import minLogo from '@/assets/images/logo-min.png';
import maxLogo from '@/assets/images/logo.png';
export default {
    name: 'Main',
    components: {
        SideMenu,
        HeaderBar,
        TagsNav,
        Fullscreen,
        User
    },
    data () {
        return {
            collapsed: false,
            minLogo,
            maxLogo,
            isFullscreen: true
        };
    },
    computed: {
        tagNavList () {
            return this.$store.state.app.tagNavList;
        },
        tagRouter () {
            return this.$store.state.app.tagRouter;
        },
        userAvator () {
            return this.$store.state.user.avatorImgPath;
        },
        cacheList () {
            return this.tagNavList.length ? this.tagNavList.filter(item => !(item.meta && item.meta.notCache)).map(item => item.meta.name || item.name) : [];
        },
        menuList () {
            return this.$store.getters.menuList;
        }
    },
    watch: {
        '$route' (newRoute) {
            this.setBreadCrumb(newRoute.matched);
            this.setTagNavList(getNewTagList(this.tagNavList, newRoute));
        }
    },
    mounted () {
    /**
     * @description 初始化设置面包屑导航和标签导航
     */
        this.setTagNavList();
        this.addTag(this.$store.state.app.homeRoute);
        this.setBreadCrumb(this.$route.matched);
    },
    methods: {
        ...mapMutations([
            'setBreadCrumb',
            'setTagNavList',
            'addTag'
        ]),
        ...mapActions([
            'handleLogin'
        ]),
        turnToPage (item) {
            item = typeof item === 'string' ? { name: item } : item;
            const { name, query, params } = item;
            if (name.indexOf('isTurnByHref_') > -1) {
                window.open(name.split('_')[1]);
                return;
            }
            this.$router.push({
                name,
                query,
                params
            });
        },
        handleCollapsedChange (state) {
            this.collapsed = state;
        },
        handleCloseTag (res, type, name) {
            const nextName = getNextName(this.tagNavList, name);
            this.setTagNavList(res);
            if (type === 'all') this.turnToPage({ name: 'home' });
            else if (this.$route.name === name) this.$router.push({ name: nextName });
        },
        handleClick (item) {
            this.turnToPage(item);
        }
    }
};
</script>
<style lang="less">
.main {
    .logo-con {
        height: 64px;
        padding: 10px;
        img {
            height: 44px;
            width: auto;
            display: block;
            margin: 0 auto;
        }
    }
    .header-con {
        background: #fff;
        padding: 0 20px;
    }
    .tag-nav-wrapper {
        padding: 0;
        height: 40px;
        background: #f0f0f0;
        overflow: hidden;
    }
    .content-wrapper {
        padding: 24px;
    }
}
.ivu-menu-item > i {
    margin-right: 12px !important;
}
.ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
    margin-right: 8px !important;
}
</style>
