<template>
    <div>
        <Tabs type="card">
            <TabPane label="门票返利">
                <rebate-list type="5101"></rebate-list>
            </TabPane>
            <TabPane label="酒店返利">
                <rebate-list type="5102"></rebate-list>
            </TabPane>
            <TabPane label="线路返利">
                <rebate-list type="5103"></rebate-list>
            </TabPane>
        </Tabs>
    </div>
</template>

<script>
import RebateList from '@/components/rebate-list';
export default {
    name: 'RebateIndex',
    components: {
        RebateList
    },
    data () {
        return {

        };
    }
};
</script>
