<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">产品名称:</label>
            <Input v-model="table.query.name" placeholder="" clearable style="width: 200px"  class="margin-left-8"/>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <Table ref="selection" :columns="table.col" :data="table.data" @on-selection-change="onSelectedChange"></Table>
                <div style="margin: 10px;overflow: hidden">
                    <div style="float: right;">
                        <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                    </div>
                </div>
            </i-col>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <div align="center">
                    <Button class="margin-left-10" type="primary" @click="doAdd">添加</Button>
                    <Button class="margin-left-10" type="dashed" @click="doClose">关闭</Button>
                </div>
            </i-col>
        </Row>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import ModelView from '@/components/mixins/model-view';
import TagNav from '@/components/mixins/tag-nav';
import iView from 'iview';
export default {
    name: 'RebateProdList',
    mixins: [TableColRender, TableDataView, ModelView, TagNav],
    /**
     * formatter={value => `${Math.floor(value * 100) / 100}%`}
     * parser={value => value.replace('%', '')}
     */
    data () {
        return {
            selection: [],
            rebateType: [
                {
                    value: 1,
                    name: '百分比返利'
                },
                {
                    value: 2,
                    name: '固定返利'
                }
            ],
            table: {
                col: [{
                    type: 'selection',
                    width: 60,
                    align: 'center'
                }, {
                    title: '主产品名称',
                    key: 'productName',
                    tooltip: true
                }, {
                    title: '子产品名称',
                    key: 'name',
                    tooltip: true
                }, {
                    title: '进货价',
                    key: 'purchasePrice',
                    render: this.renderMoney,
                    width: 80
                }, {
                    title: '营销售价',
                    render: (h, params) => {
                        return (
                            <iView.InputNumber
                                v-model={this.table.data[params.index].price}
                                disabled={params.row.data.isSet}
                                min={0}
                                formatter={value => `￥${Math.floor(value * 100) / 100}`}
                                parser={value => value.replace('￥', '')}
                                onOn-change={ val => this.profitChangeHandler(val, params) }>
                            </iView.InputNumber>
                        );
                    },
                    width: 100
                }, {
                    title: '返利类型',
                    render: (h, params) => {
                        return (
                            <select style='height:30px;width:100px'
                                v-model={this.table.data[params.index].rebateType}
                                disabled={params.row.data.isSet}
                                on-change={ val => this.rebateTypeChange(val, params) }>
                                {this.rebateType.map(line => <option value={line.value} style='text-align: center; padding: 4px;'>
                                    {line.name}
                                </option>)}
                            </select>
                        );
                    },
                    width: 150
                }, {
                    title: '返利',
                    render: (h, params) => {
                        return (
                            <iView.InputNumber
                                min={0}
                                max={100}
                                ref="rebateInput"
                                v-model={this.table.data[params.index].rebate}
                                disabled={params.row.data.isSet}
                                formatter={value => this.table.data[params.index].rebateType === 1 ? `${Math.floor(value)}%` : `￥${Math.floor(value * 100) / 100}` }
                                parser={value => value.replace(this.table.data[params.index].rebateType === 1 ? '%' : '￥', '')}
                                onOn-change={ val => this.rebateChangeHandler(val, params) }>
                            </iView.InputNumber>
                        );
                    },
                    width: 100
                }],
                query: {
                    name: '',
                    type: this.$route.query['productType']
                },
                url: '/api/rebate/product/ticket'
            },
            addUrl: '/api/rebate/product/add'
        };
    },
    activated () {
        if (this.$route.query['productType'] !== undefined) {
            this.table.query.type = this.$route.query['productType'];
            this.doQuery();
        }
    },
    methods: {
        async afterQuery () {
            this.table.data.forEach(item => {
                item.price = item.data.price === undefined ? 0 : item.data.price / 100;
                if (item.data.rebateType && item.data.rebateType === 2) {
                    item.rebate = item.data.rebate === undefined ? 0 : item.data.rebate / 100;
                } else {
                    item.rebate = item.data.rebate === undefined ? 0 : item.data.rebate;
                }
                item.rebateType = item.data.rebateType === undefined ? 1 : item.data.rebateType;
                item._disabled = item.data.isSet;
                item._checked = item.data.isSet;
            });
        },
        onSelectedChange (selection) {
            this.selection = selection;
        },
        async doAdd () {
            const vo = this.selection.filter(item => !item.data.isSet).map(item => Object.assign({}, item, {
                subName: item.name,
                subCode: item.code,
                type: this.table.query.type,
                productImgs: JSON.stringify(item.img || []),
                price: item.price * 100,
                rebate: Number(item.rebateType) === 1 ? item.rebate : item.rebate * 100
            }));

            if (vo.length === 0) {
                this.$Message.error('至少选择一项!');
                return;
            }
            vo.forEach(item => ['name', 'code', 'img'].forEach(key => Reflect.deleteProperty(item, key)));
            const result = await this.fetch(this.addUrl, { method: 'post', data: vo });
            if (result.success) {
                this.$nextTick(this.doClose);
            }
        },
        doClose () {
            this.tagNavBack('RebateProdList');
        },
        profitChangeHandler (val, params) {
            const item = this.selection.find(item => item.code === params.row.code);
            if (item) {
                item.price = val;
            }
            if (!item && val > 0) {
                this.$refs.selection.toggleSelect(params.index);
            }
        },
        rebateTypeChange (val, params) {
            const { rebateInput } = this.$refs.selection.$children[1].$children[params.index].$children[6].$refs;
            rebateInput.setValue(1);
            rebateInput.setValue(0);
            const item = this.selection.find(item => item.code === params.row.code);
            if (item) {
                item.rebateType = Number(val.target.value);
            }
            if (!item) {
                this.$refs.selection.toggleSelect(params.index);
            }
        },
        rebateChangeHandler (val, params) {
            const item = this.selection.find(item => item.code === params.row.code);
            if (item) {
                item.rebate = val;
            }
            if (!item && val > 0) {
                this.$refs.selection.toggleSelect(params.index);
            }
        }
    }
};
</script>
