<template>
    <mu-container class="bottom_cla">
        <mu-bottom-nav class="mu-bottom-nav" :value="active">
            <mu-bottom-nav-item value="home" title="首页" icon="home" to="/"></mu-bottom-nav-item>
            <mu-bottom-nav-item value="member" title="我的" icon="person" to="/member"></mu-bottom-nav-item>
        </mu-bottom-nav>
    </mu-container>
</template>
<script>
export default {
    name: 'BottomButton',
    props: {
        active: {
            type: String,
            default: 'home'
        }
    },
    data () {
        return {
        };
    },
    methods: {

    }
};
</script>
<style lang="less">
.mu-bottom-nav {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  outline: none;
  position: fixed;
  color: rgba(0, 0, 0, 0.54);
  border-top-style: outset;
  border-top-width: 1px;
}
.bottom_cla {
  width: 100%;
  padding-right: 8px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: black;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}
</style>
