<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">产品名称:</label>
            <Input v-model="table.query.name" placeholder="" clearable style="width: 200px" />
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
            <Button class="margin-left-10" type="warning" @click="addRebateProd()" icon="search">添加拼团商品</Button>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <Table :columns="table.col" :data="table.data"></Table>
                <div style="margin: 10px;overflow: hidden">
                    <div style="float: right;">
                        <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                    </div>
                </div>
            </i-col>
        </Row>
        <Modal v-model="model" :mask-closable="false" :title="modelTitle" :loading="loadingBtn" @on-ok="addOrUpdate" @on-cancel="cancel">
            <div style="height: 300px;">
                <vue-scroll>
                    <Form ref="form" :model="vo" :label-width="80" :rules="validate">
                        <Form-item label="主产品名称">
                            <Input v-model="vo.productName" disabled style="width:250px"/>
                        </Form-item>
                        <Form-item label="子产品名称">
                            <Input v-model="vo.subName" disabled style="width:250px"/>
                        </Form-item>
                        <Form-item label="进货价">
                            <Input :model="vo.purchasePrice" :value="purchasePriceDesc" disabled style="width:100px"/>
                        </Form-item>
                        <Form-item label="利润" prop="profit">
                            <InputNumber v-model="vo.profit" :min="0" :max="100" :formatter="value => `${Math.floor(value)}%`" :parser="value => value.replace('%', '')" />
                        </Form-item>
                        <FormItem label="返利" prop="rebate">
                            <InputNumber v-model="vo.rebate" :min="0" :max="100" :formatter="value => `${Math.floor(value)}%`" :parser="value => value.replace('%', '')"/>
                        </FormItem>
                    </Form>
                </vue-scroll>
            </div>
        </Modal>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import ModelView from '@/components/mixins/model-view';
export default {
    name: 'GroupList',
    mixins: [TableColRender, TableDataView, ModelView],
    props: {
        type: String
    },
    data () {
        return {
            vo: {
                productName: null,
                subName: null,
                purchasePrice: null,
                profit: null,
                rebate: null
            },
            table: {
                col: [
                    {
                        title: '主产品名称',
                        key: 'productName',
                        tooltip: true
                    },
                    {
                        title: '子产品名称',
                        key: 'subName',
                        tooltip: true
                    },
                    {
                        title: '供应商',
                        key: 'supplier',
                        width: 200
                    },
                    {
                        title: '进货价',
                        key: 'purchasePrice',
                        render: (h, params) => this.renderMoney(h, params),
                        width: 80
                    },
                    {
                        title: '营销售价',
                        key: 'price',
                        render: (h, params) => this.renderMoney(h, params)
                    }, {
                        title: '拼团价',
                        key: 'groupPrice',
                        render: (h, params) => this.renderMoney(h, params)
                    }, {
                        title: '拼团人数',
                        key: 'num'
                    }, {
                        title: '最大可购数量',
                        key: 'maxQuantity'
                    }, {
                        title: '拼团须知',
                        key: 'notes',
                        tooltip: true
                    }, {
                        title: '操作',
                        key: 'action',
                        align: 'center',
                        render: (h, params) => {
                            let config = [];
                            config.push({
                                type: 'delete',
                                click: () => this.remove(params.row)
                            });
                            return this.renderActions(h, params, config);
                        }
                    }
                ],
                query: {
                    name: '',
                    type: this.type
                },
                url: '/api/group/product/list'
            },
            validate: {
                profit: [{ required: true, type: 'number', trigger: 'blur' }],
                rebate: [{ required: true, type: 'number', trigger: 'blur' }]
            },
            removeUrl: '/api/group/product/remove'
        };
    },
    computed: {
        generateAddOrUpdate () {
            return {
                method: this.method,
                data: Array.of(Object.assign(this.vo, {
                    profit: this.vo.profit
                }))
            };
        },
        purchasePriceDesc () {
            return '￥' + (this.vo.purchasePrice / 100).toFixed(2);
        }
    },
    activated () {
        this.doQuery();
    },
    methods: {
        addRebateProd () {
            this.$router.push({
                name: 'GroupBookingProdList',
                query: { productType: this.type }
            });
        }
    }
};
</script>
