<template>
    <mu-appbar style="width: 100%; position: fixed; z-index: 101; top: 0;">
        <div style="text-align: center;padding-right: 60px;font-size: 15px;">
            {{title}}
        </div>
        <mu-button icon slot="left" @click="jump(askBack, 'back')">
            <mu-icon value="arrow_back_ios"></mu-icon>
        </mu-button>
    </mu-appbar>
</template>
<script>
export default {
    name: 'Header',
    props: {
        title: String,
        askBack: {
            type: [String, Boolean],
            default: false
        },
        askHome: {
            type: [String, Boolean],
            default: false
        },
        askMember: {
            type: [String, Boolean],
            default: false
        }
    },
    data () {
        return {
            open: false
        };
    },
    methods: {
        async jump (ask, type) {
            this.open = false;
            if (ask !== false) {
                let result = await this.$confirm(ask, '提示', { type: 'warning' });
                if (!result.result) {
                    return;
                }
            }
            switch (type) {
                case 'back':
                    const current = this.$route.fullPath;
                    if (window.history.length <= 1) {
                        this.$router.push('/');
                    } else {
                        this.$router.go(-1);
                    }
                    setTimeout(() => {
                        if (this.$route.fullPath === current) {
                            this.$router.replace('/');
                        }
                    }, 500);
                    break;
                case 'home':
                    this.$router.push('/');
                    break;
                case 'member':
                    this.$router.push('/member');
                    break;
                default:
                    break;
            }
        }
    }
};
</script>
