<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">产品名称:</label>
            <Input v-model="table.query.name" placeholder="" clearable style="width: 200px" />
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
            <Button class="margin-left-10" type="warning" @click="addLimitProd()" icon="search">添加抢购商品</Button>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <Table :columns="table.col" :data="table.data"></Table>
                <div style="margin: 10px;overflow: hidden">
                    <div style="float: right;">
                        <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                    </div>
                </div>
            </i-col>
        </Row>
        <Modal v-model="model" :mask-closable="false" :title="modelTitle" :width="700" :loading="loadingBtn" @on-ok="addOrUpdate" @on-cancel="cancel">
            <div style="height: 400px;">
                <vue-scroll>
                    <Form ref="form" :model="vo" :label-width="100" :rules="validate">
                        <Row>
                            <i-col span="12">
                                <Form-item label="主产品名称：" prop="productId" v-show="isUpdate">
                                    {{vo.productName}}
                                </Form-item>
                                <Form-item label="主产品名称" prop="productId" v-show="!isUpdate">
                                    <search-select ref="proSec" @change="proChange" v-model="vo.productId" :select-style="{minWidth: '150px'}" select-width="auto" :on-search="searchPro" placeholder="主产品名称"></search-select>
                                </Form-item>
                            </i-col>
                            <i-col span="12">
                                <Form-item label="子产品名称：" prop="subCode" v-show="isUpdate">
                                    {{vo.subName}}
                                </Form-item>
                                <Form-item label="子产品名称" prop="subCode" v-show="!isUpdate">
                                    <search-select ref="subSec" @change="subChange" v-model="vo.subCode" :select-style="{minWidth: '150px'}" select-width="auto" :on-search="searchSub" placeholder="子产品名称"></search-select>
                                </Form-item>
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="24">
                                <Form-item label="活动标题" prop="title">
                                    <Input v-model="vo.title" style="width:150px"/>
                                </Form-item>
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="12">
                                <Form-item label="进货价">
                                    <InputNumber v-model="vo.purchasePrice" :formatter="value => `￥ ${Math.floor(value * 100) / 100}`" :parser="value => value.replace('￥', '')" readonly style="width:150px"/>
                                </Form-item>
                            </i-col>
                            <i-col span="12">
                                <Form-item label="抢购价" prop="price">
                                    <InputNumber v-model="vo.price" :min="0" style="width:150px" :formatter="value => `￥ ${Math.floor(value * 100) / 100}`" :parser="value => value.replace('￥', '')"/>
                                </Form-item>
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="12">
                                <FormItem label="抢购开始时间" prop="startTime">
                                    <DatePicker type="datetime" transfer v-model="vo.startTime" format="yyyy-MM-dd HH:mm" placeholder="请选择开始时间" style="width: 150px"></DatePicker>
                                </FormItem>
                            </i-col>
                            <i-col span="12">
                                <FormItem label="抢购结束时间" prop="endTime">
                                    <DatePicker type="datetime" transfer v-model="vo.endTime" format="yyyy-MM-dd HH:mm" placeholder="请选择结束时间" style="width: 150px"></DatePicker>
                                </FormItem>
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="12">
                                <Form-item label="序号">
                                    <InputNumber v-model="vo.seq" style="width:150px"/>
                                </Form-item>
                            </i-col>
                            <i-col span="12">
                                <Form-item label="抢购数量">
                                    <InputNumber v-model="vo.maxQuantity" :min="0" style="width:150px"/>
                                </Form-item>
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="21">
                                <Form-item label="抢购须知">
                                    <Input v-model="vo.notice" type="textarea" :rows="4" placeholder="请填写抢购须知" />
                                </Form-item>
                            </i-col>
                        </Row>
                    </Form>
                </vue-scroll>
            </div>
        </Modal>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import ModelView from '@/components/mixins/model-view';
import SearchSelect from '@/components/search-select.vue';
import dayjs from 'dayjs';
export default {
    name: 'LimitList',
    components: { SearchSelect },
    mixins: [TableColRender, TableDataView, ModelView],
    props: {
        type: String
    },
    data () {
        return {
            vo: {
                id: null,
                subName: null,
                subCode: null,
                purchasePrice: null,
                type: 5101,
                startTime: null,
                endTime: null,
                productId: null,
                productName: null,
                title: null,
                price: null,
                seq: 0,
                maxQuantity: 0,
                notice: null
            },
            table: {
                col: [
                    {
                        title: '主产品名称',
                        key: 'productName',
                        tooltip: true
                    },
                    {
                        title: '子产品名称',
                        key: 'subName',
                        tooltip: true
                    },
                    {
                        title: '供应商',
                        key: 'supplier',
                        width: 200
                    },
                    {
                        title: '进货价',
                        key: 'purchasePrice',
                        render: (h, params) => this.renderMoney(h, params),
                        width: 80
                    },
                    {
                        title: '抢购价',
                        key: 'price',
                        render: (h, params) => this.renderMoney(h, params),
                        width: 100
                    },
                    {
                        title: '抢购时间',
                        render: (h, params) => this.renderDateRange(h, params)('startTime', 'endTime'),
                        width: 300
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 200,
                        align: 'center',
                        render: (h, params) =>
                            this.renderActions(h, params, [
                                {
                                    config: {
                                        loading: this.loadingBtn,
                                        style: { marginRight: '5px' }
                                    },
                                    click: () => this.update(params.row),
                                    text: '修改'
                                },
                                {
                                    config: {
                                        loading: this.loadingBtn,
                                        style: { marginRight: '5px' }
                                    },
                                    type: 'delete',
                                    click: () => this.remove(params.row)
                                },
                                {
                                    config: {
                                        loading: this.loadingBtn
                                    },
                                    type: 'delete',
                                    text: '重新设置',
                                    title: '是否确定重新设置产品',
                                    click: () => this.reset(params.row)
                                }
                            ])
                    }
                ],
                query: {
                    name: '',
                    type: this.type
                },
                url: '/api/limit/product/list'
            },
            validate: {
                productId: [{ required: true, type: 'number', message: '请选择主产品', trigger: 'change' }],
                subCode: [{ required: true, type: 'number', message: '请选择子产品', trigger: 'change' }],
                title: [{ required: true, message: '请填写活动标题', trigger: 'blur' }],
                price: [{ required: true, type: 'number', message: '请填写抢购价', trigger: 'blur' }],
                startTime: [{ required: true, type: 'date', message: '请选择抢购开始时间', trigger: 'blur' }],
                endTime: [{ required: true, type: 'date', message: '请选择抢购结束时间', trigger: 'blur' }]
            },
            addUrl: '/api/limit/product/add',
            updateUrl: '/api/limit/product/update',
            removeUrl: '/api/limit/product/remove',
            resetUrl: '/api/limit/product/reset',
            isReset: false
        };
    },
    computed: {
        generateAddOrUpdate () {
            return {
                method: this.method,
                data: Array.of(Object.assign({}, this.vo, {
                    purchasePrice: this.vo.purchasePrice * 100,
                    price: this.vo.price * 100,
                    startTime: this.vo.startTime.valueOf(),
                    endTime: this.vo.endTime.valueOf()
                }))
            };
        },
        postUrl () {
            return this.isReset ? this.resetUrl : this.isUpdate ? this.updateUrl : this.addUrl;
        }
    },
    activated () {
        this.doQuery();
    },
    methods: {
        proChange (item) {
            this.vo.productName = item.name;
        },
        subChange (item) {
            this.vo.purchasePrice = item.purchasePrice / 100;
            this.vo.subName = item.name;
        },
        async searchPro (val) {
            const result = await this.fetch('/api/platform/product/search/product', { params: { name: val, type: 5101 } });
            if (result.success) {
                return result.value.slice(0, 20);
            }
            return [];
        },
        async searchSub (val) {
            if (!this.vo.productId) {
                this.$Message.error('请选择主产品!');
                return;
            }
            const result = await this.fetch(`/api/platform/product/search/sub/${this.vo.productId}`, { params: { name: val } });
            if (result.success) {
                return result.value.map(item => Object.assign({ id: item.code, name: item.name, purchasePrice: item.purchasePrice })).slice(0, 20);
            }
            return [];
        },
        async afterQuery () {
            this.table.data.forEach(item => {
                item.range = [dayjs(Number(item.startTime)).toDate(), dayjs(Number(item.endTime)).toDate()];
            });
        },
        addLimitProd () {
            this.$refs.proSec.clear();
            this.$refs.subSec.clear();
            this.vo = {
                id: null,
                subName: null,
                subCode: null,
                purchasePrice: null,
                type: 5101,
                startTime: null,
                endTime: null,
                productId: null,
                productName: null,
                title: null,
                price: null,
                seq: 0,
                maxQuantity: 0,
                notice: null
            };
            this.isReset = false;
            this.$super(ModelView).add();
        },
        update (item) {
            this.isReset = false;
            this.loadingBtn = true;
            this.model = true;
            this.vo = Object.assign({}, item, {
                startTime: dayjs(item.startTime).toDate(),
                endTime: dayjs(item.endTime).toDate(),
                purchasePrice: item.purchasePrice / 100,
                price: item.price / 100
            });
        },
        reset (item) {
            this.update(item);
            this.isReset = true;
        }
    }
};
</script>
