<template>
    <Form ref="loginForm" :model="form" :rules="rules" @keydown.enter.native="handleSubmit">
        <FormItem prop="username">
            <i-input v-model="form.username" placeholder="请输入用户名">
                <span slot="prepend">
                    <Icon :size="16" type="ios-person"></Icon>
                </span>
            </i-input>
        </FormItem>
        <FormItem prop="password">
            <i-input type="password" v-model="form.password" placeholder="请输入密码">
                <span slot="prepend">
                    <Icon :size="14" type="md-lock"></Icon>
                </span>
            </i-input>
        </FormItem>
        <FormItem>
            <Button @click="handleSubmit" type="primary" long>登录</Button>
        </FormItem>
    </Form>
</template>
<script>
export default {
    name: 'LoginForm',
    props: {
        userNameRules: {
            type: Array,
            default: () => {
                return [
                    { required: true, message: '账号不能为空', trigger: 'blur' }
                ];
            }
        },
        passwordRules: {
            type: Array,
            default: () => {
                return [
                    { required: true, message: '密码不能为空', trigger: 'blur' }
                ];
            }
        }
    },
    data () {
        return {
            form: {
                username: 'admin',
                password: ''
            }
        };
    },
    computed: {
        rules () {
            return {
                username: this.userNameRules,
                password: this.passwordRules
            };
        }
    },
    methods: {
        async handleSubmit () {
            let valid = await this.$refs.loginForm.validate();
            if (valid) {
                this.$emit('on-success-valid', {
                    username: this.form.username,
                    password: this.form.password
                });
            }
        }
    }
};
</script>
