<template>
    <mu-dialog class="poster" :open.sync="openPoster" v-loading="loading">
        <div v-if="!!result" :style="imgStyle">
            <img :src="result" />
        </div>
        <div class="wrap" v-else>
            <div class="title" v-if="!!title">{{ title }}</div>
            <div class="img" :style="`height: ${imageHeight}px`">
                <img :src="dataURL" />
            </div>
            <div>
                <mu-row>
                    <mu-col class="notes">{{ notes }}</mu-col>
                    <mu-col span="4" class="price">
                        <div style="color: red;bottom: 20px;">￥{{Number(price) / 100}}起</div>
                    </mu-col>
                </mu-row>
            </div>
            <mu-divider style="margin-top: 12px; margin-bottom: 12px;"></mu-divider>
            <div class="bottom">
                <div style="margin-right: 8px; margin-bottom: 8px;">
                    <img :src="qr" />
                </div>
                <div class="text">
                    长按识别图中的二维码 查看详情
                </div>
            </div>
        </div>
        <div class="save">
            <div>
                <mu-icon size="14" color="green" value="arrow_upward"></mu-icon>
                <mu-icon size="14" color="green" value="arrow_upward"></mu-icon>
                <mu-icon size="14" color="green" value="arrow_upward"></mu-icon>
                长按上方保存图片
            </div>
        </div>
    </mu-dialog>
</template>
<script>
import { ShareLink } from '@/libs/shop-common';
import qrcode from 'qrcode';
import html2canvas from 'html2canvas';
export default {
    name: 'poster',
    props: {
        value: {
            type: Boolean,
            required: true
        },
        title: {
            type: String
        },
        image: {
            type: String,
            required: true
        },
        notes: {
            type: String,
            required: true
        },
        price: {
            type: [Number, String],
            required: true
        }
    },
    data () {
        return {
            qr: null,
            dataURL: null,
            openPoster: this.value,
            height: 0,
            imageHeight: 100,
            result: null,
            imgStyle: {},
            loading: false
        };
    },
    computed: {
        member () {
            return this.$store.state.user.member;
        }
    },
    watch: {
        value (val) {
            this.openPoster = val;
        },
        openPoster (val) {
            this.$emit('input', val);
            if (val && !this.result) {
                const img = new Image();
                img.setAttribute('crossOrigin', 'Anonymous');
                this.loading = true;
                setTimeout(() => this.loading = false, 5 * 1000);
                img.onload = () => {
                    this.imageHeight = img.height > this.height ? this.height : img.height;
                    const canvas = document.createElement('canvas');
                    canvas.width = img.width;
                    canvas.height = img.height;
                    const ctx = canvas.getContext('2d');
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                    this.dataURL = canvas.toDataURL();
                    this.$nextTick(() => this.render());
                };
                img.src = `${this.image}?t=${Date.now()}`;
            }
        }
    },
    async mounted () {
        this.height = (document.documentElement.clientHeight || document.body.clientHeight) * 0.4;
        const url = ShareLink(this.member.id);
        this.qr = await qrcode.toDataURL(url, { margin: 2 });
    },
    methods: {
        async render () {
            const el = document.querySelector('.mu-dialog', this.$el);
            const width = el.offsetWidth; // 获取dom 宽度
            const height = el.offsetHeight - 40; // 获取dom 高度
            const canvas = document.createElement('canvas'); // 创建一个canvas节点
            const scale = 8; // 定义任意放大倍数 支持小数
            canvas.width = width * scale; // 定义canvas 宽度 * 缩放
            canvas.height = height * scale; // 定义canvas高度 *缩放
            canvas.getContext('2d').scale(scale, scale); // 获取context,设置scale
            const c = await html2canvas(el, {
                scale,
                canvas,
                width,
                height,
                useCORS: true,
                ignoreElements: (dom) => {
                    return dom === document.querySelector('.save');
                }
            });
            const context = canvas.getContext('2d');
            context.mozImageSmoothingEnabled = false;
            context.webkitImageSmoothingEnabled = false;
            context.msImageSmoothingEnabled = false;
            context.imageSmoothingEnabled = false;
            this.imgStyle = { widht: canvas.width / scale, height: canvas.height / scale };
            this.result = c.toDataURL('image/jpeg', 1);
            this.$nextTick(() => this.loading = false);
        }
    }
};
</script>
<style lang="less" scoped>
.title {
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 12px 0 12px 0;
}
.wrap {
  padding: 0 20px;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.img {
  margin-bottom: 18px;
  max-height: 500px;
  text-align: center;
}
.notes {
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  text-align: right;
}
.text {
  display: table-cell;
  vertical-align: middle;
}
.bottom {
  display: table-row;
}
.save {
  text-align: center;
  user-select: none;
  i {
    position: relative;
    top: 2px;
  }
  div {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #c2185b;
  }
}
</style>
<style lang="less">
.poster {
  .mu-dialog-body {
    padding: 0;
  }
}
</style>
