<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">产品名称:</label>
            <Input v-model="table.query.name" placeholder="" clearable style="width: 200px" />
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
            <Button class="margin-left-10" type="warning" @click="addRebateProd()" icon="search">添加返利商品</Button>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <Table :columns="table.col" :data="table.data"></Table>
                <div style="margin: 10px;overflow: hidden">
                    <div style="float: right;">
                        <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                    </div>
                </div>
            </i-col>
        </Row>
        <Modal v-model="model" :mask-closable="false" :title="modelTitle" :loading="loadingBtn" @on-ok="addOrUpdate" @on-cancel="cancel">
            <div style="height: 300px;">
                <vue-scroll>
                    <Form ref="form" :model="vo" :label-width="80" :rules="validate">
                        <Form-item label="主产品名称">
                            <Input v-model="vo.productName" disabled style="width:250px"/>
                        </Form-item>
                        <Form-item label="子产品名称">
                            <Input v-model="vo.subName" disabled style="width:250px"/>
                        </Form-item>
                        <Form-item label="进货价">
                            <InputNumber v-model="vo.purchasePrice" readonly style="width:100px" :formatter="value => `￥${Math.floor(value * 100) / 100}`" :parser="value => value.replace('￥', '')"/>
                        </Form-item>
                        <Form-item label="营销售价" prop="price">
                            <InputNumber v-model="vo.price" :min="0" :formatter="value => `￥${Math.floor(value * 100) / 100}`" :parser="value => value.replace('￥', '')" />
                        </Form-item>
                        <Form-item label="返利类型">
                            <Select v-model="vo.rebateType" style="width:250px">
                                <Option v-for="item in rebateType" :value="item.value" :key="item.value">{{ item.name }}</Option>
                            </Select>
                        </Form-item>
                        <FormItem label="返利" prop="rebate">
                            <InputNumber v-model="vo.rebate" :min="0" :max="100" :formatter="value => Number(vo.rebateType) === 1 ? `${Math.floor(value)}%` : `￥${Math.floor(value)}`" :parser="value => value.replace(vo.rebateType === 1 ? '%' : '￥', '')"/>
                        </FormItem>
                    </Form>
                </vue-scroll>
            </div>
        </Modal>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import ModelView from '@/components/mixins/model-view';
import { formatNumber } from '@/libs/common';
export default {
    name: 'RebateList',
    mixins: [TableColRender, TableDataView, ModelView],
    props: {
        type: String
    },
    data () {
        return {
            rebateType: [
                {
                    value: 1,
                    name: '百分比返利'
                },
                {
                    value: 2,
                    name: '固定返利'
                }
            ],
            formatNumber,
            vo: {
                productName: null,
                subName: null,
                purchasePrice: null,
                price: null,
                rebate: null,
                rebateType: null
            },
            table: {
                col: [
                    {
                        title: '主产品名称',
                        key: 'productName',
                        tooltip: true
                    },
                    {
                        title: '子产品名称',
                        key: 'subName',
                        tooltip: true
                    },
                    {
                        title: '供应商',
                        key: 'supplier',
                        width: 200
                    },
                    {
                        title: '进货价',
                        key: 'purchasePrice',
                        render: (h, params) => this.renderMoney(h, params),
                        width: 80
                    },
                    {
                        title: '营销售价',
                        key: 'price',
                        render: (h, params) => this.renderMoney(h, params),
                        width: 100
                    },
                    {
                        title: '返利',
                        key: 'rebate',
                        render: (h, params) => params.row.rebateType === 1 ? this.renderAppend(h, params)('%') : this.renderMoney(h, params),
                        width: 100
                    },
                    {
                        title: '创建时间',
                        key: 'createTime',
                        render: this.renderDate,
                        width: 150
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 200,
                        align: 'center',
                        render: (h, params) =>
                            this.renderActions(h, params, [
                                {
                                    config: {
                                        loading: this.loadingBtn,
                                        style: { marginRight: '5px' }
                                    },
                                    click: () => this.update(params.row),
                                    text: '修改'
                                },
                                {
                                    type: 'delete',
                                    click: () => this.remove(params.row)
                                }
                            ])
                    }
                ],
                query: {
                    name: '',
                    type: this.type
                },
                url: '/api/rebate/product/list'
            },
            validate: {
                price: [{ required: true, type: 'number', trigger: 'blur' }],
                rebate: [{ required: true, type: 'number', trigger: 'blur' }]
            },
            updateUrl: '/api/rebate/product/update',
            removeUrl: '/api/rebate/product/remove'
        };
    },
    computed: {
        generateAddOrUpdate () {
            return {
                method: this.method,
                data: Array.of(Object.assign({}, this.vo, {
                    price: this.vo.price * 100,
                    purchasePrice: this.vo.purchasePrice * 100,
                    rebate: Number(this.vo.rebateType) === 1 ? this.vo.rebate : this.vo.rebate * 100
                }))
            };
        }
    },
    activated () {
        this.doQuery();
    },
    methods: {
        update (item) {
            this.$super(ModelView).update(Object.assign({}, item, { price: item.price / 100, purchasePrice: item.purchasePrice / 100, rebate: Number(item.rebateType) === 1 ? item.rebate : item.rebate / 100 }));
            console.log(this.vo);
        },
        addRebateProd () {
            this.$router.push({
                name: 'RebateProdList',
                query: { productType: this.type }
            });
        }
    }
};
</script>
