<template>
    <div :class="['rule-table', className]">
        <mu-expansion-panel :expand.sync="isExpand" class="refund-rule" style="margin-bottom: 10px;" @change="changeHandler">
            <div slot="header">
                <slot name="title">
                    <mu-icon :value="isExpand ? 'arrow_drop_down' : 'arrow_right'" style="float: left;"></mu-icon>
                    <span>退改规则</span>
                </slot>
            </div>
            <div v-if="rule.refund === 'false'" style="text-align: center;">
                <span>不可退</span>
            </div>
            <div v-if="rule.refund === 'true' && rule.all === '1'" style="text-align: center;">
                <span>无损退</span>
            </div>
            <mu-data-table :columns="columns" :data="desc" v-if="rule.refund === 'true' && rule.all === '0'">
                <template slot-scope="{row}">
                    <td>{{row.refundDesc}}</td>
                    <td>{{row.refundRate}}</td>
                </template>
            </mu-data-table>
        </mu-expansion-panel>
    </div>
</template>
<script>
export default {
    name: 'RefundRule',
    props: {
        className: String,
        desc: Array,
        rule: Object,
        columns: {
            type: Array,
            default () {
                return [
                    { title: '退订时间T', width: 210 },
                    { title: '手续费', width: 110 }
                ];
            }
        },
        expand: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            isExpand: this.expand
        };
    },
    methods: {
        changeHandler (expand) {
            this.$emit('change', expand);
        }
    }
};
</script>
<style lang="less">
.rule-table {
  .mu-table tr {
    color: rgba(0, 0, 0, 0.87);
    height: 30px;
  }
  .mu-table th {
    font-weight: 400;
    font-size: 12px;
    padding-left: 24px;
    padding-right: 0px;
    height: 30px;
    color: rgba(0, 0, 0, 0.54);
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    white-space: nowrap;
  }
  .mu-table td {
    padding-left: 24px;
    padding-right: 0px;
    min-height: 48px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .mu-table-body {
    width: 100% !important;
  }
  .mu-table-header {
    width: 100% !important;
  }
  .mu-table-empty {
    min-height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
  }
  .mu-expansion-panel-content {
    padding: 0 0;
  }
}
</style>
