<template>
    <Dropdown class="search-select" trigger="custom" :visible="visible" :style="{ width: valueWidth }">
        <Input v-model="val" @input="$emit('input', $event)" :icon="loading ? 'ios-loading' : null" @on-blur="blurHandler" :readonly="loading" :enter-button="enterButton" @on-focus="focusHanlder" :placeholder="placeholder" search @on-search="query" :style="{ width: inputWidth }" />
        <DropdownMenu slot="list" :style="selectStyle">
            <DropdownItem v-for="(item, index) in data" :key="index" @click.native.stop="clickHandler(item)" :disabled="item.disabled" :divided="item.divided" :name="item.name">{{ item.name }}</DropdownItem>
        </DropdownMenu>
    </Dropdown>
</template>
<script>
export default {
    name: 'SearchSelect',
    props: {
        width: {
            type: [Number, String],
            default: 150
        },
        selectWidth: {
            type: [Number, String],
            default: 150
        },
        selectStyle: {
            type: Object
        },
        placeholder: {
            type: String
        },
        onSearch: {
            type: Function,
            required: true
        },
        value: {
            type: [String, Number]
        },
        enterButton: {
            type: [Boolean, String],
            default: false
        }
    },
    data () {
        return {
            visible: false,
            val: this.value,
            loading: false,
            data: []
        };
    },
    computed: {
        inputWidth () {
            return this.width ? typeof this.width === 'string' ? this.width : `${this.width}px` : 'auto';
        },
        valueWidth () {
            return this.selectWidth ? typeof this.selectWidth === 'string' ? this.selectWidth : `${this.selectWidth}px` : 'auto';
        }
    },
    methods: {
        clear () {
            this.val = null;
            this.data = [];
        },
        clickHandler (item) {
            this.visible = false;
            this.val = item.name;
            this.$emit('input', item.id);
            this.$emit('change', item);
        },
        focusHanlder () {
            if (this.data && this.data.length) {
                this.visible = true;
            }
        },
        blurHandler () {
            setTimeout(() => this.visible = false, 100);
        },
        async query (value) {
            this.loading = true;
            try {
                const data = await this.onSearch(value);
                this.data = data;
                this.visible = true;
            } finally {
                this.loading = false;
            }
        }
    }
};
</script>
<style>
.search-select .ivu-input-wrapper .ivu-icon-ios-loading {
    animation: ani-demo-spin 1s linear infinite;
}
</style>
