<template>
    <div :style="wStyle">
        <slot name="left">
            <div :style="tStyle">
                <div :style="lStyle">{{label}}</div>
                <b :style="pStyle">￥{{price}}</b>
            </div>
        </slot>
        <slot name="right">
            <mu-button large :color="btnColor" :to="to" :disabled="disable" :class="btnClass" :style="bStyle" @click="buy">{{btnName}}</mu-button>
        </slot>
    </div>
</template>
<script>
export default {
    name: 'ShopBuyBtn',
    props: {
        price: {
            type: [String, Number],
            required: true
        },
        disabled: {
            type: Boolean,
            default: false
        },
        to: [String, Object],
        btnName: {
            type: String,
            default: '提交订单'
        },
        label: {
            type: String,
            default: '订单金额：'
        },
        btnClass: String,
        btnStyle: Object,
        btnColor: {
            type: String,
            default: 'yellow700'
        },
        wapperStyle: Object,
        textStyle: Object,
        priceStyle: Object,
        labelStyle: Object,
        submit: Function
    },
    data () {
        return {
            buying: false
        };
    },
    computed: {
        disable () {
            return this.disabled || this.buying;
        },
        wStyle () {
            return Object.assign({
                width: '100%', position: 'fixed', bottom: 0, backgroundColor: 'rgba(0, 0, 0, 0.5)'
            }, this.wapperStyle);
        },

        tStyle () {
            return Object.assign({
                textAlign: 'left', color: '#fff', paddingLeft: '20px', float: 'left'
            }, this.textStyle);
        },

        pStyle () {
            return Object.assign({
                fontSize: '20px', lineHeight: '44px'
            }, this.priceStyle);
        },

        bStyle () {
            return Object.assign({
                color: '#000', float: 'right', borderRadius: 0
            }, this.btnStyle);
        },

        lStyle () {
            return Object.assign({
                lineHeight: '44px', float: 'left'
            }, this.labelStyle);
        }
    },
    methods: {
        async buy () {
            if (typeof this.submit !== 'function') {
                return;
            }
            this.buying = true;
            try {
                await this.submit();
            } finally {
                this.buying = false;
            }
        }
    }
};
</script>
