<template>
    <div>
        <mu-bottom-sheet :open.sync="open">
            <mu-list @item-click="open = false">
                <mu-sub-header>请选择分享方式</mu-sub-header>
                <mu-list-item button v-for="(line, index) in shareMethod" :key="index" @click="choose(line)">
                    <mu-list-item-action>
                        <mu-icon :value="line.icon"></mu-icon>
                    </mu-list-item-action>
                    <mu-list-item-title>{{line.name}}</mu-list-item-title>
                </mu-list-item>
            </mu-list>
        </mu-bottom-sheet>
        <poster v-if="!!member" v-model="openPoster" :title="title" :image="image" :notes="notes" :price="price"></poster>
    </div>
</template>
<script>
import poster from '@/components/poster.vue';
export default {
    name: 'ShopShare',
    components: { poster },
    props: {
        value: {
            type: Boolean,
            required: true
        },
        title: {
            type: String
        },
        image: {
            type: String,
            required: true
        },
        notes: {
            type: String,
            required: true
        },
        price: {
            type: [Number, String],
            required: true
        }
    },
    data () {
        return {
            open: this.value,
            openPoster: false,
            shareMethod: [
                { name: '生成二维码', type: 2, icon: ':iconfont icon-qrcode-scan' }
            ]
        };
    },
    computed: {
        member () {
            return this.$store.state.user.member;
        }
    },
    watch: {
        async value (v) {
            if (v) {
                if (!this.member) {
                    this.$emit('input', false);
                    this.$router.push({
                        name: 'bind',
                        params: { jump: this.$route }
                    });
                    return;
                }
            }
            this.open = v;
        },
        open (v) {
            this.$emit('input', v);
        }
    },
    methods: {
        choose (line) {
            if (line.type === 2) {
                this.openPoster = true;
            }
        }
    }
};
</script>
