<template>
    <div>
        <div class="demo-upload-list" v-for="(item,index) in imgs" :key="index">
            <template v-if="item.status">
                <img :src="`${IMG_ADDRESS}/${item.name}`">
                <div class="demo-upload-list-cover">
                    <Icon type="ios-eye-outline" @click.native="handleView(item.url)"></Icon>
                    <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
                </div>
            </template>
            <template v-else>
                <Spin size="large" fix v-if="!item.status"></Spin>
            </template>
        </div>
        <Upload ref="upload" v-show="imgLength" :show-upload-list="false" multiple :before-upload="handleBeforeUpload" type="drag" action="#" style="display: inline-block;width:120px">
            <div style="width: 120px;height:120px;line-height: 120px;">
                <Icon type="ios-camera" size="20"></Icon>
            </div>
        </Upload>
        <Modal title="查看图片" v-model="visible">
            <img :src="imgUrl" v-if="visible" style="width: 100%">
        </Modal>
    </div>
</template>
<script>
import OSS from 'ali-oss';
import { FileSha1 } from '@/libs/common';
const IMG_ADDRESS = process.env.VUE_APP_IMG_ADDRESS;
export default {
    name: 'OssUpload',
    props: {
        imgs: {
            type: Array
        },
        size: {
            type: Number,
            default: 0
        }
    },
    data () {
        return {
            IMG_ADDRESS,
            imgUrl: '',
            visible: false
        };
    },
    computed: {
        imgLength () {
            if (this.imgs.length < this.size || this.imgs.length === 0) {
                return true;
            }
            return false;
        }
    },
    methods: {
        handleView (url) {
            this.imgUrl = url;
            this.visible = true;
        },
        handleRemove (file) {
            this.imgs.splice(this.imgs.indexOf(file), 1);
        },
        handleBeforeUpload (file) {
            console.log(file);
            if (this.imgs.length >= this.size) {
                this.$Notice.warning({
                    title: `最多可上传${this.size}张商品图片`
                });
                return false;
            }
            if (file.size > 2097152) {
                this.$Notice.warning({
                    title: '上传图片大小超出限制',
                    desc: `图片${file.name}太大, 最大只能2M.`
                });
                return false;
            }
            if (file.type !== 'image/jpeg' && file.type !== 'image/png') {
                this.$Notice.warning({
                    title: '图片格式不正确',
                    desc: `图片${file.name}格式不正确, 请选择jpg和png。`
                });
                return false;
            }
            this.uploadFile(file);
            return false;
        },
        async uploadFile (file) {
            const index = file.name.lastIndexOf('.');
            const suffix = index > -1 ? file.name.substring(index) : '';
            const sha1 = await FileSha1(file);
            if (!this.imgs.some(v => v === sha1)) {
                this.imgs.push({ status: false, sha1 });
                const sts = await this.fetch('/api/oss/sts');
                if (sts.success) {
                    const client = new OSS({
                        region: sts.data.region,
                        accessKeyId: sts.value.accessKeyId,
                        accessKeySecret: sts.value.accessKeySecret,
                        stsToken: sts.value.securityToken,
                        bucket: sts.data.imgBucket
                    });
                    const result = await client.put(`mshop/imgs/${sha1}${suffix}`, file);
                    const img = this.imgs.find(v => v.sha1 === sha1);
                    if (img) {
                        img.status = true;
                        img.url = result.url;
                        img.name = result.name;
                    }
                    console.log(result);
                }
            }
        }
    }
};
</script>
<style lang="less">
.demo-upload-list {
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-right: 4px;
}
.demo-upload-list img {
  width: 100%;
  height: 100%;
}
.demo-upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.demo-upload-list:hover .demo-upload-list-cover {
  display: block;
}
.demo-upload-list-cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
</style>
