<template>
    <div>
        <Header title="订单详情"></Header>
        <mu-list style="padding-top: 64px;">
            <mu-paper style="margin-bottom: 10px;" :z-depth="1">
                <mu-container style="padding: 10px">
                    <div>订单状态:
                        <span style="color: #d93c37; margin-left: 10px;">{{detail.statusDesc || detail.statusName}}</span>
                    </div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div>订单金额:
                        <span style="color: #d93c37; margin-left: 10px;">￥{{detail.data.money / 100}}</span>
                    </div>
                </mu-container>
            </mu-paper>
            <mu-paper style="margin-bottom: 10px;" :z-depth="1">
                <mu-container style="padding: 10px">
                    <div>购票数量:
                        <span style="margin-left: 10px;">{{detail.data.quantity * detail.data.days}}({{detail.data.quantity}}间/{{detail.data.days}}夜)</span>
                    </div>
                    <div class="buy-number list-item">
                        <span>已退票: {{detail.refundQuantity}}</span>
                        <span>已使用: {{detail.usedQuantity}}</span>
                        <span>已过期: {{detail.expiredQuantity}}</span>
                    </div>
                </mu-container>
            </mu-paper>
            <mu-paper style="margin-bottom: 10px;" :z-depth="1">
                <mu-container style="padding: 10px">
                    <div>
                        <b>{{detail.data.productName}}--{{detail.data.subName}}</b>
                    </div>
                    <mu-divider style="margin-top: 8px;"></mu-divider>
                    <div class="list-item">入住时间：{{DateFormat(detail.start)}}</div>
                    <mu-divider style="margin-top: 8px;"></mu-divider>
                    <div class="list-item">离店时间：{{DateFormat(detail.end)}}</div>
                    <mu-divider style="margin-top: 8px;"></mu-divider>
                    <div class="list-item">生效时间：{{DateFormat(detail.minEffectiveDate)}}</div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div class="list-item">过期时间：{{DateFormat(detail.maxExpiryDate)}}</div>
                </mu-container>
            </mu-paper>
            <refund-rule v-if="canRefund" :rule="custRefundRule" :desc="detail.data.refundRuleDesc"></refund-rule>
            <mu-paper style="margin-bottom: 10px;" :z-depth="1">
                <mu-container style="padding: 10px">
                    <div>
                        <b style="font-size: 16px;">取票信息</b>
                    </div>
                    <div>
                        <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                        <div class="list-item">取票人: {{detail.name}}</div>
                        <div class="list-item">电话号码: {{detail.phone}}</div>
                    </div>
                </mu-container>
            </mu-paper>
            <mu-paper :z-depth="1" style="margin-bottom: 40px;">
                <mu-container style="padding: 10px">
                    <div>
                        <b style="font-size: 16px;">订单信息</b>
                    </div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div class="list-item">订单编号: {{detail.data.orderNumber}}</div>
                    <div class="list-item">下单时间: {{DateFormat(detail.data.createTime)}}</div>
                </mu-container>
            </mu-paper>
            <shop-buy-btn :price="detail.data.money / 100" :submit="toPay" btn-name="去支付" v-if="[311, 312].includes(detail.status)"></shop-buy-btn>
            <shop-buy-btn :price="detail.data.money / 100" :to="rerfunBtnTo" :disabled="remindCount <= 0" :btn-name="refundBtnName" v-else-if="canRefund && [325, 322, 323].includes(detail.itemStatus)"></shop-buy-btn>
        </mu-list>
    </div>
</template>
<script>
import Header from '@/components/header.vue';
import RefundRule from '@/components/refund-rule.vue';
import ShopBuyBtn from '@/components/shop-buy-btn.vue';
import detail from '@/components/mixins/shop-order-detail';
import { DateFormat } from '@/libs/common';
export default {
    name: 'OrderDetailHotel',
    components: { Header, RefundRule, ShopBuyBtn },
    mixins: [ detail ],
    data () {
        return {
            DateFormat
        };
    },
    computed: {
        canRefund () {
            return process.env.VUE_APP_CAN_REFUND === 'true';
        }
    }
};
</script>
