<template>
    <div>
        <Tabs type="card">
            <TabPane label="门票拼团">
                <group-list type="5101"></group-list>
            </TabPane>
            <TabPane label="酒店拼团">
                <group-list type="5102"></group-list>
            </TabPane>
            <TabPane label="线路拼团">
                <group-list type="5103"></group-list>
            </TabPane>
        </Tabs>
    </div>
</template>

<script>
import GroupList from '@/components/group-list';
export default {
    name: 'GroupBookingIndex',
    components: {
        GroupList
    },
    data () {
        return {

        };
    }
};
</script>
