<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">产品名称:</label>
            <Input v-model="table.query.name" placeholder="" clearable style="width: 200px"  class="margin-left-8"/>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <Table :columns="table.col" :data="table.data"></Table>
                <div style="margin: 10px;overflow: hidden">
                    <div style="float: right;">
                        <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                    </div>
                </div>
            </i-col>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <div align="center">
                    <Button class="margin-left-10" type="dashed" @click="doClose">关闭</Button>
                </div>
            </i-col>
        </Row>
        <Modal v-model="model" :mask-closable="false" title="拼团设置" :width="500" :loading="loadingBtn" @on-ok="addOrUpdate" @on-cancel="cancel">
            <div style="height: 500px;">
                <Form ref="form" :model="vo" :label-width="100" :rules="validate">
                    <Form-item label="主产品名称">
                        <Input v-model="vo.productName" disabled style="width:250px"/>
                    </Form-item>
                    <Form-item label="子产品名称">
                        <Input v-model="vo.name" disabled style="width:250px"/>
                    </Form-item>
                    <Form-item label="进货价">
                        <Input :model="vo.purchasePrice" :value="purchasePriceDesc" disabled style="width:100px"/>
                    </Form-item>
                    <Form-item label="营销售价" prop="price">
                        <InputNumber v-model="vo.price"  :min="0" style="width:100px"/>
                    </Form-item>
                    <Form-item label="拼团价" prop="groupPrice">
                        <InputNumber v-model="vo.groupPrice" :min="0" style="width:100px"/>
                    </Form-item>
                    <FormItem label="拼团人数" prop="num">
                        <InputNumber v-model="vo.num" :min="0" style="width:100px"/>
                    </FormItem>
                    <FormItem label="最大可购数量" prop="maxQuantity">
                        <InputNumber v-model="vo.maxQuantity" :min="0" style="width:100px"/>
                    </FormItem>
                    <FormItem label="拼团须知">
                        <Input v-model="vo.notes" type="textarea" style="width:65%" :rows="4"/>
                    </FormItem>
                </Form>
            </div>
        </Modal>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import ModelView from '@/components/mixins/model-view';
import TagNav from '@/components/mixins/tag-nav';
export default {
    name: 'GroupBookingProdList',
    mixins: [TableColRender, TableDataView, ModelView, TagNav],
    data () {
        return {
            vo: {
                id: null,
                productId: null,
                productName: null,
                name: null,
                productImgs: null,
                subCode: null,
                subName: null,
                supplier: null,
                type: null,
                purchasePrice: null,
                price: null,
                groupPrice: null,
                num: null,
                maxQuantity: null,
                notes: null
            },
            table: {
                col: [{
                    title: '主产品名称',
                    key: 'productName',
                    tooltip: true
                }, {
                    title: '子产品名称',
                    key: 'name',
                    tooltip: true
                }, {
                    title: '进货价',
                    key: 'purchasePrice',
                    render: this.renderMoney
                }, {
                    title: '营销售价',
                    key: 'price'
                }, {
                    title: '拼团价',
                    key: 'groupPrice'
                }, {
                    title: '拼团人数',
                    key: 'num'
                }, {
                    title: '最大可购数量',
                    key: 'maxQuantity'
                }, {
                    title: '拼团须知',
                    key: 'notes',
                    tooltip: true
                }, {
                    title: '操作',
                    key: 'action',
                    align: 'center',
                    render: (h, params) => {
                        let config = [];
                        if (params.row.data.isSet) {
                            config.push({
                                config: { loading: this.loadingBtn, style: { marginRight: '5px' } },
                                click: () => this.update(params.row),
                                text: '修改'
                            });
                        } else {
                            config.push({
                                config: { loading: this.loadingBtn, style: { marginRight: '5px' } },
                                click: () => this.edit(params.row),
                                text: '设置'
                            });
                        }
                        return this.renderActions(h, params, config);
                    }
                }],
                query: {
                    name: '',
                    type: this.$route.query['productType']
                },
                url: '/api/group/product/ticket'
            },
            validate: {
                price: [{ required: true, type: 'number', trigger: 'blur', message: '请输入营销售价' }],
                groupPrice: [{ required: true, type: 'number', trigger: 'blur', message: '请输入拼团售价' }],
                num: [{ required: true, type: 'number', trigger: 'blur', message: '请输入拼团人数' }],
                maxQuantity: [{ required: true, type: 'number', trigger: 'blur', message: '请输入最大可购数量' }]
            },
            addUrl: '/api/group/product/add',
            updateUrl: '/api/group/product/update',
            removeUrl: '/api/group/product/remove'
        };
    },
    computed: {
        purchasePriceDesc () {
            return '￥' + (this.vo.purchasePrice / 100).toFixed(2);
        },
        isUpdate () {
            return this.vo.id !== null && this.vo.id !== undefined;
        }
    },
    activated () {
        if (this.$route.query['productType'] !== undefined) {
            this.table.query.type = this.$route.query['productType'];
            this.doQuery();
        }
    },
    methods: {
        async afterQuery (data) {
            this.table.data.forEach(item => {
                item.price = item.data.price === undefined ? 0 : item.data.price / 100;
                item.groupPrice = item.data.groupPrice === undefined ? 0 : item.data.groupPrice / 100;
                item.num = item.data.num === undefined ? 0 : item.data.num;
                item.maxQuantity = item.data.maxQuantity === undefined ? 0 : item.data.maxQuantity;
                item.notes = item.data.notes === undefined ? null : item.data.notes;
            });
        },
        edit (item) {
            this.model = true;
            this.loadingBtn = true;
            Object.keys(this.vo).forEach(key => this.vo[key] = item[key]);
            this.vo.productImgs = JSON.stringify(item.img || []);
            this.vo.subCode = item.code;
            this.vo.subName = item.name;
            this.vo.type = this.table.query.type;
            this.vo.id = null;
            console.log(this.vo);
        },
        update (item) {
            this.model = true;
            this.loadingBtn = true;
            Object.keys(this.vo).forEach(key => this.vo[key] = item[key]);
            this.vo.id = item.data.id;
            this.vo.productImgs = JSON.stringify(item.img || []);
            this.vo.subCode = item.code;
            this.vo.subName = item.name;
            this.vo.type = this.table.query.type;
        },
        doClose () {
            this.tagNavBack('RebateProdList');
        },
        async addOrUpdate () {
            this.$refs[this.formRef].validate(async (valid) => {
                if (valid) {
                    this.vo.price = this.vo.price * 100;
                    this.vo.groupPrice = this.vo.groupPrice * 100;
                    const before = await this.beforeAddOrUpdate();
                    let success = true;
                    if (before !== false) {
                        const res = await this.fetch(this.postUrl, this.generateAddOrUpdate);
                        success = res.success;
                    }
                    if (success === false) {
                        this.resetLoadingBtn();
                    } else {
                        this.model = false;
                        this._timeoutQuery();
                    }
                    await this.afterAddOrUpdate(success);
                } else {
                    this.resetLoadingBtn();
                    this.$Message.error('表单验证失败!');
                }
            });
        }
    }
};
</script>
