<template>
    <div>
        <Card style="width:800px;">
            <Row>
                <label style="margin-right:50px;"><font style="color:red">*</font>提现时间设置:</label>
                <RadioGroup v-model="vo.type">
                    <Row>
                        <Radio label="1" selected>
                            <span>每周星期</span>
                        </Radio>
                        <Select v-model="vo.weekDay" style="margin-right:20px;width:60px" :disabled="vo.type === '2'">
                            <Option v-for="item in weekDayList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                        </Select>
                        <TimePicker v-model="weekTime" confirm format="HH:mm" type="timerange" placement="bottom-end" placeholder="选择时间" style="width: 168px" :disabled="vo.type === '2'"></TimePicker>
                    </Row>
                    <Row style="margin-top:20px">
                        <Radio label="2" style="margin-right:20px;">
                            <span>每月
                                <InputNumber v-model="vo.monthDay" :min="1" :max="31" :disabled="vo.type === '1'" style="width:72px;"/>
                                日
                            </span>
                        </Radio>
                        <TimePicker v-model="monthTime" confirm format="HH:mm" type="timerange" placement="bottom-end" placeholder="选择时间" style="width: 168px" :disabled="vo.type === '1'"></TimePicker>
                    </Row>
                </RadioGroup>
            </Row>
            <Row style="margin-top:20px;">
                <label style="margin-right:50px;"><font style="color:red">*</font>提现金额设置:</label>
                <span>最低提现金额
                    <InputNumber v-model="vo.limit" :min="0" :formatter="value => `￥ ${Math.floor(value * 100) / 100}`" :parser="value => value.replace('￥', '')"/>
                    元
                </span>
            </Row>
            <Row>
                <div style="text-align:center">
                    <Button class="margin-left-10" type="primary" @click="doAdd">保存</Button>
                    <Button class="margin-left-10" type="dashed" @click="doClose">关闭</Button>
                </div>
            </Row>
        </Card>
    </div>
</template>
<script>
import TagNav from '@/components/mixins/tag-nav';
import dayjs from 'dayjs';
export default {
    name: 'SetupCash',
    mixins: [ TagNav ],
    data () {
        return {
            vo: {
                type: '1',
                weekDay: 1,
                start: null,
                end: null,
                monthDay: 1,
                limit: null
            },
            weekTime: null,
            monthTime: null,
            weekDayList: [{
                value: 1,
                label: '一'
            }, {
                value: 2,
                label: '二'
            }, {
                value: 3,
                label: '三'
            }, {
                value: 4,
                label: '四'
            }, {
                value: 5,
                label: '五'
            }, {
                value: 6,
                label: '六'
            }, {
                value: 7,
                label: '日'
            }
            ],
            updateUrl: '/api/withdraw/config/set',
            getUrl: '/api/withdraw/config/get'
        };
    },
    async created () {
        const result = await this.fetch(this.getUrl, { method: 'get' });
        if (Reflect.has(result, 'value')) {
            this.vo = Object.assign(result.value, {
                type: String(result.value.type),
                limit: result.value.limit / 100
            });

            if (this.vo.type === '1') {
                this.weekTime = [String(dayjs(this.vo.start).hour()) + ':' + String(dayjs(this.vo.start).minute()) + ':' + String(dayjs(this.vo.start).second()), String(dayjs(this.vo.end).hour()) + ':' + String(dayjs(this.vo.end).minute()) + ':' + String(dayjs(this.vo.end).second())];
                this.monthTime = null;
                this.vo.monthDay = 1;
            } else {
                this.monthWeek = [String(dayjs(this.vo.start).hour()) + ':' + String(dayjs(this.vo.start).minute()) + ':' + String(dayjs(this.vo.start).second()), String(dayjs(this.vo.end).hour()) + ':' + String(dayjs(this.vo.end).minute()) + ':' + String(dayjs(this.vo.end).second())];
                this.weekTime = null;
                this.vo.weekDay = 1;
            }
        }
    },
    methods: {
        async doAdd () {
            this.getVoTime();
            if (this.vo.type === 0 || this.vo.start === null || this.vo.end === null) {
                this.$Message.error('请正确设置提现时间!');
                return;
            }

            if (this.vo.limit === null || this.vo.limit.length === 0) {
                this.$Message.error('提现金额不能为空!');
                return;
            }

            const data = Object.assign({}, this.vo, {
                limit: this.vo.limit * 100,
                type: Number(this.vo.type)
            });

            Number(data.type) === 1 ? Reflect.deleteProperty(data, 'monthDay') : Reflect.deleteProperty(data, 'weekDay');

            const result = await this.fetch(this.updateUrl, { method: 'post', data: data });
            if (result.success) {
                this.$nextTick(this.doClose);
            }
        },
        getVoTime () {
            const second = ':00';
            if (Number(this.vo.type) === 1) {
                Reflect.deleteProperty(this.vo, 'monthDay');
                this.vo.start = dayjs(dayjs().format('YYYY-MM-DD') + this.weekTime[0] + second).valueOf();
                this.vo.end = dayjs(dayjs().format('YYYY-MM-DD') + this.weekTime[1] + second).valueOf();
            } else if (Number(this.vo.type) === 2) {
                Reflect.deleteProperty(this.vo, 'weekDay');
                this.vo.start = dayjs(dayjs().format('YYYY-MM-DD') + this.monthTime[0] + second).valueOf();
                this.vo.end = dayjs(dayjs().format('YYYY-MM-DD') + this.monthTime[1] + second).valueOf();
            }
        },
        doClose () {
            this.tagNavBack('SetupCash');
        }
    }
};
</script>
