<template>
    <div>
        <Form ref="form" :model="vo" :label-width="80" :rules="validate">
            <Form-item label="证书文件" prop="certificate">
                <Upload :before-upload="handleUpload" action="" style="width: 90px;float:left;margin:0 20px 0 0;">
                    <Button icon="ios-cloud-upload-outline">选择文件</Button>
                </Upload>
                <div v-if="file !== null">{{ file.name }}</div>
            </Form-item>
            <Form-item label="应用ID:" prop="appId">
                <Input v-model="vo.appId" style="width:500px;"/>
            </Form-item>
            <Form-item label="应用密钥:" prop="appSecret">
                <Input v-model="vo.appSecret" style="width:500px;"/>
            </Form-item>
            <Form-item label="商户号:" prop="mchId">
                <Input v-model.number="vo.mchId"  style="width:500px;"/>
            </Form-item>
            <FormItem label="商户秘钥:" prop="mchKey">
                <Input v-model="vo.mchKey" style="width:500px;"/>
            </FormItem>
        </Form>
        <Row>
            <div  style="text-align:center">
                <Button  class="margin-left-10" type="primary" @click="addOrUpdate">保存</Button>
                <Button class="margin-left-10" type="dashed" @click="doClose">关闭</Button>
            </div>
        </Row>
    </div>
</template>
<script>
import ModelView from '@/components/mixins/model-view';
import TagNav from '@/components/mixins/tag-nav';
export default {
    name: 'wxEdit',
    mixins: [ ModelView, TagNav ],
    data () {
        return {
            vo: {
                appId: null,
                appSecret: null,
                mchId: null,
                mchKey: null,
                certificate: null
            },
            file: null,
            validate: {
                certificate: [{ required: true, message: '请上传微信证书文件', type: 'string', trigger: 'blur' }],
                appId: [{ required: true, message: '应用ID不能为空', type: 'string', trigger: 'blur' }],
                appSecret: [{ required: true, message: '应用密钥不能为空', type: 'string', trigger: 'blur' }],
                mchId: [{ required: true, message: '商户号不能为空', type: 'number', trigger: 'blur' }],
                mchKey: [{ required: true, message: '商户秘钥不能为空', type: 'string', trigger: 'blur' }]
            },
            addUrl: '/api/wx/config/add',
            updateUrl: '/api/wx/config/update'
        };
    },
    created () {
        if (Reflect.has(this.$route.params, 'id')) {
            this.vo = this.$route.params;
        }
    },
    methods: {
        handleUpload (file) {
            let self = this;
            this.file = file;
            let fr = new FileReader();
            fr.onload = function (e) {
                let src = e.target.result;
                self.vo.certificate = src.replace(/data:.*;base64,/, '');
            };
            fr.readAsDataURL(file);
            return false;
        },
        async addOrUpdate () {
            this.$refs[this.formRef].validate(async (valid) => {
                if (valid) {
                    const before = await this.beforeAddOrUpdate();
                    let success = true;
                    if (before !== false) {
                        const res = await this.fetch(this.postUrl, this.generateAddOrUpdate);
                        success = res.success;
                    }
                    if (success === false) {
                        this.resetLoadingBtn();
                    } else {
                        this.doClose();
                    }
                } else {
                    this.resetLoadingBtn();
                    this.$Message.error('表单验证失败!');
                }
            });
        },
        doClose () {
            this.tagNavBack('wxEdit');
        }
    }
};
</script>
