<template>
    <div>
        <Row class="margin-top-10" v-if="canAddOrUpdate">
            <Form ref="form" :model="vo" :label-width="80" :rules="validate">
                <Form-item label="证书文件" prop="certificate">
                    <Upload :before-upload="handleUpload" action="" style="width: 90px;float:left;margin:0 20px 0 0;">
                        <Button icon="ios-cloud-upload-outline">选择文件</Button>
                    </Upload>
                    <div v-if="file !== null">{{ file.name }}</div>
                </Form-item>
                <Form-item label="应用ID:" prop="appId">
                    <Input v-model.trim="vo.appId" style="width:500px;" />
                </Form-item>
                <Form-item label="应用密钥:" prop="appSecret">
                    <Input v-model.trim="vo.appSecret" style="width:500px;" />
                </Form-item>
                <Form-item label="商户号:" prop="mchId">
                    <Input v-model.trim="vo.mchId" style="width:500px;" />
                </Form-item>
                <FormItem label="商户秘钥:" prop="mchKey">
                    <Input v-model.trim="vo.mchKey" style="width:500px;" />
                </FormItem>
                <Row>
                    <div style="text-align:center">
                        <Button class="margin-left-10" type="primary" @click="addOrUpdate">保存</Button>
                        <Button class="margin-left-10" type="dashed" @click="doClose">关闭</Button>
                    </div>
                </Row>
            </Form>
        </Row>
        <Row v-else>
            <card style="margin-top:10px;width:500px">
                <p slot="title">
                    <Icon type="ios-film-outline"></Icon>
                    配置信息
                </p>
                <Row>
                    <Col>
                    <CellGroup>
                        <Cell title="开发应用ID" :extra="String(vo.appId)" />
                    </CellGroup>
                    </Col>
                </Row>
                <Row>
                    <Col>
                    <CellGroup>
                        <Cell title="应用密钥" :extra="vo.appSecret" />
                    </CellGroup>
                    </Col>
                </Row>
                <Row>
                    <Col>
                    <CellGroup>
                        <Cell title="商户号" :extra="String(vo.mchId)" />
                    </CellGroup>
                    </Col>
                </Row>
                <Row>
                    <Col>
                    <CellGroup>
                        <Cell title="商户秘钥" :extra="vo.mchKey" />
                    </CellGroup>
                    </Col>
                </Row>
                <Row>
                    <div style="text-align:center">
                        <Button class="margin-left-10" type="primary" @click="update" icon="search">修改</Button>
                        <Button class="margin-left-10" type="warning" @click="doDelete" icon="search">删除</Button>
                    </div>
                </Row>
            </card>
        </Row>
    </div>
</template>
<script>
import ModelView from '@/components/mixins/model-view';
import TagNav from '@/components/mixins/tag-nav';
export default {
    name: 'SetupWx',
    mixins: [ ModelView, TagNav ],
    data () {
        return {
            canAddOrUpdate: true,
            toUpdate: false,
            file: null,
            loadingStatus: false,
            vo: {
                appId: null,
                appSecret: null,
                mchId: null,
                mchKey: null,
                certificate: null
            },
            validate: {
                certificate: [{ required: true, message: '请上传微信证书文件', type: 'string', trigger: 'blur' }],
                appId: [{ required: true, message: '应用ID不能为空', type: 'string', trigger: 'blur' }],
                appSecret: [{ required: true, message: '应用密钥不能为空', type: 'string', trigger: 'blur' }],
                mchId: [{ required: true, message: '商户号不能为空', trigger: 'blur' }],
                mchKey: [{ required: true, message: '商户秘钥不能为空', type: 'string', trigger: 'blur' }]
            },
            addUrl: '/api/wx/config/add',
            updateUrl: '/api/wx/config/update',
            getUrl: '/api/wx/config/info',
            delUrl: '/api/wx/config/remove/'
        };
    },
    created () {
        this.getInfo();
    },
    activated () {
        this.getInfo();
    },
    methods: {
        async getInfo () {
            const result = await this.fetch(this.getUrl, { method: 'get' });
            if (result.success) {
                if (Reflect.has(result, 'value')) {
                    this.vo = result.value;
                    if (!this.toUpdate) { this.canAddOrUpdate = false; } else { this.canAddOrUpdate = true; }
                }
            }
        },
        handleUpload (file) {
            let self = this;
            this.file = file;
            let fr = new FileReader();
            fr.onload = function (e) {
                let src = e.target.result;
                self.vo.certificate = src.replace(/data:.*;base64,/, '');
            };
            fr.readAsDataURL(file);
            return false;
        },
        async addOrUpdate () {
            this.$refs[this.formRef].validate(async (valid) => {
                if (valid) {
                    const before = await this.beforeAddOrUpdate();
                    let success = true;
                    if (before !== false) {
                        const res = await this.fetch(this.postUrl, this.generateAddOrUpdate);
                        success = res.success;
                    }
                    if (success === false) {
                        this.resetLoadingBtn();
                        this.canAddOrUpdate = true;
                    } else {
                        this.getInfo();
                    }
                } else {
                    this.resetLoadingBtn();
                    this.$Message.error('表单验证失败!');
                }
            });
        },
        async doDelete () {
            const result = await this.fetch(this.delUrl + this.vo.id, { method: 'post' });
            if (result.success) {
                this.vo = {
                    appId: null,
                    appSecret: null,
                    mchId: null,
                    mchKey: null,
                    certificate: null
                };
                this.file = null;
                this.toUpdate = false;
                this.canAddOrUpdate = true;
            }
        },
        doClose () {
            if (this.toUpdate) {
                this.canAddOrUpdate = false;
            } else {
                this.tagNavBack('SetupWx');
            }
        },
        update () {
            this.toUpdate = true;
            this.getInfo();
        }

    }
};
</script>
