<template>
    <div>
        <Header :title="subInfo.name"></Header>
        <div style="padding-top: 60px;">
            <mu-carousel transition="fade" style="height: 200px">
                <mu-carousel-item v-for="(img, index) in imgs" :key="index">
                    <img :src="img">
                </mu-carousel-item>
            </mu-carousel>
        </div>
        <mu-paper>
            <mu-list style="padding:0 0">
                <mu-list-item>
                    <mu-list-item-title>预定须知</mu-list-item-title>
                </mu-list-item>
                <mu-divider />
            </mu-list>
            <mu-row>
                <mu-col style="padding-left: 10px;" class="d-notes" v-html="ParseNotes(subInfo.bookingNotes)"></mu-col>
            </mu-row>
            <mu-list style="padding:0 0">
                <mu-list-item>
                    <mu-list-item-title>拼团须知</mu-list-item-title>
                </mu-list-item>
                <mu-divider />
            </mu-list>
            <mu-row>
                <mu-col style="padding-left: 10px;" class="d-notes" v-html="subInfo.data ? ParseNotes(subInfo.data.notes) : ''"></mu-col>
            </mu-row>
        </mu-paper>
        <mu-paper style="margin-top:10px">
            <mu-list style="padding:0 0">
                <mu-list-item>
                    <mu-list-item-title  @click="moreGroup()">{{countNumber}}人正在拼团<span style="float:right">查看更多</span></mu-list-item-title>
                    <mu-list-item-action style="min-width:0px;">
                        <mu-icon value="keyboard_arrow_right"></mu-icon>
                    </mu-list-item-action>
                </mu-list-item>
                <mu-divider />
                <template v-for="(line, index) in groupList"  v-if="[0, 1].includes(index)">
                    <mu-list-item button :ripple="false" :key="index">
                        <mu-list-item-title>{{line.nickname}}<span style="float:right">还差{{subInfo.data ? subInfo.data.num - line.num : 0}}人拼单</span></mu-list-item-title>
                        <mu-list-item-action style="min-width: 95px;">
                            <mu-button style="height: 30px;" @click="buy(false, line.number)">去拼单</mu-button>
                        </mu-list-item-action>
                    </mu-list-item>
                    <mu-divider :key="`divider-${index}`"></mu-divider>
                </template>
            </mu-list>
        </mu-paper>
        <mu-card style="margin-top: 10px;">
            <mu-card-title title="详情介绍" style="padding: 10px 16px;text-align: center;font-size: 15px;"></mu-card-title>
            <mu-card-text style="padding: 0 16px" v-html="productInfo.summary">
            </mu-card-text>
        </mu-card>
        <div style="height: 50px;"></div>
        <div style="width:100%; position:fixed; bottom:0">
            <slot>
                <mu-button large color="secondary" style="float:left;width: 50%;" @click="buy(true, null)">￥{{formatNumber(subInfo.price)}}单独购买</mu-button>
            </slot>
            <slot>
                <mu-button large color="error" style="float:right;width: 50%;" @click="buy(false, null)">￥{{subInfo.data ? formatNumber(subInfo.data.groupPrice) : 0}}发起拼团</mu-button>
            </slot>
        </div>
        <mu-bottom-sheet :open.sync="open">
            <mu-list @item-click="open = false">
                <mu-sub-header>正在拼团列表</mu-sub-header>
                <mu-list-item button v-for="(line, index) in groupList" :ripple="false" :key="index" @click="choose(line)">
                    <mu-list-item-title>{{line.nickname}}<span style="float:right">还差{{subInfo.data ? subInfo.data.num - line.num : 0}}人拼单</span></mu-list-item-title>
                    <mu-list-item-action style="min-width: 95px;float:right">
                        <mu-button style="height: 30px;" @click="buy(false, line.number)">去拼单</mu-button>
                    </mu-list-item-action>
                </mu-list-item>
            </mu-list>
        </mu-bottom-sheet>
    </div>
</template>
<script>
import Header from '@/components/header.vue';
import { ParseNotes } from '@/libs/shop-common';
import { formatNumber } from '@/libs/common';
import imgs from '@/components/mixins/product-imgs';
import WxUtil from '@/components/mixins/wx-util';
export default {
    name: 'GroupHotelDetail',
    components: { Header },
    mixins: [ imgs, WxUtil ],
    data () {
        return {
            formatNumber,
            ParseNotes,
            subInfo: {},
            productInfo: {},
            groupList: [],
            countNumber: null,
            open: false
        };
    },
    computed: {
        imgs () {
            return this.transformImgs(this.productInfo);
        }
    },
    async mounted () {
        await this.getSubInfo();
        this.getGroupList();
        this.initWxConfig();
    },
    methods: {
        async moreGroup () {
            await this.getGroupList(10);
            this.open = true;
        },
        async getSubInfo () {
            let result = await this.fetch('/api/group/product/info', { params: {
                productId: this.$route.query.productId,
                type: this.$route.query.type
            } });
            if (result.success) {
                result.value.subInfo.forEach(d => {
                    if (d.id === Number(this.$route.query.subId)) {
                        this.subInfo = d;
                    }
                });
                this.productInfo = result.value;
            } else {
                this.$router.replace({ path: '/' });
            }
        },
        async getGroupList (pageSize = 2, pageNum = 1) {
            let result = await this.fetch(`/api/order/group/list/open/${this.$route.query.code}`, { params: {
                pageNum: pageNum,
                pageSize: pageSize
            } });
            if (result.success) {
                this.countNumber = result.data.sum;
                this.groupList = result.value.list;
            }
        },
        buy (type, number) {
            this.$router.push({ name: 'group-buy-hotel',
                query: {
                    single: type ? 0 : 1,
                    number: number,
                    code: this.subInfo.code,
                    name: this.subInfo.name,
                    price: type ? this.subInfo.price : this.subInfo.data.groupPrice,
                    requireSid: this.subInfo.requireSid,
                    maxQuantity: type ? 0 : this.subInfo.data.maxQuantity,
                    bookingLimit: this.subInfo.bookingLimit,
                    bookingDayLimit: this.subInfo.bookingDayLimit,
                    bookingTimeLimit: this.subInfo.bookingTimeLimit
                } });
        }
    }
};
</script>
<style lang="less" scoped>
.d-notes {
    white-space: pre-line;
    color: red;
    line-height: 30px;
    word-wrap: break-word;
    overflow: auto;
    height: 90px;
    padding-left: 10px;
}
.mu-item {
    height: 30px;
    padding: 0 10px;
}
.mu-raised-button.mu-button-large {
    font-size: 98%;
}
</style>
