<template>
    <div>
        <limit-list type="5101"></limit-list>
    </div>
</template>

<script>
import LimitList from '@/components/limit-list';
export default {
    name: 'RebateIndex',
    components: {
        LimitList
    },
    data () {
        return {

        };
    }
};
</script>
