<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">产品名称:</label>
            <Input v-model="table.query.name" placeholder="" clearable style="width: 200px"  class="margin-left-8"/>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
        </Row>
        <Row class="margin-top-10">
            <Col>
            <Table ref="selection" :columns="table.col" :data="table.data" @on-selection-change="onSelectedChange"></Table>
            <div style="margin: 10px;overflow: hidden">
                <div style="float: right;">
                    <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                </div>
            </div>
            </Col>
        </Row>
        <Row class="margin-top-10">
            <Col>
            <div align="center">
                <Button class="margin-left-10" type="primary" @click="doAdd">添加</Button>
                <Button class="margin-left-10" type="dashed" @click="doClose">关闭</Button>
            </div>
            </Col>
        </Row>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import ModelView from '@/components/mixins/model-view';
import TagNav from '@/components/mixins/tag-nav';
import iView from 'iview';
import dayjs from 'dayjs';
export default {
    name: 'LimitProdList',
    mixins: [ TableColRender, TableDataView, ModelView, TagNav ],
    data () {
        return {
            selection: [],
            table: {
                col: [{
                    type: 'selection',
                    width: 60,
                    align: 'center'
                }, {
                    title: '主产品名称',
                    key: 'productName',
                    tooltip: true
                }, {
                    title: '子产品名称',
                    key: 'name',
                    tooltip: true
                }, {
                    title: '进货价',
                    key: 'purchasePrice',
                    render: this.renderMoney,
                    width: 80
                }, {
                    title: '抢购价',
                    render: (h, params) => {
                        return (
                            <iView.InputNumber
                                v-model={this.table.data[params.index].price}
                                disabled={params.row.data.isSet}
                                min={0}
                                formatter={value => `￥${Math.floor(value * 100) / 100}`}
                                parser={value => value.replace('￥', '')}
                                onOn-change={ val => this.priceChangeHandler(val, params) }>
                            </iView.InputNumber>
                        );
                    },
                    width: 100
                }, {
                    title: '抢购时间',
                    render: (h, params) => {
                        return (
                            <iView.DatePicker
                                v-model={this.table.data[params.index].range}
                                type={'datetimerange'}
                                disabled={params.row.data.isSet}
                                options={this.dateRangeOpt}
                                format={'yyyy-MM-dd HH:mm'}
                                placeholder={'请选择范围'}
                                style={'width: 250px'}
                                onOn-change={ val => this.rangeChangeHandler(val, params)}>
                            </iView.DatePicker>
                        );
                    },
                    width: 300
                }],
                query: {
                    name: '',
                    type: this.$route.query['productType']
                },
                url: '/api/limit/product/ticket'
            },
            dateRangeOpt: {
                shortcuts: [{
                    text: '1 天',
                    value: () => [dayjs().toDate(), dayjs().add(1, 'day').toDate()]
                }, {
                    text: '3 天',
                    value: () => [dayjs().toDate(), dayjs().add(3, 'day').toDate()]
                }, {
                    text: '7 天',
                    value: () => [dayjs().toDate(), dayjs().add(7, 'day').toDate()]
                }]
            },
            addUrl: '/api/limit/product/add'
        };
    },
    activated () {
        if (this.$route.query['productType'] !== undefined) {
            this.table.query.type = this.$route.query['productType'];
            this.doQuery();
        }
    },
    methods: {
        async afterQuery () {
            this.table.data.forEach(item => {
                item.price = item.data.price === undefined ? 0 : item.data.price / 100;
                item.range = item.data.startTime ? [dayjs(Number(item.data.startTime)).toDate(), dayjs(Number(item.data.endTime)).toDate()] : [];
                item._disabled = item.data.isSet;
                item._checked = item.data.isSet;
            });
        },
        onSelectedChange (selection) {
            this.selection = selection;
        },
        async doAdd () {
            let isError = false;
            this.selection.forEach(item => {
                if (item.price === 0) {
                    this.$Message.error('请抢购价必须大于0!');
                    isError = true;
                    return;
                }
                if (item.range[0] === '') {
                    this.$Message.error('请选择抢购时间!');
                    isError = true;
                }
            });

            if (isError) return;
            const vo = this.selection.filter(item => !item.data.isSet).map(item => Object.assign({
                subName: item.name,
                subCode: item.code,
                purchasePrice: item.purchasePrice,
                type: this.table.query.type,
                startTime: dayjs(item.range[0]).valueOf(),
                endTime: dayjs(item.range[1]).valueOf(),
                productImgs: JSON.stringify(item.img || [])
            }, item));
            if (vo.length === 0) {
                this.$Message.error('至少选择一项!');
                return;
            }
            vo.forEach(item => ['name', 'code', 'img'].forEach(key => Reflect.deleteProperty(item, key)));
            const result = await this.fetch(this.addUrl, { method: 'post', data: vo });
            if (result.success) {
                this.$nextTick(this.doClose);
            }
        },
        doClose () {
            this.tagNavBack('LimitProdList');
        },
        priceChangeHandler (val, params) {
            const item = this.selection.find(item => item.code === params.row.code);
            if (item) {
                item.price = val * 100;
            }
            if (!item && val > 0) {
                this.$refs.selection.toggleSelect(params.index);
            }
        },
        rangeChangeHandler (val, params) {
            const item = this.selection.find(item => item.code === params.row.code);
            if (item) {
                item.range = val;
            }

            if (!item && val[0] !== '') {
                this.$refs.selection.toggleSelect(params.index);
            }
        }
    }
};
</script>
