<template>
    <div>
        <Header :title="title" :ask-back="ask" :ask-home="ask" :ask-member="ask"></Header>
        <mu-container style="padding-top: 64px;padding-left: 0px;padding-right: 0px">
            <mu-expansion-panel :expand="true">
                <div slot="header">订单详情</div>
                <div style="width: inherit;font-size: 15px">
                    产品名称：{{params.name}}
                </div>
                <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                <div style="width: 100%;font-size: 15px">
                    订单金额：{{params.money / 100}}
                </div>
                <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                <div style="width: 100%;font-size: 15px">
                    游玩日期：{{params.booking}}
                </div>
            </mu-expansion-panel>
        </mu-container>
        <mu-container style="padding-top:10px;padding-left: 0px;padding-right: 0px">
            <mu-row>
                <mu-col>
                    <mu-paper :z-depth="2">
                        <mu-list>
                            <mu-list-item avatar>
                                <mu-list-item-action avatar>
                                    <mu-avatar>
                                        <img src="../../../assets/images//wx.jpg">
                                    </mu-avatar>
                                </mu-list-item-action>
                                <mu-list-item-content>
                                    <mu-list-item-title>微信支付</mu-list-item-title>
                                </mu-list-item-content>
                                <mu-list-item-action>
                                    <mu-flex class="select-control-row">
                                        <mu-radio :value="7113" v-model="subFormData.pay_type"></mu-radio>
                                    </mu-flex>
                                </mu-list-item-action>
                            </mu-list-item>
                        </mu-list>
                    </mu-paper>
                </mu-col>
            </mu-row>
        </mu-container>
        <shop-buy-btn :price="params.money / 100" :submit="pay" btn-name="立即支付"></shop-buy-btn>
    </div>
</template>
<script>
import Header from '@/components/header.vue';
import ShopBuyBtn from '@/components/shop-buy-btn.vue';
import { DateFormat } from '@/libs/common';
export default {
    name: 'OrderGroupPay',
    components: { Header, ShopBuyBtn },
    data () {
        return {
            DateFormat,
            title: '在线支付',
            ask: '您的支付尚未完成，是否取消支付？',
            params: {},
            subFormData: {
                order_sn: 0,
                pay_type: 7113
            }
        };
    },
    created () {
        this.params = this.$route.params;
        console.log(this.params);
        this.params.booking = DateFormat(this.params.start, 'YYYY-MM-DD');
        this.subFormData.order_sn = this.params.orderSn;
    },
    async mounted () {
    },
    methods: {
        async pay () {
            if (!this.subFormData.pay_type) {
                this.$toasted.error('请选择支付方式！');
                return;
            }
            let result = await this.fetch(`/api/order/group/pay/${this.subFormData.order_sn}`, { method: 'POST' });
            if (result.success) {
                this.wxPay(result.value);
            }
        },
        wxPay (conf) {
            let params = {
                'appId': conf.appId, // 公众号名称，由商户传入
                'timeStamp': conf.timestamp.toString(), // 时间戳，自1970年以来的秒数
                'nonceStr': conf.nonceStr, // 随机串
                'package': 'prepay_id=' + conf.prepayId,
                'signType': 'MD5', // 微信签名方式：
                'paySign': conf.sign // 微信签名
            };
            /* eslint-disable no-undef */
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', params,
                async res => {
                    if (res.err_msg === 'get_brand_wcpay_request:ok') {
                        this.$toasted.success('支付成功');
                        this.$router.push('/member');
                    } else if (res.err_msg === 'get_brand_wcpay_request:cancel') {
                        let result = await this.fetch(`/api/order/group/cancel/${this.subFormData.order_sn}`);
                        if (result.success) {
                            this.$router.go(-1);
                        }
                    }
                }
            );
        }
    }
};
</script>
