<template>
    <div>
        <Header title="订单退订"></Header>
        <mu-list style="padding-top: 64px;">
            <mu-paper style="margin-bottom: 10px;" :z-depth="1">
                <mu-container style="padding: 10px">
                    <div>产品名称:
                        <span style="color: #d93c37; margin-left: 10px;">{{detail.data.subName}}</span>
                    </div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div>订单余数:
                        <span style="color: #d93c37; margin-left: 10px;">{{remindCount}}</span>
                    </div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div>订单金额:
                        <span style="color: #d93c37; margin-left: 10px;">￥{{detail.data.money / 100}}</span>
                    </div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div>退订手续费:
                        <span style="color: #d93c37; margin-left: 10px;">￥{{detail.data.fee / 100}}</span>
                    </div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div>退订数量:
                        <span style="color: #d93c37; margin-left: 10px;">全退({{remindCount}})</span>
                    </div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div>退订原因:
                        <mu-select style="margin-bottom: 0px" v-model="cause" full-width>
                            <mu-option v-for="(option,index) in options" :key="index" :label="option" :value="option"></mu-option>
                        </mu-select>
                    </div>
                    <div class="refund-cause">
                        <div>退订备注:</div>
                        <mu-text-field full-width multi-line :rows="1" :rows-max="6" v-model="textarea"></mu-text-field>
                    </div>
                </mu-container>
            </mu-paper>
            <refund-rule :rule="custRefundRule" :desc="detail.data.refundRuleDesc"></refund-rule>
            <mu-paper :z-depth="1" style="margin-bottom: 40px;">
                <mu-container style="padding: 10px">
                    <div>
                        <b style="font-size: 16px;">订单信息</b>
                    </div>
                    <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                    <div class="list-item">订单编号: {{detail.data.itemNumber}}</div>
                    <div class="list-item">下单时间: {{detail.data.createTime}}</div>
                </mu-container>
            </mu-paper>
            <shop-buy-btn :price="detail.data.fee / 100" label="手续费：" :submit="refund" :disabled="remindCount <= 0" btn-name="退订"></shop-buy-btn>
        </mu-list>
    </div>
</template>
<script>
import Header from '@/components/header.vue';
import RefundRule from '@/components/refund-rule.vue';
import ShopBuyBtn from '@/components/shop-buy-btn.vue';
export default {
    name: 'OrderRefund',
    components: { Header, RefundRule, ShopBuyBtn },
    data () {
        return {
            detail: {
                data: {}
            },
            remindCount: 0,
            options: [
                '客户个人原因', '与商家协商一致'
            ],
            cause: '',
            textarea: '',
            custRefundRule: {}
        };
    },
    async mounted () {
        const info = await this.fetch(`/api/order/refund/preview/${this.$route.query.item_sn}`);
        if (info.success) {
            this.detail = info.value;
        }
        this.custRefundRule = JSON.parse(this.detail.data.refundRule);
        this.remindCount = this.detail.data.quantity * this.detail.data.days - this.detail.usedQuantity - this.detail.refundQuantity;
    },
    methods: {
        async refund () {
            let confirm = await this.$confirm('是否确定退订该订单？', '温馨提示', { type: 'warning' });
            if (!confirm.result) {
                return;
            }

            let result = await this.fetch(`/api/order/refund/${this.detail.data.itemNumber}`, {
                data: {
                    order_item_sn: this.$route.query.item_sn,
                    apply_from: 5182,
                    cause: `${this.cause}:${this.textarea}`
                },
                method: 'POST'
            });
            if (result.success) {
                this.$toasted.success('退订成功');
                this.$router.push('/member');
            }
        }
    }
};
</script>
<style lang="less" scoped>
.refund-cause {
  .mu-input {
    margin-bottom: 0;
  }
}
</style>
