<template>
    <div>
        <Header :title="productInfo.name"></Header>
        <div style="padding-top: 60px;">
            <mu-carousel transition="fade" style="height: 200px">
                <mu-carousel-item v-for="(img, index) in imgs" :key="index">
                    <img :src="img">
                </mu-carousel-item>
            </mu-carousel>
        </div>
        <mu-sub-header class="sub_header">{{productInfo.name}}</mu-sub-header>
        <mu-flex class="flex-wrapper" align-items="center">
            <mu-flex class="flex-left" justify-content="center" fill>
                <div>
                    <div @click="openWxMap(point,productInfo.address)">
                        <mu-icon class="map-icon" size="20" value="near_me" style="float: left;"></mu-icon>
                        <span>{{productInfo.pic_address}}{{productInfo.address}}</span>
                    </div>
                </div>
            </mu-flex>
            <mu-flex class="flex-right" justify-content="center" fill>
                <div @click="openShare = true">
                    <mu-icon size="30" value="share"></mu-icon>
                    <span style="display:block">分享</span>
                </div>
            </mu-flex>
        </mu-flex>
        <mu-paper :z-depth="1" style="margin-top: 10px; margin-bottom: 10px; line-height: 38px; text-align: center; font-size: 15px;">
            <div>酒店房型</div>
        </mu-paper>
        <mu-paper :z-depth="1">
            <mu-container style="padding: 10px;">
                <div v-for="(subs, index) in productInfo.subInfo" :key="index" :style="{height: '120px', marginTop: index === 0 ? 0 : '10px'}">
                    <mu-row>
                        <mu-col tag="b" span="12">
                            <span>
                                {{subs.name}}
                            </span>
                        </mu-col>
                    </mu-row>
                    <mu-row>
                        <mu-col class="d-notes" v-html="ParseNotes(subs.bookingNotes, '-;end;-', '\r\n')"></mu-col>
                        <mu-col span="3" md="2" style="margin-left: 10px; margin-right: 5px; text-align: right;">
                            <div style="text-decoration: line-through;color: #ccc;">￥{{subs.marketPrice / 100}}</div>
                            <div style="color: red;bottom: 20px;">
                                <b style="font-size:18px">￥{{subs.data ? subs.data.groupPrice / 100 : 0.00 / 100}}</b>
                                <span style="font-size:10px">起</span>
                            </div>
                            <mu-button class="booking-btn" color="error" @click="subDetail(subs)">查看详情</mu-button>
                        </mu-col>
                    </mu-row>
                    <mu-divider v-if="index !== productInfo.subInfo.length - 1" style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                </div>
            </mu-container>
        </mu-paper>
        <!-- <div style="height: 55px;"></div>
        <BottomButton :active="active"></BottomButton> -->
        <shop-share v-if="productType != null" v-model="openShare" :title="title" :image="imgs[0] || ''" :notes="productInfo.name || ''" :price="$route.query.groupPrice"></shop-share>
    </div>
</template>
<script>
import BottomButton from '@/components/bottom-btn.vue';
import { ParseNotes } from '@/libs/shop-common';
import ShopShare from '@/components/shop-share.vue';
import Header from '@/components/header.vue';
import imgs from '@/components/mixins/product-imgs';
import point from '@/components/mixins/map-point';
import WxUtil from '@/components/mixins/wx-util';
export default {
    name: 'GroupHotelDetail',
    components: { BottomButton, Header, ShopShare },
    mixins: [ imgs, point, WxUtil ],
    data () {
        return {
            ParseNotes,
            active: 'home',
            productInfo: {},
            openShare: false,
            productType: this.$route.query.productType
        };
    },
    computed: {
        imgs () {
            return this.transformImgs(this.productInfo);
        },
        point () {
            return this.transformPoint(this.productInfo.map);
        },
        title () {
            return this.$store.state.user.title;
        },
        memberInfo () {
            return this.$store.state.user.member;
        }
    },
    async created () {
        await this.$store.dispatch('member');
        this.height = window.document.body.offsetHeight - 35;
    },
    async mounted () {
        await this.pull();
        this.initWxConfig(this.memberInfo.id);
    },
    methods: {
        async pull () {
            let result = await this.fetch('/api/group/product/info', { params: {
                productId: this.$route.query.productId,
                type: this.$route.query.type
            } });
            if (result.success) {
                this.productInfo = result.value;
            } else {
                this.$router.replace({ path: '/' });
            }
        },
        subDetail (subs) {
            this.$router.push({ name: 'group-hotel-sub-detail',
                query: {
                    subId: subs.id,
                    code: subs.code,
                    productId: this.$route.query.productId,
                    type: this.$route.query.type
                } });
        }
    }
};
</script>
<style lang="less" scoped>
.sub_header {
  text-align: center;
  padding-left: 0px;
  font-weight: bold;
  font-size: 17px;
  line-height: 35px;
}
.flex-wrapper {
  width: 100%;
  height: 80px;
}
.flex-left {
  width: 240px;
  height: 62px;
  text-align: left;
  line-height: 31px;
  margin-left: 8px;
  flex-direction: column !important;
}
.flex-right {
  width: 60px;
  text-align: center;
  margin-left: 8px;
}
</style>
