<template>
    <div>
        <Header :title="productInfo.name"></Header>
        <div style="padding-top: 60px;">
            <mu-carousel transition="fade" style="height: 200px">
                <mu-carousel-item v-for="(img, index) in imgs" :key="index">
                    <img :src="img">
                </mu-carousel-item>
            </mu-carousel>
        </div>
        <mu-flex class="flex-wrapper" align-items="center">
            <mu-flex class="flex-left" justify-content="center" fill>
                <div style="line-height: 20px; font-size: 15px;text-align: left;">
                    <div style="padding: 0 10px;">出发城市: {{productInfo.startArea}}</div>
                </div>
                <div style="line-height: 20px; font-size: 15px;text-align: left;">
                    <div style="padding: 0 10px;">集合地点: {{productInfo.setArea}}</div>
                </div>
            </mu-flex>
            <mu-flex class="flex-right" justify-content="center" fill>
                <div @click="openShare = true">
                    <mu-icon size="30" value="share"></mu-icon>
                    <span style="display:block">分享</span>
                </div>
            </mu-flex>
        </mu-flex>
        <mu-divider></mu-divider>
        <div class="label-box">
            <span class="label" v-for="(label, index) in labels" :key="index">{{label}}</span>
        </div>
        <mu-divider></mu-divider>
        <mu-paper :z-depth="1" style="margin-bottom: 10px; line-height: 38px; text-align: center; font-size: 15px;">
            <div>景点票型</div>
        </mu-paper>
        <mu-paper :z-depth="1">
            <mu-list key="detail" textline="two-line">
                <template v-for="(sub, index) in productInfo.subInfo">
                    <mu-list-item avatar :ripple="false" button :key="index">
                        <mu-list-item-content style="word-wrap: break-word; overflow-y: auto; height: 72px;font-size: 16px; display: flex; align-items: center;">
                            {{sub.name}}
                        </mu-list-item-content>
                        <mu-list-item-action style="min-width: 100px; padding-top: 0;">
                            <mu-list-item-after-text style="color: #ff5f2e;" v-html="`<b style='font-size: 18px;'>￥${sub.data ? sub.data.groupPrice / 100 : 0.00}</b><span style='font-size:10px'>起</span>`"></mu-list-item-after-text>
                            <mu-button class="booking-btn" color="error" @click="subDetail(sub)">查看详情</mu-button>
                        </mu-list-item-action>
                    </mu-list-item>
                    <mu-divider v-if="index !== productInfo.subInfo.length - 1" style="margin-top: 8px; margin-bottom: 8px;" :key="`divider-${index}`"></mu-divider>
                </template>
            </mu-list>
        </mu-paper>
        <!-- <div style="height: 55px;"></div>
        <BottomButton :active="active"></BottomButton> -->
        <shop-share v-if="productType != null" v-model="openShare" :title="title" :image="imgs[0] || ''" :notes="productInfo.name || ''" :price="$route.query.groupPrice"></shop-share>
    </div>
</template>
<script>
import BottomButton from '@/components/bottom-btn.vue';
import { opt, LineLabel } from '@/libs/dic';
import ShopShare from '@/components/shop-share.vue';
import Header from '@/components/header.vue';
import imgs from '@/components/mixins/product-imgs';
import WxUtil from '@/components/mixins/wx-util';
export default {
    name: 'GroupLineDetail',
    components: { BottomButton, Header, ShopShare },
    mixins: [ imgs, WxUtil ],
    data () {
        return {
            active: 'home',
            activeTab: 0,
            productInfo: {},
            openShare: false,
            productType: this.$route.query.productType
        };
    },
    computed: {
        labels () {
            return (this.productInfo.label || []).map(d => opt(LineLabel, Number(d), { name: false }).name).filter(n => n !== false);
        },
        days () {
            return `${this.productInfo.days.replace('-', '天')}晚`;
        },
        day () {
            return this.productInfo.days.split('-')[0];
        },
        imgs () {
            return this.transformImgs(this.productInfo);
        },
        title () {
            return this.$store.state.user.title;
        },
        memberInfo () {
            return this.$store.state.user.member;
        }
    },
    async mounted () {
        await this.$store.dispatch('member');
        await this.load();
        this.initWxConfig(this.memberInfo.id);
    },
    methods: {
        async load () {
            let result = await this.fetch('/api/group/product/info', { params: {
                productId: this.$route.query.productId,
                type: this.$route.query.type
            } });
            if (result.success) {
                this.productInfo = result.value;
            } else {
                this.$router.replace({ path: '/' });
            }
        },
        subDetail (subs) {
            this.$router.push({ name: 'group-line-sub-detail',
                query: {
                    subId: subs.id,
                    code: subs.code,
                    productId: this.$route.query.productId,
                    type: this.$route.query.type
                } });
        }
        /* buy (sub) {
            this.$router.push({
                name: 'buy-line',
                query: {
                    code: sub.code, name: sub.name, price: sub.price, days: this.days, day: this.day, productType: this.$route.query.productType
                }
            });
        } */
    }
};
</script>
<style lang="less" scoped>
.fee-notes {
  white-space: pre-line;
  color: #999;
  font-size: 12px;
  padding: 4px 4px 0 4px;
}
.label {
  float: unset;
}
.label-box {
  height: 38px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  line-height: 38px;
  padding: 0 10px;
}
.flex-wrapper {
  width: 100%;
  height: 80px;
}
.flex-left {
  width: 240px;
  height: 62px;
  text-align: left;
  line-height: 31px;
  margin-left: 8px;
  flex-direction: column !important;
}
.flex-right {
  width: 60px;
  text-align: center;
  margin-left: 8px;
}
</style>
