<template>
    <div>
        <Header title="用户注册"></Header>
        <mu-container style="padding-top: 94px;">
            <mu-form ref="form" :model="vo">
                <mu-form-item prop="nickname" :rules="rules.name" icon="person">
                    <mu-text-field v-model="vo.nickname" placeholder="请输入昵称" prop="nickname"></mu-text-field>
                </mu-form-item>
                <mu-form-item prop="phone" :rules="rules.mobile" icon="phone">
                    <mu-text-field v-model="vo.phone" placeholder="请输入手机号码" prop="phone"></mu-text-field>
                </mu-form-item>
                <mu-form-item prop="code" :rules="codeRule" icon="email">
                    <mu-text-field v-model="vo.code" placeholder="请输入验证码" prop="code" action-icon="send" :action-click="send"></mu-text-field>
                </mu-form-item>
                <mu-form-item>
                    <mu-button @click="ok" color="secondary" full-width style="margin: 0">确认</mu-button>
                </mu-form-item>
            </mu-form>
        </mu-container>
    </div>
</template>
<script>
import Header from '@/components/header.vue';
import rules from '@/components/mixins/rules';
export default {
    name: 'bind',
    components: { Header },
    mixins: [rules],
    data () {
        return {
            vo: {
                nickname: '',
                phone: '',
                code: ''
            },
            codeRule: [
                {
                    validate: function (val) {
                        return this.isSend || (val && val.length === 6);
                    },
                    message: '请输入验证码',
                    isSend: false
                }
            ],
            wxInfo: {}
        };
    },
    computed: {
        wx () {
            return this.$store.state.user.wx;
        }
    },
    mounted () {
        if (!this.wx) {
            this.$alert('请重新扫码注册!');
        }
        this.vo.nickname = this.wx.nickname;
    },
    methods: {
        async ok () {
            this.codeRule[0].isSend = false;
            let validate = await this.$refs.form.validate();
            if (validate) {
                let result = await this.fetch(`/api/member/reg/${this.vo.code}`, { data: this.vo, method: 'POST' });
                if (result.success) {
                    await this.$store.dispatch('member', true);
                    let { path, params, query } = this.$route.params.jump || { path: '/member' };
                    this.$router.replace({ path, params, query });
                }
            }
        },
        async send () {
            this.codeRule[0].isSend = true;
            let validate = await this.$refs.form.validate();
            if (validate) {
                let result = await this.fetch('/api/member/code/send', { params: { mobile: this.vo.phone }, method: 'POST' });
                if (result.success) {
                    this.$toasted.success('发送成功');
                }
            }
        }
    }
};
</script>
