<template>
    <div>
        <Header title="提现申请"></Header>
        <mu-container style="padding-top: 64px;">
            <div class="top-money">
                <div>
                    可用返利(元)：
                </div>
                <div style="color:red">
                    {{formatNumber(memberInfo.balance)}}
                </div>
            </div>
            <mu-divider style="margin-top: 8px;"></mu-divider>
            <div class="list-item" @click="openBotttomSheet">
                <i>收款方式</i>
                <i style="float: right;">{{withdrawMethodName}}</i>
            </div>
            <mu-divider style="margin-top: 8px;"></mu-divider>
            <div class="list-item">
                <i>收款账户</i>
                <i style="float: right;">{{withdrawMemberName}}</i>
            </div>
            <mu-divider style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
            <mu-text-field style="width:100%" label="提现金额" type="number" label-position="left" v-model="vo.money"></mu-text-field>
            <div v-if="this.withdrawConfig.type === 1" style="color:red">每周{{this.withdrawConfig.weekDay}}({{startTime}}-{{endTime}})可进行提现，最低提现金额{{formatNumber(this.withdrawConfig.limit)}}</div>
            <div v-if="this.withdrawConfig.type === 2" style="color:red">每月{{this.withdrawConfig.monthDay}}号({{startTime}}-{{endTime}})可进行提现，最低提现金额{{formatNumber(this.withdrawConfig.limit)}}</div>
            <div style="padding-top:20px">
                <mu-button @click="ok" color="primary" full-width style="margin: 0" :disabled="limitTime">确认提现</mu-button>
            </div>
            <div v-if="this.memberInfo.status === 2" style="color:red;text-align: center;">您的账号已禁止提现，请联系管理员</div>
            <mu-bottom-sheet :open.sync="open">
                <mu-list @item-click="closeBottomSheet">
                    <mu-sub-header>请选择支付方式</mu-sub-header>
                    <mu-list-item button v-for="(line, index) in withdrawMethod" :key="index" @click="choose(line)">
                        <mu-list-item-action>
                            <mu-icon :value="line.icon" color="orange"></mu-icon>
                        </mu-list-item-action>
                        <mu-list-item-title>{{line.name}}</mu-list-item-title>
                    </mu-list-item>
                </mu-list>
            </mu-bottom-sheet>
        </mu-container>
    </div>
</template>
<script>
import Header from '@/components/header.vue';
import rules from '@/components/mixins/rules';
import dayjs from 'dayjs';
import isBetween from 'dayjs/plugin/isBetween';
import { formatNumber } from '@/libs/common';
dayjs.extend(isBetween);
export default {
    name: 'MemberInfo',
    components: { Header },
    mixins: [rules],
    data () {
        return {
            formatNumber,
            vo: {
                money: null,
                type: 1
            },
            withdrawMethodName: '微信',
            open: false,
            withdrawConfig: {},
            withdrawMethod: [
                { name: '微信', type: 1, icon: 'grade' }
            ],
            startTime: null,
            endTime: null
        };
    },
    computed: {
        limitTime () {
            let start = dayjs(this.withdrawConfig.start).format('HH:mm:ss');
            let end = dayjs(this.withdrawConfig.end).format('HH:mm:ss');
            if (this.memberInfo.status === 2) {
                return true;
            }
            if (this.vo.money * 100 < this.withdrawConfig.limit) {
                return true;
            }
            if (this.vo.money <= 0 || this.memberInfo.balance < this.vo.money * 100) {
                return true;
            }
            if (!this.vo.money.match(/^\d+(\.\d{1,2})?$/)) {
                return true;
            }
            if (this.withdrawConfig.type === 1) {
                let weekDay = dayjs().day();
                if (this.withdrawConfig.weekDay !== weekDay) {
                    return true;
                } else {
                    return !dayjs().isBetween(dayjs(`${dayjs().format('YYYY-MM-DD ')}${start}`), dayjs(`${dayjs().format('YYYY-MM-DD ')}${end}`));
                }
            } else if (this.withdrawConfig.type === 2) {
                let monthDay = dayjs().date();
                if (this.withdrawConfig.monthDay !== monthDay) {
                    return true;
                } else {
                    return !dayjs().isBetween(dayjs(`${dayjs().format('YYYY-MM-DD ')}${start}`), dayjs(`${dayjs().format('YYYY-MM-DD ')}${end}`));
                }
            }
            return false;
        },
        wxInfo () {
            return this.$store.state.user.wx;
        },
        withdrawMemberName () {
            return this.wxInfo.nickname;
        },
        memberInfo () {
            return this.$store.state.user.member;
        }
    },
    watch: {
        wx () {
            this.vo.nickname = this.wx.nickname;
        }
    },
    async mounted () {
        this.initWithdrawMethod();
        this.getWithdrawConfig();
    },
    methods: {
        initWithdrawMethod () {
            const alipayAccount = this.memberInfo.alipayAccount;
            const alipayName = this.memberInfo.alipayName;
            const bankAccountName = this.memberInfo.bankAccountName;
            const bankBranch = this.memberInfo.bankBranch;
            const bankCardNo = this.memberInfo.bankCardNo;
            const bankName = this.memberInfo.bankName;
            if (!!alipayAccount && !!alipayName) {
                this.withdrawMethod.push({ name: '支付宝', type: 2, icon: 'grade' });
            }
            if (!!bankAccountName && !!bankBranch && !!bankCardNo && !!bankName) {
                this.withdrawMethod.push({ name: '银行卡', type: 3, icon: 'grade' });
            }
        },
        choose (line) {
            this.vo.type = line.type;
            this.withdrawMethodName = line.name;
            console.log(line);
        },
        closeBottomSheet () {
            this.open = false;
        },
        openBotttomSheet () {
            this.open = true;
        },
        async getWithdrawConfig () {
            let data = await this.fetch('/api/withdraw/config/get');
            if (data.success) {
                this.withdrawConfig = data.value ? data.value : {};
                this.startTime = dayjs(this.withdrawConfig.start).format('HH:mm:ss');
                this.endTime = dayjs(this.withdrawConfig.end).format('HH:mm:ss');
            }
        },
        async ok () {
            let money = Number(this.vo.money) * 100;
            let result = await this.fetch('/api/withdraw/apply', { data: { money: money, type: this.vo.type }, method: 'POST' });
            if (result.success) {
                this.$toasted.success('提现成功');
                this.$router.push({
                    name: 'member'
                });
            }
        }
    }
};
</script>

<style lang="less" scoped>
.mu-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 48px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0px;
  padding-bottom: 12px;
  position: relative;
}
.top-money {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  color: #2196f3;
  border: 1px solid #2196f3;
}
.mu-input {
  margin-bottom: 0px;
}
</style>
