<template>
    <div>
        <div class="warpbox">
            <div class="boxins">
                <mu-carousel transition="fade" style="height: 200px">
                    <mu-carousel-item v-for="(banner, index) in bannerList" :key="index">
                        <img class="banner-img" :src="formatBannerImg(banner.img)" @click="to(banner.url)">
                    </mu-carousel-item>
                </mu-carousel>
                <div class="menus">
                    <ul>
                        <li v-for="(item, index) in top_btn_list" :key="index" @click="pull(item.type, true)">
                            <a><img :src="item.img">
                                <p :class="item.type === productType ? 'menu-text' : ''">{{item.text}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="timelimit">
                    <div class="titles" v-if="productType === null">
                        <h3><i><img src="../../assets/images/shop-imagse/huo.png"></i>限时抢购</h3>
                        <p>精挑细选限时特卖</p>
                    </div>
                    <mu-load-more :loading="loading" :loaded-all="loadedAll" @load="pull(productType, false)">
                        <ul>
                            <li v-for="(item, index) in list" :key="index" @click="buy(item)">
                                <div class="imgs"><img :src="formatImg(productType === null ? item.subImgs[0] : item.productImgs[0])"></div>
                                <div class="times" v-if="productType === null">
                                    <p>{{item.countDownTime}}</p>
                                </div>
                                <div class="conts">
                                    <h3>{{productType === null ? item.title : item.productName}}</h3>
                                    <div class="price">￥<strong>{{[5101, 5102 , 5103, null].includes(productType) ? formatNumber(item.price) : formatNumber(item.groupPrice)}}</strong>起</div>
                                    <a class="links">立即预定</a>
                                </div>
                            </li>
                        </ul>
                    </mu-load-more>
                </div>
                <div class="fotrs">
                    <ul>
                        <li class="thisin">
                            <a @click="$router.push('/')">
                                <h3>首页</h3>
                                <span class="icon1"></span>
                            </a>
                        </li>
                        <li>
                            <a @click="$router.push('/member')">
                                <h3>我的</h3>
                                <span class="icon2"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BottomButton from '@/components/bottom-btn.vue';
import { formatNumber, DateFormat } from '@/libs/common';
import dayjs from 'dayjs';
import isBetween from 'dayjs/plugin/isBetween';
import limitImg from '../../assets/images/shop-imagse/menu1.png';
import ticketImg from '../../assets/images/shop-imagse/menu2.png';
import hotelImg from '../../assets/images/shop-imagse/menu3.png';
import lineImg from '../../assets/images/shop-imagse/menu4.png';
import groupImg from '../../assets/images/shop-imagse/menu5.png';
dayjs.extend(isBetween);
export default {
    name: 'index',
    components: { BottomButton },
    data () {
        return {
            formatNumber,
            DateFormat,
            active: 'home',
            list: [],
            pageNum: 1,
            pageSize: 5,
            loadedAll: false,
            loading: false,
            productType: null,
            bannerList: [],
            top_btn_list: [
                {
                    img: limitImg,
                    text: '限时抢购',
                    type: null
                },
                {
                    img: ticketImg,
                    text: '景点门票',
                    type: 5101
                },
                {
                    img: hotelImg,
                    text: '酒店房型',
                    type: 5102
                },
                {
                    img: lineImg,
                    text: '线路产品',
                    type: 5103
                },
                {
                    img: groupImg,
                    text: '拼团',
                    type: 9999
                }
            ]
        };
    },
    computed: {

    },
    async created () {
        await this.$store.dispatch('member');
        await this.pull(null, true);
        this._$countDown = this.countDown();
        this.getBanner();
    },
    destroyed () {
        clearInterval(this._$countDown);
    },
    methods: {
        to (url) {
            if (!url) {
                return;
            }
            if (url.startsWith('http')) {
                this.$router.push({ name: 'jump', query: { url } });
            } else {
                const matched = this.$router.getMatchedComponents(url);
                if (matched.length) {
                    this.$router.push(url);
                }
            }
        },
        async getBanner () {
            let result = await this.fetch('/api/banner/list', { params: {
                pageNum: 1,
                pageSize: 5
            } });
            if (result.success) {
                this.bannerList = result.value.list;
            }
        },
        formatImg (img) {
            if (!img) {
                return '';
            }
            if (this.$store.state.user.merchant.platform === 'standalone') {
                return img;
            } else {
                return `${process.env.VUE_APP_IMG_ADDRESS}/${img}`;
            }
        },
        formatBannerImg (img) {
            return `${process.env.VUE_APP_IMG_ADDRESS}/${img}`;
        },
        buy (item) {
            let name = null;
            if ([5101, 5102, 5103].includes(this.productType)) {
                if (item.type === 5101) {
                    name = 'ticket-detail';
                } else if (item.type === 5102) {
                    name = 'hotel-detail';
                } else if (item.type === 5103) {
                    name = 'line-detail';
                }
                this.$router.push({
                    name: name,
                    query: { productId: item.productId, type: item.type, productType: this.productType, purchasePrice: item.price, price: item.price }
                });
            } else if (this.productType === 9999) {
                if (item.type === 5101) {
                    name = 'group-ticket-detail';
                } else if (item.type === 5102) {
                    name = 'group-hotel-detail';
                } else if (item.type === 5103) {
                    name = 'group-line-detail';
                }
                this.$router.push({
                    name: name,
                    query: { productId: item.productId, type: item.type, productType: this.productType, groupPrice: item.groupPrice }
                });
            } else if (this.productType === null) {
                this.$router.push({
                    name: 'limit-sub-detail',
                    query: { productId: item.id, type: item.type, productType: this.productType, purchasePrice: item.purchasePrice, price: item.price }
                });
            }
        },
        async countDown () {
            this._$countDown = setInterval(() => {
                if (!this.list || this.productType !== null) return;
                this.list.forEach(d => {
                    let times = 0;
                    let beforeTxt = '';
                    if (dayjs().isBetween(dayjs(d.startTime), dayjs(d.endTime))) {
                        times = dayjs(d.endTime).diff(dayjs());
                        beforeTxt = '剩余结束时间';
                    } else if (dayjs().isBefore(dayjs(d.startTime))) {
                        times = dayjs(d.startTime).diff(dayjs());
                        beforeTxt = '距离开始时间';
                    }
                    if (times > 0) {
                        times /= 1000;
                        const day = Math.floor(times / (60 * 60 * 24));
                        const hour = Math.floor(times / (60 * 60)) - (day * 24);
                        const minute = Math.floor(times / 60) - (day * 24 * 60) - (hour * 60);
                        const second = Math.floor(times) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                        d.countDownTime = `${beforeTxt} ${String(day).padStart(2, '0')}天：${String(hour).padStart(2, '0')}小时：${String(minute).padStart(2, '0')}分钟：${String(second).padStart(2, '0')}秒`;
                    } else {
                        d.countDownTime = '已结束';
                    }
                });
            }, 1000);
        },
        async pull (type, force = false) {
            if (type !== this.productType || force === true) {
                this.list = [];
                this.productType = type;
                this.pageNum = 1;
                this.loadedAll = false;
            }
            let url = null;
            if (type === 5101 || type === 5102 || type === 5103) {
                url = '/api/rebate/product/sale';
            } else if (type === null) {
                url = '/api/limit/product/sale';
            } else if (type === 9999) {
                url = '/api/group/product/sale';
            }
            const { pageNum, pageSize } = this;
            this.loading = true;
            try {
                const data = await this.fetch(url, {
                    params: Object.assign({}, {
                        pageNum, pageSize
                    }, {
                        type: type === 9999 ? null : type
                    })
                });
                if (data.success) {
                    this.pageNum++;
                    if (!data.value || data.value.isLastPage) {
                        this.loadedAll = true;
                    }
                    data.value.list.forEach((value, index) => {
                        value.productImgs = JSON.parse(value.productImgs);
                        value.subImgs = value.subImgs ? JSON.parse(value.subImgs) : value.productImgs;
                        if (type === null) {
                            value.countDownTime = null;
                        }
                    });
                    this.list = [...this.list, ...data.value.list || []];
                }
            } finally {
                this.loading = false;
            }
        }
    }
};
</script>

<style lang="less" scoped>
.mu-load-more {
    overflow: initial;
}
.menu-text {
    color: #f63;
}
.banner-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
</style>
