<template>
    <iframe :src="$route.query.url" :height="height" width="100%" frameborder="0">

    </iframe>
</template>
<script>
export default {
    name: 'Jump',
    computed: {
        height () {
            return document.body.offsetHeight;
        }
    }
};
</script>
