<template>
    <div>
        <Header title="完善信息"></Header>
        <mu-container style="padding-top: 64px;">
            <mu-form ref="form" :model="vo">
                <mu-form-item prop="nickname" :rules="rules.name" icon="person">
                    <mu-text-field v-model="vo.nickname" placeholder="请输入昵称" prop="nickname"></mu-text-field>
                </mu-form-item>
                <mu-form-item prop="alipayAccount" class="custom-icon" icon=":iconfont icon-alipay">
                    <mu-text-field v-model="vo.alipayAccount" placeholder="请输入支付宝账号" prop="alipayAccount"></mu-text-field>
                </mu-form-item>
                <mu-form-item prop="alipayName" icon="none">
                    <mu-text-field v-model="vo.alipayName" placeholder="请输入支付宝姓名" prop="alipayName"></mu-text-field>
                </mu-form-item>
                <mu-form-item prop="bankAccountName" class="custom-icon" icon=":iconfont icon-bankcard">
                    <mu-text-field v-model="vo.bankAccountName" placeholder="请输入银行卡账号名" prop="bankAccountName"></mu-text-field>
                </mu-form-item>
                <mu-form-item prop="bankBranch" icon="none">
                    <mu-text-field v-model="vo.bankBranch" placeholder="请输入银行卡银行支行" prop="bankBranch"></mu-text-field>
                </mu-form-item>
                <mu-form-item prop="bankCardNo" icon="none">
                    <mu-text-field v-model="vo.bankCardNo" placeholder="请输入银行卡卡号" prop="bankCardNo"></mu-text-field>
                </mu-form-item>
                <mu-form-item prop="bankName" icon="none">
                    <mu-text-field v-model="vo.bankName" placeholder="请输入银行卡银行名称" prop="bankName"></mu-text-field>
                </mu-form-item>
                <mu-form-item>
                    <mu-button @click="ok" color="secondary" full-width style="margin: 0">修改</mu-button>
                </mu-form-item>
            </mu-form>
        </mu-container>
    </div>
</template>
<script>
import Header from '@/components/header.vue';
import rules from '@/components/mixins/rules';
export default {
    name: 'MemberInfo',
    components: { Header },
    mixins: [rules],
    data () {
        return {
        };
    },
    computed: {
        vo () {
            return this.$store.state.user.member;
        }
    },
    methods: {
        async ok () {
            let validate = await this.$refs.form.validate();
            if (validate) {
                let result = await this.fetch('/api/member/modify', { data: this.vo, method: 'POST' });
                if (result.success) {
                    await this.$store.dispatch('member', true);
                    let { path, params, query } = this.$route.params.jump || { path: '/member' };
                    this.$router.replace({ path, params, query });
                }
            }
        }
    }
};
</script>

<style lang="less" scoped>
.mu-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 48px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0px;
  padding-bottom: 12px;
  position: relative;
}
</style>
