<template>
    <div>
        <mu-container class="warpbox" ref="container">
            <mu-load-more @refresh="refresh" :refreshing="refreshing">
                <div class="boxins">
                    <div class="mybgs">
                        <div class="portrait" @click="memberDetail()">
                            <div class="imgs"><img :src="memberInfo.avatar"></div>
                        </div>
                        <p>{{memberInfo.nickname}}</p>
                    </div>
                    <div class="rebate">
                        <ul>
                            <li @click="totalRebate()">
                                <div class="price">￥{{formatPrice(memberInfo.balance)}}</div>
                                <div class="txts">可用返利（元）</div>
                            </li>
                            <li @click="totalRebate()">
                                <div class="price">￥0.00</div>
                                <div class="txts">待返利(元)</div>
                            </li>
                            <li @click="totalRebate()">
                                <div class="price">￥{{formatPrice(memberInfo.rebate)}}</div>
                                <div class="txts">累积返利(元)</div>
                            </li>
                        </ul>
                    </div>
                    <div class="othermenus">
                        <ul>
                            <li v-for="(menu, index) in menus" :key="index">
                                <a @click="$router.push(menu.to)" :class="menu.class">{{menu.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </mu-load-more>
        </mu-container>
        <div class="fotrs">
            <ul>
                <li>
                    <a @click="$router.push('/')">
                        <h3>首页</h3>
                        <span class="icon1"></span>
                    </a>
                </li>
                <li class="thisin">
                    <a @click="$router.push('/member')">
                        <h3>我的</h3>
                        <span class="icon2"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import BottomButton from '@/components/bottom-btn.vue';
import { formatNumber } from '@/libs/common';
export default {
    name: 'member',
    components: { BottomButton },
    data () {
        return {
            active: 'member',
            refreshing: false,
            size: 56,
            menus: [{
                name: '全部订单',
                icon: 'list',
                to: { path: '/order/list' },
                class: 'whole'
            }, {
                name: '待支付',
                icon: 'payment',
                to: { path: '/order/list', query: { status: '1,2', title: '待支付列表' } },
                class: 'payment'
            }, {
                name: '拼团订单',
                icon: 'list',
                to: { path: '/group/order/list' },
                class: 'assemble'
            }, {
                name: '提现申请',
                icon: 'send',
                to: { path: '/destoon-finance-cash' },
                class: 'cash'
            }]
        };
    },
    computed: {
        memberInfo () {
            return this.$store.state.user.member;
        },
        wxInfo () {
            return this.$store.state.user.wx;
        }
    },
    async created () {
        await this.$store.dispatch('member', true);
    },
    methods: {
        async refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            await this.$store.dispatch('member', true);
            this.refreshing = false;
        },
        formatPrice (price) {
            return formatNumber(price);
        },
        memberDetail () {
            this.$router.push({
                name: 'member-info'
            });
        },
        totalRebate () {
            this.$router.push({
                name: 'total-rebate'
            });
        }
    }
};
</script>
