<template>
    <div>
        <Header :title="title" :ask-back="ask" :ask-home="ask" :ask-member="ask"></Header>
        <mu-paper :z-depth="1" class="mu-item" style="padding-top: 72px; height: auto; padding-bottom: 10px;">
            <mu-list-item-content style="">
                {{$route.query.name}}
            </mu-list-item-content>
            <mu-list-item-action style="min-width: 100px; padding-top: 0;">
                <mu-list-item-after-text v-html="`￥<b style='font-size: 20px;color: #ff5f2e;'>${startPrice / 100 || 0}</b>/张`"></mu-list-item-after-text>
            </mu-list-item-action>
        </mu-paper>
        <mu-paper :z-depth="1" style="margin: 10px 0; padding: 10px 20px;">
            <div>
                <label>游玩天数:</label>
                <span style="color: #999">{{$route.query.days}}</span>
            </div>
        </mu-paper>
        <mu-form ref="form" :model="vo" style="margin-bottom: 0px;">
            <mu-paper :z-depth="1" style="margin-top: 10px">
                <mu-container>
                    <mu-row gutter>
                        <mu-col span="12" lg="4" sm="6" style="padding-left: 0px;margin-top: 15px">
                            <mu-form-item prop="booking" :rules="rules.start" style="margin-bottom: 0px;" icon="date_range">
                                <mu-date-input style="margin-bottom: 0px;" v-model="vo.booking" value-format="YYYY-MM-DD 00:00:00" container="bottomSheet" placeholder="请选择出发日期" full-width no-display :should-disable-date="disableDate">
                                    <template slot="day" slot-scope="{date}">
                                        <div class="mu-day-button-bg"></div>
                                        <div class="mu-day-button-text">
                                            {{date.getDate()}}
                                        </div>
                                        <div class="date-price">￥{{getPrice(date)}}</div>
                                    </template>
                                </mu-date-input>
                            </mu-form-item>
                        </mu-col>
                    </mu-row>
                    <mu-row style="padding-top: 5px; padding-bottom: 5px;">
                        <mu-col span="6" style="padding-left: 10px;">
                            <mu-icon size="25" value="add_shopping_cart" style="float: left;"></mu-icon>
                            <span class="number">数量</span>
                        </mu-col>
                        <mu-col span="6" class="number">
                            <number-input v-model="vo.quantity" :min="1" :max="maxQuantity" size="small" inline center controls></number-input>
                        </mu-col>
                    </mu-row>
                </mu-container>
            </mu-paper>
            <mu-paper :z-depth="1" style="margin: 10px 0; padding: 10px 20px;">
                <div>
                    <label>返程日期:</label>
                    <span style="color: #999">{{backDate}}</span>
                </div>
            </mu-paper>
            <mu-paper :z-depth="1" style="margin-top: 10px;">
                <mu-container>
                    <mu-list style="padding:0 0">
                        <mu-list-item>
                            <mu-list-item-title>联系人信息</mu-list-item-title>
                        </mu-list-item>
                        <mu-divider />
                    </mu-list>
                </mu-container>
                <mu-container style="padding-left: 0px;padding-bottom: 5px;">
                    <mu-form-item prop="name" :rules="rules.name" icon="account_circle" style="margin-top: 15px">
                        <mu-text-field style="width: 100%;margin-bottom: 0px;" v-model="vo.name" placeholder="请输入姓名"></mu-text-field><br/>
                    </mu-form-item>
                    <mu-form-item prop="phone" :rules="rules.mobile" icon="phone">
                        <mu-text-field style="width: 100%;margin-bottom: 0px;" v-model="vo.phone" placeholder="请输入联系手机"></mu-text-field><br/>
                    </mu-form-item>
                </mu-container>
                <mu-container>
                    <mu-form-item prop="sex" label="性别" label-position="left">
                        <mu-radio v-model.number="vo.sex" v-for="sex in SexType.filter(s => s.id !== 3000)" :key="sex.id" :value="sex.id" :label="sex.name"></mu-radio>
                    </mu-form-item>
                </mu-container>
            </mu-paper>
        </mu-form>
        <div style="height: 48px;"></div>
        <shop-buy-btn :price="price" :submit="submit"></shop-buy-btn>
    </div>
</template>
<script>
import dayjs from 'dayjs';
import { SexType } from '@/libs/dic';
import Header from '@/components/header.vue';
import NumberInput from '@chenfengyuan/vue-number-input';
import ShopBuyBtn from '@/components/shop-buy-btn.vue';
import ShopGroupBuy from '@/components/mixins/shop-group-buy';
export default {
    name: 'OrderByLine',
    components: { Header, NumberInput, ShopBuyBtn },
    mixins: [ ShopGroupBuy ],
    data () {
        return {
            SexType,
            url: '/api/order/group/create'
        };
    },
    computed: {
        backDate () {
            if (!this.vo.booking) {
                return '';
            }
            return dayjs(this.vo.booking).add(this.$route.query.day, 'day').format('YYYY-MM-DD');
        },
        days () {
            return 1;
        }
    }
};
</script>
<style scoped>
.number >>> .number-input--small.number-input--controls>input[data-v-607416cd] {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.4rem;
}
.number >>> .number-input--small.number-input--controls>input {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    min-height: auto;
    height: 0.7rem;
}
.number >>> .number-input--small.number-input--controls>button[data-v-607416cd] {
    width: 1rem;
}
.number >>> .no-gutters>.col, .no-gutters>[class*=col-] {
    padding-left: 0;
    padding-right: 0.1rem;
}
.number >>> .number-input__button--minus[data-v-607416cd] {
    border-right: .01rem solid #ddd;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: .0625rem;
}
.number >>> .number-input__button[data-v-607416cd]::after {
    height: 50%;
    width: .04rem;
}
.number >>> .number-input__button[data-v-607416cd]::before {
    height: .03rem;
    width: 50%;
}
.number >>> .number-input__button--plus[data-v-607416cd] {
    border-left: .01rem solid #ddd;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    right: .0625rem;
}
</style>
<style>
.mu-datepicker-monthday-row {
  height: 40px;
}
.mu-day-button-bg {
  border-radius: 0;
  height: 40px;
  width: 50px;
  left: 0;
}
.mu-day-button {
  padding: 0px;
  width: 50px;
}
.mu-day-empty {
  width: 50px;
}
</style>
