<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
export default {
    name: 'App',
    async created () {

    }
};
</script>

<style lang="less">
html {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
}
.app-main {
  width: 100%;
  min-height: 100%;
  height: auto;
}
</style>
