.list-item {
  margin: 5px 0;
  span {
    width: 33.3%;
    float: left;
  }
}
.refund-rule {
  .mu-expansion-panel-header {
    padding-left: 0;
  }
}
.custom-datepicker {
  .mu-datepicker-monthday-row {
    height: 40px;
  }
  .mu-day-button-bg {
    border-radius: 0;
    height: 40px;
    width: 50px;
    left: 0;
  }
  .mu-day-button {
    padding: 0px;
    width: 50px;
  }
  .mu-day-empty {
    width: 50px;
  }
}
.label {
  color: #36d74a;
  border: 1px solid #36d74a;
  font-size: 12px;
  line-height: 18px;
  margin: 0.25rem 4px 0.05rem 0;
  padding: 0 4px;
  display: inline-block;
}
.date-price {
  position: relative;
  top: -8px;
  padding: 0;
  margin: 0;
  color: red;
  transform: scale(0.86);
}
.mu-day-button.now .date-price {
  color: currentColor;
}
.mu-day-button.selected .date-price {
  color: white;
}
.buy-number {
  height: 20px;
  span {
    width: 33.3%;
    float: left;
  }
}
.d-notes {
  white-space: pre-line;
  color: red;
  line-height: 30px;
  word-wrap: break-word;
  overflow: auto;
  height: 90px;
}
.booking-btn {
  min-width: 75px;
  height: 30px;
  .mu-button-wrapper {
    padding: 0 8px;
  }
}
.map-icon {
  position: relative;
  top: 4px;
}
.custom-icon {
  .mu-form-item-icon {
    top: 0;
    font-size: 24px;
  }
}
