html {
    font-size: calc(100vw/7.5);
    font-size: -webkit-calc(100vw/7.5);
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
  }
  
  @media screen and (min-width: 751px) {
    html {
      font-size: 75px;
      -webkit-text-size-adjust: 100%;
    }
  }
  
  b,
  dd,
  div,
  dl,
  dt,
  form,
  img,
  input,
  li,
  p,
  select,
  span,
  ul,
  textarea,
  a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 0.75rem;
  }
  
  em,
  i {
    font-style: normal
  }
  
  .fll {
    float: left
  }
  
  .frr {
    float: right
  }
  
  img {
    vertical-align: top;
    max-width: 100%;
  
  }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* 容器 */
.warpbox {
  width: 7.5rem;
  margin: 0 auto;
}

.boxins {
  width: 100%;
  float: left;
  padding-bottom: .94rem;
  position: relative;
}

/* 广告图 */
.bannerslide {
  width: 100%;
  height: 3.5rem;
  float: left;
  position: relative;
  overflow: hidden;
}

.bannerslide .swiper-container {
  width: 100%;
  height: 100%;
  float: left;
}

.bannerslide .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  float: left;
}

.bannerslide .swiper-wrapper .swiper-slide img {
  width: 100%;
  max-height: 100%;
}

.bannerslide .swiper-pagination-bullet {
  background: rgba(255, 255, 255);
  opacity: 0.6;
}

.bannerslide .swiper-pagination-bullet-active {
  background: #fb7401;
  opacity: 1;
}

/* 栏目 */
.menus {
  width: 100%;
  float: left;
}

.menus ul {
  width: 100%;
  float: left;
  padding: .3rem 0;
}

.menus ul li {
  width: 20%;
  float: left;
  text-align: center;
}

.menus ul li img {
  width: .9rem;
}

.menus ul li p {
  line-height: .24rem;
  font-size: .28rem;
  padding-top: .2rem;
}

.menus ul li a {
  float: left;
  width: 100%;
}


.timelimit {
  width: 100%;
  float: left;
  border-top: .2rem solid #f6f6f6;
  padding-top: .24rem;
}

.timelimit .titles {
  width: 100%;
  text-align: center;
  float: left;
}

.timelimit .titles h3 {
  font-size: .3rem;
  line-height: .28rem;
  color: #f81605;
}

.timelimit .titles h3 i {
  margin-right: .08rem;
}

.timelimit .titles h3 i img {
  width: .24rem;
}

.timelimit .titles p {
  font-size: .2rem;
  color: #a1a1a1;
  padding-top: .1rem;
}

.timelimit ul {
  width: 100%;
  float: left;
  padding-top: .2rem;
}

.timelimit ul li {
  width: 100%;
  float: left;
  border-bottom: .2rem solid #f6f6f6;
}

.timelimit ul li:last-child {
  border-bottom: none;
}

.timelimit ul li .imgs {
  width: 100%;
  height: 3.2rem;
  float: left;
}

.timelimit ul li .imgs img {
  width: 100%;
  max-height: 100%
}

.timelimit ul li .times {
  width: 100%;
  float: left;
  height: .6rem;
  background: #e73405;
  padding: 0 .24rem;
}

.timelimit ul li .times p {
  color: #fff;
  font-size: .3rem;
  line-height: .6rem;
  padding-left: .48rem;
  background: url(../assets/images/shop-imagse/time.png)no-repeat left center /.32rem;
}

.timelimit ul li .conts {
  width: 100%;
  float: left;
  padding: .15rem .24rem;
}

.timelimit ul li .conts h3 {
  font-size: .3rem;
  line-height: .4rem;
  padding-bottom: .1rem;
}

.timelimit ul li .price {
  float: left;
  line-height: .46rem;
  font-size: .2rem;
  color: #f36111;
}

.timelimit ul li .price strong {
  font-size: .3rem;
  padding: 0 1px;
}

.timelimit ul li .links {
  float: right;
  width: 1.4rem;
  height: 0.55rem;
  border-radius: .1rem;
  background: #ff7d09;
  color: #fff;
  text-align: center;
  line-height: .55rem;
  font-size: .28rem;
}

.timelimit ul li .nots {
  background: #f2f2f2;
}

.timelimit ul li .nots p {
  color: #4a4a4a;
  background-image: url(../assets/images/shop-imagse/time2.png);
}

.timelimit ul li .notlink {
  background: #dcdcdc;
  color: #a1a1a1;
}

/* 底部 */
.fotrs {
  width: 7.5rem;
  height: 1rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -3.75rem;
  border-top: 1px solid #ebebeb;
  z-index: 999;
}

.fotrs ul li {
  width: 50%;
  float: left;
  text-align: center;
  padding-top: .2rem;
}

.fotrs ul li a {
  width: 100%;
  float: left;
}

.fotrs ul li h3 {
  color: #9b9b9b;
  font-size: .25rem;
  line-height: .2rem;
  padding-bottom: .1rem
}

.fotrs ul li.thisin h3 {
  color: #ff9c00;
}

.fotrs ul li span {
  display: inline-block;
}

.fotrs ul li span.icon1 {
  width: .28rem;
  height: .29rem;
  background: url(../assets/images/shop-imagse/home1.png)no-repeat center center / .28rem;
}


.fotrs ul li.thisin span.icon1 {
  background-image: url(../assets/images/shop-imagse/home1-1.png);
}


.fotrs ul li span.icon2 {
  width: .26rem;
  height: .26rem;
  background: url(../assets/images/shop-imagse/gr1.png)no-repeat center center / .26rem;
}


.fotrs ul li.thisin span.icon2 {
  background-image: url(../assets/images/shop-imagse/gr2.png);
}

/* 景区信息 */
.textconts {
  width: 100%;
  float: left;
}

.tpcos {
  width: 100%;
  float: left;
  padding: .2rem .3rem;
  border-bottom: 1px solid #f4f4f4;
}

.tpcos h3 {
  font-weight: bold;
  font-size: .3rem;
  line-height: .24rem;
  padding-bottom: .1rem;
}

.tpcos p {
  color: #ec2626;
  font-size: .3rem;
  line-height: .4rem;
}

.tpcos .score {
  padding-top: .1rem;
  width: 100%;
  float: left;
}

.tpcos .score span {
  width: .21rem;
  height: .21rem;
  float: left;
  margin-right: .08rem;
  margin-top: 2px;
  background: url(../assets/images/shop-imagse/scroe1.png)no-repeat center center / .21rem;
}

.tpcos .score span.scoreins {
  background-image: url(../assets/images/shop-imagse/scroe2.png);
}

.tpcos .score i {
  color: #909090;
  padding-left: .1rem;
  line-height: .21rem;
}

.textconts .list {
  width: 100%;
  float: left;
  padding: .2rem .3rem;
  border-bottom: 1px solid #f4f4f4;
}

.textconts .address p {
  padding-left: .44rem;
  height: .26rem;
  background: url(../assets/images/shop-imagse/adrs.png)no-repeat left center / .24rem;
  font-size: .3rem;
  line-height: .26rem;
  color: #838383;
}

.textconts .times span {
  float: left;
  line-height: .22rem;
  font-size: .3rem;
  color: #555555;
}

.textconts .times i {
  float: right;
  line-height: .22rem;
  font-size: .3rem;
  color: #fa4904;
}

.itemsbox {
  width: 100%;
  float: left;
  padding: .2rem .3rem;
  border-top: .2rem solid #f6f6f6;
}

.itemsbox .bts {
  width: 100%;
  float: left;
  line-height: .3rem;
  color: #000;
  font-size: .4rem;
}

.itemsbox .bts::after {
  content: "";
  float: left;
  width: .04rem;
  height: .3rem;
  background: #27cb16;
  margin-right: .1rem;
}

.itemsbox p {
  width: 100%;
  float: left;
  font-size: .16rem;
  line-height: .2rem;
  color: #919191;
  padding-top: .2rem;
}

.detailsbox {
  width: 100%;
  float: left;
  padding: .2rem .3rem;
  border-top: .2rem solid #f5f5f5;
}

.detailsbox .bts {
  font-size: .4rem;
  line-height: .22rem;
  padding-bottom: .2rem;
  width: 100%;
  float: left;
  border-bottom: 1px solid #f5f5f5;
}

.detailsbox .imgs {
  width: 100%;
  float: left;
  padding-top: .2rem;
}

.detailsbox .imgs img {
  width: 100%;
}

.detailsbox p {
  color: #606060;
  font-size: .3rem;
  line-height: .4rem;
  padding-top: .15rem;
  width: 100%;
  float: left;
}


.fotrs-twos {
  width: 7.5rem;
  height: .9rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -3.75rem;
  border-top: 1px solid #ebebeb;
  z-index: 999;
}

.fotrs-twos .homes {
  width: 30%;
  float: left;
  text-align: center;
  padding-top: .15rem;
}

.fotrs-twos .homes a {
  width: 100%;
  float: left;
}

.fotrs-twos .homes h3 {
  color: #9b9b9b;
  font-size: .25rem;
  line-height: .2rem;
  padding-bottom: .1rem;
}

.fotrs-twos .homes span {
  width: .28rem;
  height: .29rem;
  background: url(../assets/images/shop-imagse/home1.png)no-repeat center center / .28rem;
  display: inline-block;
}

.fotrs-twos .goticket {
  width: 70%;
  float: left;
  height: .9rem;
  background: #fb6d05;
  text-align: center;
  line-height: .9rem;
  color: #fff;
  font-size: .24rem;
}

/* 我的 */

.mybgs {
  width: 100%;
  float: left;
  height: 2.6rem;
  background: url(../assets/images/shop-imagse/mybg.jpg)no-repeat center center / cover;
  padding-top: .5rem;
  text-align: center;
}

.mybgs .portrait {
  width: 1.1rem;
  height: 1.1rem;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: .05rem;
}

.portrait .imgs {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.portrait .imgs img {
  width: 100%;
  height: 100%;
}

.mybgs p {
  font-size: .24rem;
  color: #fff;
  line-height: .28rem;
  padding-top: .15rem;
}


.rebate {
  width: 100%;
  float: left;
  height: 1rem;
  background: #fcfcfc;
}

.rebate ul li {
  width: 33.33%;
  float: left;
  height: 1rem;
  text-align: center;
  border-right: 1px solid #f2f2f2;
}

.rebate ul li:last-child {
  border-right: none;
}

.rebate ul li .price {
  font-size: .3rem;
  color: #f66809;
  line-height: .26rem;
  padding: .15rem 0;
}

.rebate ul li .txts {
  color: #3f3f3f;
  font-size: .3rem;
}

.othermenus {
  width: 100%;
  float: left;
  margin-top: .2rem;
  background: #fff;
}

.othermenus ul li {
  width: 100%;
  height: .8rem;
  float: left;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 .3rem;
}

.othermenus ul li a {
  width: 100%;
  float: left;
  line-height: .8rem;
  font-size: .3rem;
  color: #363636;
}

.othermenus ul li a::after {
  content: "";
  float: right;
  height: .8rem;
  width: .2rem;
  background: url(../assets/images/shop-imagse/rts.png)no-repeat right center /.14rem;
}

.othermenus ul li a::before {
  width: .6rem;
  content: "";
  float: left;
  height: .8rem;
}

.othermenus ul li a.whole::before {
  background: url(../assets/images/shop-imagse/dd.png)no-repeat left center / .31rem;
}

.othermenus ul li a.payment::before {
  background: url(../assets/images/shop-imagse/zf.png)no-repeat left center / .42rem;
}

.othermenus ul li a.assemble::before {
  background: url(../assets/images/shop-imagse/pt.png)no-repeat left center / .46rem;
}

.othermenus ul li a.cash::before {
  background: url(../assets/images/shop-imagse/tx.png)no-repeat left center / .37rem;
}