<template>
    <div>
        <Row class="margin-top-10">
            <!-- <label style="margin-right:8px;">产品名称:</label>
            <Input v-model="table.query.name" placeholder="" clearable style="width: 200px"  class="margin-left-8"/>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button> -->
            <Button class="margin-left-10" type="primary" @click="add">添加广告</Button>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <Table ref="selection" :columns="table.col" :data="table.data"></Table>
                <div style="margin: 10px;overflow: hidden">
                    <div style="float: right;">
                        <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                    </div>
                </div>
            </i-col>
        </Row>
        <Modal v-model="model" :mask-closable="false" title="广告设置" :width="500" :loading="loadingBtn" @on-ok="addOrUpdate" @on-cancel="cancel">
            <div style="height: 450px;">
                <Form ref="form" :model="vo" :label-width="100" :rules="validate">
                    <Form-item label="排序" prop="seq">
                        <InputNumber v-model="vo.seq" style="width:150px"/>
                    </Form-item>
                    <Form-item label="描述">
                        <Input v-model="vo.title" style="width:150px"/>
                    </Form-item>
                    <Form-item label="图片" prop="imgs">
                        <upload :imgs="vo.imgs" :size="1"></upload>
                    </Form-item>
                    <Form-item label="跳转地址">
                        <Input v-model="vo.url" style="width:150px"/>
                    </Form-item>
                    <FormItem label="有效开始时间" prop="effectiveStart">
                        <DatePicker type="date" transfer v-model="vo.effectiveStart" format="yyyy-MM-dd" placeholder="请选择有效开始时间" style="width: 150px"></DatePicker>
                    </FormItem>
                    <FormItem label="有效结束时间" prop="effectiveEnd">
                        <DatePicker type="date" transfer v-model="vo.effectiveEnd" format="yyyy-MM-dd" placeholder="请选择有效结束时间" style="width: 150px"></DatePicker>
                    </FormItem>
                </Form>
            </div>
        </Modal>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import ModelView from '@/components/mixins/model-view';
import Upload from '@/components/upload.vue';
import dayjs from 'dayjs';
export default {
    name: 'RebateProdList',
    components: { Upload },
    mixins: [TableColRender, TableDataView, ModelView],
    data () {
        return {
            vo: {
                id: null,
                seq: null,
                title: null,
                img: null,
                imgs: [],
                url: null
            },
            table: {
                col: [{
                    title: '序号',
                    key: 'seq',
                    tooltip: true
                }, {
                    title: '描述',
                    key: 'title',
                    tooltip: true
                }, {
                    title: '图片',
                    key: 'img'
                }, {
                    title: '跳转地址',
                    key: 'url'
                }, {
                    title: '操作',
                    key: 'action',
                    width: 200,
                    align: 'center',
                    render: (h, params) =>
                        this.renderActions(h, params, [
                            {
                                config: {
                                    loading: this.loadingBtn,
                                    style: { marginRight: '5px' }
                                },
                                click: () => this.update(params.row),
                                text: '修改'
                            },
                            {
                                config: {
                                    loading: this.loadingBtn,
                                    style: { marginRight: '5px' }
                                },
                                type: 'delete',
                                click: () => this.remove(params.row)
                            }
                        ])
                }],
                query: {

                },
                url: '/api/banner/list'
            },
            addUrl: '/api/banner/add',
            updateUrl: '/api/banner/update',
            removeUrl: '/api/banner/remove',
            validate: {
                seq: [{ required: true, type: 'number', trigger: 'blur', message: '请输入序号' }],
                imgs: [{ required: true, type: 'array', trigger: 'change', message: '广告图片不能为空' }],
                effectiveStart: [{ required: true, type: 'date', message: '请选择抢购开始时间', trigger: 'blur' }],
                effectiveEnd: [{ required: true, type: 'date', message: '请选择抢购结束时间', trigger: 'blur' }]
            }
        };
    },
    computed: {
        generateAddOrUpdate () {
            return {
                method: this.method,
                data: Object.assign({}, this.vo, {
                    img: this.vo.imgs[0].name,
                    effectiveStart: dayjs(this.vo.effectiveStart).format('YYYY-MM-DD'),
                    effectiveEnd: dayjs(this.vo.effectiveEnd).format('YYYY-MM-DD')
                })
            };
        }
    },
    activated () {
        this.doQuery();
    },
    methods: {
        add () {
            this.vo = {
                id: null,
                seq: null,
                title: null,
                img: null,
                imgs: [],
                url: null
            };
            this.model = true;
            this.loadingBtn = true;
        },
        update (item) {
            this.model = true;
            this.loadingBtn = true;
            Object.keys(this.vo).forEach(key => this.vo[key] = item[key]);
            this.vo = Object.assign({}, this.vo, {
                imgs: [{ name: this.vo.img, status: true }],
                effectiveStart: dayjs(this.vo.effectiveStart).toDate(),
                effectiveEnd: dayjs(this.vo.effectiveEnd).toDate()
            });
        }
    }
};
</script>
