<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">会员昵称：</label>
            <Input v-model="table.query.nickname" placeholder="" clearable style="width: 200px" />
            <label class="margin-left-10" style="margin-right:8px;">会员手机：</label>
            <Input v-model="table.query.phone" placeholder="" clearable style="width: 200px" />
            <label class="margin-left-10" style="margin-right:8px;">注册时间：</label>
            <DatePicker v-model="range" type="datetimerange" :options="dateRangeOpt" format="yyyy-MM-dd HH:mm" placeholder="请选择查询范围" style="width: 250px"></DatePicker>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
        </Row>
        <Row class="margin-top-10">
            <Col>
            <Table :columns="table.col" :data="table.data"></Table>
            <div style="margin: 10px;overflow: hidden">
                <div style="float: right;">
                    <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                </div>
            </div>
            </Col>
        </Row>
    </div>
</template>

<script>
import dayjs from 'dayjs';
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';

export default {
    name: 'MemberList',
    mixins: [ TableColRender, TableDataView ],
    data () {
        return {
            table: {
                col: [{
                    title: '会员ID',
                    key: 'id'
                }, {
                    title: '会员昵称',
                    key: 'nickname'
                }, {
                    title: '联系方式',
                    key: 'phone'
                }, {
                    title: '账户余额',
                    key: 'balance',
                    render: (h, params) => this.renderMoney(h, params)
                }, {
                    title: '返利总额',
                    key: 'rebate',
                    render: (h, params) => this.renderMoney(h, params)
                }, {
                    title: '注册时间',
                    key: 'createTime',
                    render: this.renderDate
                }, {
                    title: '所在地',
                    render: (h, params) => this.renderJoin(h, params)('province', 'city')
                }, {
                    title: '操作',
                    key: 'action',
                    width: 200,
                    align: 'center',
                    render: (h, params) => this.renderActions(h, params, [{
                        config: { loading: this.loadingBtn, style: { marginRight: '5px' } },
                        click: () => this.$router.push({
                            name: 'MemberInfo',
                            params: this.getInfo(params.row)
                        }),
                        text: '详情'
                    }])
                }],
                url: '/api/member/list',
                query: {
                    nickname: null,
                    phone: null,
                    start: null,
                    end: null
                }
            },
            range: [],
            dateRangeOpt: {
                shortcuts: [{
                    text: '1 天',
                    value: () => [dayjs().subtract(1, 'day').toDate(), dayjs().toDate()]
                }, {
                    text: '3 天',
                    value: () => [dayjs().subtract(3, 'day').toDate(), dayjs().toDate()]
                }, {
                    text: '7 天',
                    value: () => [dayjs().subtract(7, 'day').toDate(), dayjs().toDate()]
                }]
            },
            removeUrl: '/api/alarm/rule/remove'
        };
    },
    methods: {
        async beforeQuery () {
            if (this.range[0] !== '') {
                this.table.query.start = dayjs(this.range[0]).format('YYYY-MM-DD HH:mm');
                this.table.query.end = dayjs(this.range[1]).format('YYYY-MM-DD HH:mm');
            }
        },
        async afterQuery () {
            this.table.query.start = '';
            this.table.query.end = '';
        },
        getInfo (row) {
            ['openid', 'version'].forEach(key => Reflect.deleteProperty(row, key));
            return row;
        }
    }
};
</script>
