<template>
    <div>
        <Tabs type="card">
            <TabPane label="会员资料">
                <Card style="width:600px">
                    <div style="text-align:left">
                        <img v-if="memberInfo.avatar != null" :src="memberInfo.avatar" style="width:50px;height:50px">
                        <img v-else src="./timg.jpg" style="width:50px;height:50px">
                        <Divider />
                    </div>
                    <Row>
                        <Col span="12">
                        <CellGroup>
                            <Cell title="会员ID" :extra="String(memberInfo.id)"/>
                        </CellGroup>
                        </Col>
                        <Col span="12">
                        <CellGroup>
                            <Cell title="昵称" :extra="memberInfo.nickname"/>
                        </CellGroup>
                        </Col>
                    </Row>
                    <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
                    <Row>
                        <Col span="12">
                        <CellGroup>
                            <Cell title="性别" :extra="sex"/>
                        </CellGroup>
                        </Col>
                        <Col span="12">
                        <CellGroup>
                            <Cell title="联系方式" :extra="String(memberInfo.phone || '')"/>
                        </CellGroup>
                        </Col>
                    </Row>
                    <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">

                    <Row>
                        <Col span="12">
                        <CellGroup>
                            <Cell title="所在地" :extra="place"/>
                        </CellGroup>
                        </Col>
                    </Row>
                </Card>
            </TabPane>
            <TabPane label="交易记录">
                <transList v-bind:memid="Number(memberInfo.id)"></transList>
            </TabPane>
            <TabPane label="返利流水">
                <rebate-trans v-bind:memid="Number(memberInfo.id)" :balance="Number(memberInfo.balance)" :rebate="Number(memberInfo.rebate)" :status="Number(memberInfo.status)"></rebate-trans>
            </TabPane>
        </Tabs>
    </div>
</template>

<script>
import TransList from '@/admin/views/member/transList';
import RebateTrans from '@/admin/views/member/rebate-trans';
import { MemberSexType, opt } from '@/libs/dic';
export default {
    name: 'MemberInfo',
    components: {
        TransList, RebateTrans
    },
    data () {
        return {
            memberInfo: this.$route.params
        };
    },
    computed: {
        sex () {
            return opt(MemberSexType, this.memberInfo.sex).name;
        },
        place () {
            return `${this.memberInfo.country}/${this.memberInfo.province}/${this.memberInfo.city}`;
        }
    },
    created () {
        this.memberInfo = this.memberInfo.id ? this.memberInfo : JSON.parse(localStorage.getItem('member'));
        localStorage.setItem('member', JSON.stringify(this.memberInfo));
    }
};
</script>
