<style scoped>
    .expand-row{
        margin-bottom: 16px;
    }
</style>
<template>
    <div v-if="type === 1">
        <Row class="expand-row">
            <Col span="8">
            <span class="expand-key">商品信息: </span>
            <span class="expand-value">{{ info.subName }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">订单金额: </span>
            <span class="expand-value">{{ NumberFomat(info.money) }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">订单编号: </span>
            <span class="expand-value">{{ info.orderNumber }}</span>
            </Col>
        </Row>
        <Divider />
        <Row>
            <Col span="8">
            <span class="expand-key">下单时间: </span>
            <span class="expand-value">{{ formatDate(info.createTime) }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">下单人: </span>
            <span class="expand-value">{{ info.nickname }}</span>
            </Col>
        </Row>
    </div>
    <div v-else>
        <Row class="expand-row">
            <Col span="12">
            <span class="expand-key">提现金额: </span>
            <span class="expand-value">{{ NumberFomat(info.money) }}</span>
            </Col>
            <!-- <Col span="8">
            <span class="expand-key">手续费: </span>
            <span class="expand-value">{{ info.money }}</span>
            </Col> -->
            <Col span="12">
            <span class="expand-key">收款方式: </span>
            <span class="expand-value">{{ paymentDesc }}</span>
            </Col>
        </Row>
        <Divider />
        <Row>
            <Col span="12">
            <span class="expand-key">收款账户: </span>
            <span class="expand-value" v-if="info.type === 1">{{ info.nickname }}</span>
            <span class="expand-value" v-else-if="info.type === 2">{{ info.alipayAccount }}</span>
            <span class="expand-value" v-else>{{ info.bankAccountName }}</span>
            </Col>
            <!-- <Col span="8">
            <span class="expand-key">微信号: </span>
            <span class="expand-value">{{ info.nickname }}</span>
            </Col> -->
            <Col span="12">
            <span class="expand-key">提现时间: </span>
            <span class="expand-value">{{ formatDate(info.paymentTime) }}</span>
            </Col>
        </Row>
    </div>
</template>
<script>
import { DateFormat } from '@/libs/common';
import { WithdrawType, opt } from '@/libs/dic';
export default {
    props: {
        row: Object
    },
    data () {
        return {
            type: this.row.type,
            info: {},
            rebateUrl: '/api/member/bills/detail/rebate',
            withdrawUrl: '/api/member/bills/detail/withdraw'
        };
    },
    computed: {
        url () {
            return Number(this.type) === 1 ? this.rebateUrl : this.withdrawUrl;
        },
        paymentDesc () {
            return opt(WithdrawType, this.info.type).name;
        }
    },
    async mounted () {
        const result = await this.fetch(`${this.url}/${this.row.refId}`, { method: 'GET' });
        if (result.success) {
            this.info = result.value;
        }
    },
    methods: {
        formatDate (day) {
            return DateFormat(day, 'YYYY-MM-DD HH:mm:ss');
        },
        NumberFomat (val) {
            if (Number(val) === 0) {
                return '￥0';
            } else {
                return `￥${(Number(val) / 100).toFixed(2)}`;
            }
        }
    }
};
</script>
