<template>
    <div>
        <Row>
            <Col span="4">
            <Card style="background:#eee;">
                <div style="text-align:center">
                    <h2 style="font-weight:bold">{{NumberFomat(rebate)}}</h2>
                    <p>累计返利</p>
                </div>
            </Card>
            </Col>
            <Col span="4" style="margin-left:20px;">
            <Card style="background:#eee;">
                <div style="text-align:center">
                    <h2 style="font-weight:bold">{{NumberFomat(balance)}}</h2>
                    <p>可用返利</p>
                </div>
            </Card>
            </Col>
            <Col span="4" style="margin-left:20px;">
            <Card style="background:#eee;">
                <div style="text-align:center">
                    <h2>0</h2>
                    <p>待返利</p>
                </div>
            </Card>
            </Col>
            <Col span="4" style="margin-left:20px;" v-if="status == 1">
            <Card style="background:#eee;">
                <div style="text-align:center">
                    <h2 style="color:green">账户正常</h2>
                    <p><a href="javascript:;" @click="updateStatus(2)">禁止提现</a></p>
                </div>
            </Card>
            </Col>
            <Col span="4" style="margin-left:20px;" v-if="status == 2">
            <Card style="background:#eee;">
                <div style="text-align:center">
                    <h2 style="color:red">禁止提现</h2>
                    <p><a href="javascript:;" @click="updateStatus(1)">恢复提现</a></p>
                </div>
            </Card>
            </Col>
        </Row>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">时间:</label>
            <DatePicker v-model="range" transfer type="datetimerange" :options="dateRangeOpt" format="yyyy-MM-dd HH:mm" placeholder="请选择查询范围" style="width: 250px"></DatePicker>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
        </Row>
        <Row class="margin-top-10">
            <Col>
            <Table ref="selection" :columns="table.col" :data="table.data"></Table>
            <div style="margin: 10px;overflow: hidden">
                <div style="float: right;">
                    <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                </div>
            </div>
            </Col>
        </Row>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import expandRow from '@/admin/views/member/reate-table-expand';
import dayjs from 'dayjs';
export default {
    mixins: [ TableColRender, TableDataView ],
    props: {
        memid: Number,
        balance: Number,
        rebate: Number,
        status: Number
    },
    data () {
        return {
            isCash: 1,
            table: {
                col: [
                    {
                        type: 'expand',
                        width: 50,
                        render: (h, params) => {
                            return h(expandRow, {
                                props: {
                                    row: params.row
                                }
                            });
                        }
                    },
                    {
                        title: '时间',
                        key: 'createTime',
                        render: this.renderDate
                    },
                    {
                        title: '金额',
                        key: 'money',
                        render: (h, params) => this.renderMoney(h, params),
                        width: 200
                    },
                    {
                        title: '项目',
                        key: 'project',
                        width: 300
                    },
                    {
                        title: '收支',
                        key: 'trans_type',
                        width: 100
                    },
                    {
                        title: '状态',
                        key: 'status',
                        width: 100
                    }
                ],
                query: {
                    name: ''
                },
                url: '/api/member/bills/list/'
            },
            updateUrl: '/api/member/update',
            rebateUrl: '/api/member/bills/detail/rebate/',
            withdrawUrl: '/api/member/bills/detail/withdraw/',
            daysInMonth: dayjs().daysInMonth(),
            daysInLastMonth: dayjs().set('month', dayjs().month() - 1).daysInMonth(),
            range: [dayjs().subtract(1, 'day').toDate(), dayjs().set('second', 0).toDate()],
            dateRangeOpt: {
                shortcuts: [{
                    text: '昨日',
                    value: () => [dayjs().subtract(1, 'day').set('hour', 0).set('minute', 0).set('second', 0).toDate(), dayjs().subtract(1, 'day').set('hour', 23).set('minute', 59).set('second', 59).toDate()]
                }, {
                    text: '今日',
                    value: () => [dayjs().set('hour', 0).set('minute', 0).set('second', 0).toDate(), dayjs().set('hour', 23).set('minute', 59).set('second', 59).toDate()]
                }, {
                    text: '本周',
                    value: () => [dayjs().subtract(7, 'day').toDate(), dayjs().toDate()]
                }, {
                    text: '上月',
                    value: () => [dayjs().set('month', dayjs().month() - 1).set('date', 1).toDate(), dayjs().set('month', dayjs().month() - 1).set('date', 1).add(this.daysInLastMonth - 1, 'day').toDate()]
                }, {
                    text: '本月',
                    value: () => [dayjs().set('date', 1).toDate(), dayjs().set('date', 1).add(this.daysInMonth - 1, 'day').toDate()]
                }]
            }
        };
    },
    methods: {
        beforeQuery () {
            const url = '/api/member/bills/list/';
            this.table.url = `${url}${this.memid}`;
        },
        afterQuery () {
            this.table.data.forEach(v => {
                v.money = Number(v.newer) - Number(v.old);
                v.project = Number(v.type) === 1 ? '分享返利' : '返利提现';
                v.trans_type = Number(v.type) === 1 ? '收入' : '支出';
                v.status = '已完成';
            });
        },
        NumberFomat (val) {
            if (Number(val) === 0) {
                return 0;
            } else {
                return `${(Number(val) / 100).toFixed(2)}`;
            }
        },
        async updateStatus (val) {
            let vo = {
                id: this.memid,
                status: val
            };
            const result = await this.fetch(this.updateUrl, { method: 'post', data: vo });
            if (result.success) {
                this.status = val;
            }
        }
    }
};
</script>
