<style scoped>
    .expand-row{
        margin-bottom: 16px;
    }
</style>
<template>
    <div v-if="type === 5101">
        <Row class="expand-row">
            <Col span="8">
            <span class="expand-key" style="color:red">已退票: </span>
            <span class="expand-value">{{info.refundQuantity }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key" style="color:green">已使用: </span>
            <span class="expand-value">{{ info.usedQuantity }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">已过期: </span>
            <span class="expand-value">{{ info.expiredQuantity }}</span>
            </Col>
        </Row>
        <Divider />
        <Row class="expand-row">
            <Col span="8">
            <span class="expand-key">游玩日期: </span>
            <span class="expand-value">{{ formatDate(info.start)  }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">生效时间: </span>
            <span class="expand-value">{{ formatDate(info.minEffectiveDate) }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">过期时间: </span>
            <span class="expand-value">{{ formatDate(info.maxExpiryDate) }}</span>
            </Col>
        </Row>
        <Divider>游客信息</Divider>
        <Row class="expand-row" v-for="visitor in info.visitors" :key="visitor.sid">
            <Col span="8">
            <span class="expand-key">姓名: </span>
            <span class="expand-value">{{ visitor.name }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">联系电话: </span>
            <span class="expand-value">{{ visitor.phone }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">证件号码: </span>
            <span class="expand-value">{{ visitor.sid }}</span>
            </Col>
        </Row>
    </div>
    <div v-else-if="type === 5102">
        <Row class="expand-row">
            <Col span="8">
            <span class="expand-key" style="color:red">已退票: </span>
            <span class="expand-value">{{info.refundQuantity }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key" style="color:green">已使用: </span>
            <span class="expand-value">{{ info.usedQuantity }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">已过期: </span>
            <span class="expand-value">{{ info.expiredQuantity }}</span>
            </Col>
        </Row>
        <Divider />
        <Row class="expand-row">
            <Col span="12">
            <span class="expand-key">入店时间: </span>
            <span class="expand-value">{{ formatDate(info.start) }}</span>
            </Col>
            <Col span="12">
            <span class="expand-key">离店时间: </span>
            <span class="expand-value">{{ formatDate(info.end) }}</span>
            </Col>
        </Row>
        <Row class="expand-row">
            <Col span="12">
            <span class="expand-key">生效时间: </span>
            <span class="expand-value">{{ formatDate(info.minEffectiveDate) }}</span>
            </Col>
            <Col span="12">
            <span class="expand-key">过期时间: </span>
            <span class="expand-value">{{ formatDate(info.maxExpiryDate) }}</span>
            </Col>
        </Row>
        <Divider>联系人信息</Divider>
        <Row class="expand-row">
            <Col span="12">
            <span class="expand-key">姓名: </span>
            <span class="expand-value">{{ info.name }}</span>
            </Col>
            <Col span="12">
            <span class="expand-key">联系电话: </span>
            <span class="expand-value">{{ info.phone }}</span>
            </Col>
        </Row>
    </div>
    <div v-else-if="type === 5103">
        <Row class="expand-row">
            <Col span="8">
            <span class="expand-key" style="color:red">已退票: </span>
            <span class="expand-value">{{info.refundQuantity }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key" style="color:green">已使用: </span>
            <span class="expand-value">{{ info.usedQuantity }}</span>
            </Col>
            <Col span="8">
            <span class="expand-key">已过期: </span>
            <span class="expand-value">{{ info.expiredQuantity }}</span>
            </Col>
        </Row>
        <Divider />
        <Row class="expand-row">
            <Col span="6">
            <span class="expand-key">出发日期: </span>
            <span class="expand-value">{{ formatDate(info.start) }}</span>
            </Col>
            <Col span="6">
            <span class="expand-key">行程天数: </span>
            <span class="expand-value">{{ info.dayCount }}天{{ info.nights }}晚</span>
            </Col>
            <Col span="6">
            <span class="expand-key">出发地: </span>
            <span class="expand-value">{{ info.placeOfDeparture }}</span>
            </Col>
            <Col span="6">
            <span class="expand-key">目的地: </span>
            <span class="expand-value">{{ info.destination }}</span>
            </Col>
        </Row>
        <Divider>联系人信息</Divider>
        <Row class="expand-row">
            <Col span="12">
            <span class="expand-key">姓名: </span>
            <span class="expand-value">{{ info.name }}</span>
            </Col>
            <Col span="12">
            <span class="expand-key">联系电话: </span>
            <span class="expand-value">{{ info.phone }}</span>
            </Col>
        </Row>
    </div>
</template>
<script>
import { DateFormat } from '@/libs/common';
import dayjs from 'dayjs';
export default {
    props: {
        row: Object
    },
    data () {
        return {
            type: null,
            info: {},
            url: '/api/order/detail'
        };
    },
    async mounted () {
        const result = await this.fetch(`${this.url}/${this.row.itemNumber}`, { method: 'GET' });
        if (result.success) {
            this.info = result.value;
            this.type = result.value.data.productType;
        }
    },
    methods: {
        formatDate (day) {
            return DateFormat(day, 'YYYY-MM-DD HH:mm:ss');
        },
        getBackDate (start, dayCount) {
            return dayjs(Number(start)).add(dayCount, 'day').format('YYYY-MM-DD 00:00:00');
        },
        NumberFomat (val) {
            if (Number(val) === 0) {
                return '￥0';
            } else {
                return `￥${(Number(val) / 100).toFixed(2)}`;
            }
        }
    }
};
</script>
