<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">下单时间:</label>
            <DatePicker v-model="range" type="datetimerange" :options="dateRangeOpt" format="yyyy-MM-dd HH:mm" placeholder="请选择查询范围" style="width: 250px"></DatePicker>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
        </Row>
        <Row class="margin-top-10">
            <Col>
            <Table ref="selection" :columns="table.col" :data="table.data"></Table>
            <div style="margin: 10px;overflow: hidden">
                <div style="float: right;">
                    <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                </div>
            </div>
            </Col>
        </Row>
    </div>
</template>

<script>
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import expandRow from '@/admin/views/member/trans-table-expand';
import dayjs from 'dayjs';
export default {
    mixins: [TableColRender, TableDataView],
    props: {
        memid: Number
    },
    data () {
        return {
            table: {
                col: [{
                    type: 'expand',
                    width: 50,
                    render: (h, params) => {
                        return h(expandRow, {
                            props: {
                                row: params.row
                            }
                        });
                    }
                },
                {
                    title: '订单号',
                    key: 'number',
                    tooltip: true
                },
                {
                    title: '产品',
                    key: 'subName',
                    tooltip: true
                },
                {
                    title: '下单时间',
                    key: 'createTime',
                    render: this.renderDate,
                    width: 200
                },
                {
                    title: '数量',
                    key: 'quantity',
                    width: 80
                },
                {
                    title: '金额',
                    key: 'money',
                    render: (h, params) => this.renderMoney(h, params),
                    width: 100
                },
                {
                    title: '联系人',
                    key: 'contact',
                    width: 150
                },
                {
                    title: '联系方式',
                    key: 'contactPhone',
                    width: 150
                },
                {
                    title: '状态',
                    key: 'statusDesc',
                    width: 100,
                    align: 'center'
                }
                ],
                query: {
                    name: '',
                    memberId: this.memid
                },
                url: '/api/order/list'
            },
            range: [dayjs().subtract(1, 'day').toDate(), dayjs().set('second', 0).toDate()],
            dateRangeOpt: {
                shortcuts: [{
                    text: '1 天',
                    value: () => [dayjs().subtract(1, 'day').toDate(), dayjs().set('second', 0).toDate()]
                }, {
                    text: '3 天',
                    value: () => [dayjs().subtract(3, 'day').toDate(), dayjs().set('second', 0).toDate()]
                }, {
                    text: '7 天',
                    value: () => [dayjs().subtract(7, 'day').toDate(), dayjs().set('second', 0).toDate()]
                }]
            }
        };
    },
    methods: {
        afterQuery () {
            this.table.data = this.table.data.map(v => Object.assign({}, v, v.data));
        }
    }
};
</script>
