<template>
    <div>
        <Header :title="productInfo.name"></Header>
        <div style="padding-top: 60px;">
            <mu-carousel transition="fade" style="height: 200px">
                <mu-carousel-item v-for="(img, index) in imgs" :key="index">
                    <img :src="img">
                </mu-carousel-item>
            </mu-carousel>
        </div>
        <div v-if="productType === null">
            <div style="line-height: 20px; font-size: 15px;text-align: left;">
                <div style="padding: 0 10px;">出发城市: {{productInfo.startArea}}</div>
            </div>
            <mu-divider></mu-divider>
            <div style="line-height: 20px; font-size: 15px;text-align: left;">
                <div style="padding: 0 10px;">集合地点: {{productInfo.setArea}}</div>
            </div>
        </div>
        <mu-flex class="flex-wrapper" align-items="center" v-else>
            <mu-flex class="flex-left" justify-content="center" fill>
                <div style="line-height: 20px; font-size: 15px;text-align: left;">
                    <div style="padding: 0 10px;">出发城市: {{productInfo.startArea}}</div>
                </div>
                <div style="line-height: 20px; font-size: 15px;text-align: left;">
                    <div style="padding: 0 10px;">集合地点: {{productInfo.setArea}}</div>
                </div>
            </mu-flex>
            <mu-flex class="flex-right" justify-content="center" fill>
                <div @click="openShare = true">
                    <mu-icon size="20" value="monetization_on"></mu-icon>
                    <span style="display:block">分享有赏</span>
                </div>
            </mu-flex>
        </mu-flex>
        <mu-divider></mu-divider>
        <div class="label-box">
            <span class="label" v-for="(label, index) in labels" :key="index">{{label}}</span>
        </div>
        <mu-divider></mu-divider>
        <mu-tabs :value.sync="activeTab" inverse color="secondary" indicator-color="#21ad42" full-width>
            <mu-tab>景点票型</mu-tab>
            <mu-tab>行程介绍</mu-tab>
            <mu-tab>费用须知</mu-tab>
        </mu-tabs>
        <mu-list v-if="activeTab === 0" key="detail" textline="two-line">
            <template v-for="(sub, index) in productInfo.subInfo">
                <mu-list-item avatar :ripple="false" button :key="index">
                    <mu-list-item-content style="word-wrap: break-word; overflow-y: auto; height: 72px;font-size: 16px; display: flex; align-items: center;">
                        {{sub.name}}
                        <span style="color:red;font-size:13px" v-if="productType === null">
                            (剩余抢购时间:{{sub.data.limitTime}})
                        </span>
                        <span style="color:red;font-size:13px" v-else>
                            (分享返利:{{sub.data.rebateType === 1 ? `${sub.data.rebate}%` : `￥${sub.data.rebate / 100}`}})
                        </span>
                    </mu-list-item-content>
                    <mu-list-item-action style="min-width: 100px; padding-top: 0;">
                        <mu-list-item-after-text style="color: #ff5f2e;" v-html="`<b style='font-size: 18px;'>￥${sub.price / 100}</b><span style='font-size:10px'>起</span>`"></mu-list-item-after-text>
                        <mu-button class="booking-btn" color="error" @click="buy(sub)" disabled v-if="productType === null && sub.data.limitType === false">在线预订</mu-button>
                        <mu-button class="booking-btn" color="error" @click="buy(sub)" v-else>在线预订</mu-button>
                    </mu-list-item-action>
                </mu-list-item>
                <mu-divider v-if="index !== productInfo.subInfo.length - 1" style="margin-top: 8px; margin-bottom: 8px;" :key="`divider-${index}`"></mu-divider>
            </template>
        </mu-list>
        <mu-container v-if="activeTab === 1" key="detail">
            <mu-divider style="margin-top: 10px; margin-bottom: 10px;"></mu-divider>
            <div v-html="productInfo.summary"></div>
        </mu-container>
        <mu-container v-if="activeTab === 2" key="fee">
            <mu-list>
                <div>
                    <div>
                        <b>费用包含</b>
                    </div>
                    <div class="fee-notes">{{productInfo.costContain}}</div>
                </div>
                <mu-divider style="margin-top: 10px; margin-bottom: 10px;"></mu-divider>
                <div>
                    <div>
                        <b>费用不包含</b>
                    </div>
                    <div class="fee-notes">{{productInfo.costNotContain}}</div>
                </div>
                <mu-divider style="margin-top: 10px; margin-bottom: 10px;"></mu-divider>
                <div>
                    <div>
                        <b>出游前须知</b>
                    </div>
                    <div class="fee-notes">{{productInfo.outingBefore}}</div>
                </div>
                <mu-divider style="margin-top: 10px; margin-bottom: 10px;"></mu-divider>
                <div>
                    <div>
                        <b>出游后须知</b>
                    </div>
                    <div class="fee-notes">{{productInfo.outingAfter}}</div>
                </div>
                <mu-divider style="margin-top: 10px; margin-bottom: 10px;"></mu-divider>
                <div>
                    <div>
                        <b>退款说明</b>
                    </div>
                    <div class="fee-notes">{{productInfo.refundExplain}}</div>
                </div>
            </mu-list>
        </mu-container>
        <!-- <div style="height: 55px;"></div>
        <BottomButton :active="active"></BottomButton> -->
        <shop-share v-if="productType != null" v-model="openShare" :title="title" :image="imgs[0] || ''" :notes="productInfo.name || ''" :price="$route.query.purchasePrice"></shop-share>
    </div>
</template>
<script>
import BottomButton from '@/components/bottom-btn.vue';
import ShopShare from '@/components/shop-share.vue';
import { opt, LineLabel } from '@/libs/dic';
import Header from '@/components/header.vue';
import imgs from '@/components/mixins/product-imgs';
import WxUtil from '@/components/mixins/wx-util';
export default {
    name: 'LineDetail',
    components: { BottomButton, Header, ShopShare },
    mixins: [ imgs, WxUtil ],
    data () {
        return {
            active: 'home',
            activeTab: 0,
            productInfo: {},
            openShare: false,
            productType: this.$route.query.productType
        };
    },
    computed: {
        labels () {
            return (this.productInfo.label || []).map(d => opt(LineLabel, Number(d), { name: false }).name).filter(n => n !== false);
        },
        days () {
            return `${this.productInfo.days.replace('-', '天')}晚`;
        },
        day () {
            return this.productInfo.days.split('-')[0];
        },
        imgs () {
            return this.transformImgs(this.productInfo);
        },
        title () {
            return this.$store.state.user.title;
        },
        memberInfo () {
            return this.$store.state.user.member;
        }
    },
    async mounted () {
        await this.$store.dispatch('member');
        await this.load();
        this.initWxConfig(this.memberInfo.id);
    },
    methods: {
        async load () {
            let url = null;
            if (this.productType === null) {
                url = '/api/limit/product/info';
            } else {
                url = '/api/rebate/product/info';
            }
            let result = await this.fetch(url, { params: {
                productId: this.$route.query.productId,
                type: this.$route.query.type
            } });
            if (result.success) {
                this.productInfo = result.value;
                if (this.productType === null) {
                    const nowTime = new Date().getTime();
                    this.productInfo.subInfo.forEach((item, index) => {
                        let time = Number(item.data.end) - Number(nowTime);
                        let day = Math.floor(time / (24 * 3600 * 1000));
                        let leave1 = time % (24 * 3600 * 1000);
                        let hours = Math.floor(leave1 / (3600 * 1000));
                        let leave2 = leave1 % (3600 * 1000);
                        let minutes = Math.floor(leave2 / (60 * 1000));
                        if (time <= 0) {
                            item.data.limitTime = '0天0分0秒';
                            item.data.limitType = false;
                        } else {
                            item.data.limitTime = `${day}天${hours}小时${minutes}分钟`;
                            item.data.limitType = true;
                        }
                    });
                }
            } else {
                this.$router.replace({ path: '/' });
            }
        },
        buy (sub) {
            this.$router.push({
                name: 'buy-line',
                query: {
                    code: sub.code, name: sub.name, price: sub.price, days: this.days, day: this.day, productType: this.$route.query.productType
                }
            });
        }
    }
};
</script>
<style lang="less" scoped>
.fee-notes {
  white-space: pre-line;
  color: #999;
  font-size: 12px;
  padding: 4px 4px 0 4px;
}
.label {
  float: unset;
}
.label-box {
  height: 38px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  line-height: 38px;
  padding: 0 10px;
}
.flex-wrapper {
  width: 100%;
  min-height: 80px;
}
.flex-left {
  width: 240px;
  min-height: 62px;
  text-align: left;
  line-height: 31px;
  margin-left: 8px;
  flex-direction: column !important;
}
.flex-right {
  width: 60px;
  text-align: center;
  margin-left: 8px;
}
</style>
