<template>
    <div>
        <Header :title="productInfo.name"></Header>
        <div style="padding-top: 60px;">
            <mu-carousel transition="fade" style="height: 200px">
                <mu-carousel-item v-for="(img, index) in imgs" :key="index">
                    <img :src="img">
                </mu-carousel-item>
            </mu-carousel>
        </div>
        <mu-sub-header class="sub_header">{{productInfo.name}}</mu-sub-header>
        <div v-if="productType === null">
            <star-rating v-model="level" :show-rating="false" :padding="2" :read-only="true" :star-size="20" style="padding-left: 10px;width:100%"></star-rating>
            <div class="big-img-info">
                <div @click="openWxMap(point,productInfo.address)">
                    <mu-icon class="map-icon" size="20" value="near_me" style="float: left;"></mu-icon>
                    <span>{{productInfo.pcastr}}{{productInfo.address}}</span>
                </div>
            </div>
        </div>
        <mu-flex class="flex-wrapper" align-items="center" v-else>
            <mu-flex class="flex-left" justify-content="center" fill>
                <star-rating v-model="level" :show-rating="false" :padding="2" :read-only="true" :star-size="20" style="padding-left: 10px;width:100%"></star-rating>
                <div>
                    <div @click="openWxMap(point,productInfo.address)">
                        <mu-icon class="map-icon" size="20" value="near_me" style="float: left;"></mu-icon>
                        <span>{{productInfo.pcastr}}{{productInfo.address}}</span>
                    </div>
                </div>
            </mu-flex>
            <mu-flex class="flex-right" justify-content="center" fill>
                <div @click="openShare = true">
                    <mu-icon size="20" value="monetization_on"></mu-icon>
                    <span style="display:block">分享有赏</span>
                </div>
            </mu-flex>
        </mu-flex>
        <mu-paper :z-depth="1" style="margin-bottom: 10px; line-height: 38px; text-align: center; font-size: 15px;">
            <div>景点票型</div>
        </mu-paper>
        <mu-paper :z-depth="1">
            <mu-container style="padding: 10px;">
                <div v-for="(subs, index) in productInfo.subInfo" :key="index" :style="{height: '120px', marginTop: index === 0 ? 0 : '10px'}">
                    <mu-row>
                        <mu-col tag="b" span="12">
                            <span>
                                {{subs.name}}
                            </span>
                            <span style="color:red;font-size:15px" v-if="productType === null">
                                (剩余抢购时间:{{subs.data.limitTime}})
                            </span>
                            <span style="color:red;font-size:13px" v-else>
                                (分享返利:{{subs.data.rebateType === 1 ? `${subs.data.rebate}%` : `￥${subs.data.rebate / 100}`}})
                            </span>
                        </mu-col>
                    </mu-row>
                    <mu-row>
                        <mu-col class="d-notes" v-html="ParseNotes(subs.bookingNotes)"></mu-col>
                        <mu-col span="3" md="2" style="margin-left: 10px; margin-right: 5px; text-align: right;">
                            <div style="text-decoration: line-through;color: #ccc;">￥{{subs.marketPrice / 100}}</div>
                            <div style="color: red;bottom: 20px;">
                                <b style="font-size:18px">￥{{subs.price / 100}}</b>
                                <span style="font-size:10px">起</span>
                            </div>
                            <mu-button class="booking-btn" color="error" @click="buyTicket(subs)" disabled v-if="productType === null && subs.data.limitType === false">在线预订</mu-button>
                            <mu-button class="booking-btn" color="error" @click="buyTicket(subs)" v-else>在线预订</mu-button>
                        </mu-col>
                    </mu-row>
                    <mu-divider v-if="index !== productInfo.subInfo.length - 1" style="margin-top: 8px; margin-bottom: 8px;"></mu-divider>
                </div>
            </mu-container>
        </mu-paper>
        <mu-card style="margin-top: 10px;">
            <mu-card-title title="详情介绍" style="padding: 10px 16px;text-align: center;font-size: 15px;"></mu-card-title>
            <mu-card-text style="padding: 0 16px" v-html="productInfo.summary">
            </mu-card-text>
        </mu-card>
        <!-- <div style="height: 55px;"></div> -->
        <!-- <BottomButton :active="active"></BottomButton> -->
        <shop-share v-if="productType != null" v-model="openShare" :title="title" :image="imgs[0] || ''" :notes="productInfo.name || ''" :price="$route.query.purchasePrice"></shop-share>
    </div>
</template>
<script>
import BottomButton from '@/components/bottom-btn.vue';
import ShopShare from '@/components/shop-share.vue';
import { opt, LevelStar } from '@/libs/dic';
import { ParseNotes } from '@/libs/shop-common';
import Header from '@/components/header.vue';
import StarRating from 'vue-star-rating';
import imgs from '@/components/mixins/product-imgs';
import point from '@/components/mixins/map-point';
import WxUtil from '@/components/mixins/wx-util';
export default {
    name: 'TicketDetail',
    components: { BottomButton, Header, StarRating, ShopShare },
    mixins: [ imgs, point, WxUtil ],
    data () {
        return {
            ParseNotes,
            active: 'home',
            productInfo: {},
            openShare: false,
            productType: this.$route.query.productType
        };
    },
    computed: {
        level () {
            return this.productInfo ? opt(LevelStar, this.productInfo.level, { value: 0 }).value : 0;
        },
        imgs () {
            return this.transformImgs(this.productInfo);
        },
        point () {
            return this.transformPoint(this.productInfo.map);
        },
        title () {
            return this.$store.state.user.title;
        },
        memberInfo () {
            return this.$store.state.user.member;
        }
    },
    async created () {
        await this.$store.dispatch('member');
        this.height = window.document.body.offsetHeight - 35;
    },
    async mounted () {
        await this.pull();
        this.initWxConfig(this.memberInfo.id);
    },
    methods: {
        async pull () {
            let url = null;
            if (this.productType === null) {
                url = '/api/limit/product/info';
            } else {
                url = '/api/rebate/product/info';
            }
            let result = await this.fetch(url, { params: {
                productId: this.$route.query.productId,
                type: this.$route.query.type
            } });
            if (result.success) {
                this.productInfo = result.value;
                if (this.productType === null) {
                    const nowTime = new Date().getTime();
                    this.productInfo.subInfo.forEach((item, index) => {
                        let time = Number(item.data.end) - Number(nowTime);
                        let day = Math.floor(time / (24 * 3600 * 1000));
                        let leave1 = time % (24 * 3600 * 1000);
                        let hours = Math.floor(leave1 / (3600 * 1000));
                        let leave2 = leave1 % (3600 * 1000);
                        let minutes = Math.floor(leave2 / (60 * 1000));
                        if (time <= 0) {
                            item.data.limitTime = '0天0分0秒';
                            item.data.limitType = false;
                        } else {
                            item.data.limitTime = `${day}天${hours}小时${minutes}分钟`;
                            item.data.limitType = true;
                        }
                    });
                }
            } else {
                this.$router.replace({ path: '/' });
            }
        },
        buyTicket (subs) {
            this.$router.push({ path: '/order/buy/ticket',
                query: {
                    code: subs.code, name: subs.name, price: subs.price, productType: this.$route.query.productType, requireSid: subs.requireSid
                } });
        }
    }
};
</script>
<style lang="less" scoped>
.sub_header {
  text-align: center;
  padding-left: 0px;
  font-weight: bold;
  font-size: 17px;
  line-height: 35px;
}
.flex-wrapper {
  width: 100%;
  height: 80px;
}
.flex-left {
  width: 240px;
  height: 62px;
  text-align: left;
  line-height: 31px;
  margin-left: 8px;
  flex-direction: column !important;
}
.flex-right {
  width: 60px;
  text-align: center;
  margin-left: 8px;
}
</style>
