<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>material-icons/material-icons.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_858422_3opxgn9m6rm.css">
    <script type="text/javascript" src="<%= BASE_URL %>jweixin-1.4.0.js"></script>
    <title>商城</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but www doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>