<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">时间：</label>
            <DatePicker v-model="range" type="datetimerange" :options="dateRangeOpt" format="yyyy-MM-dd HH:mm" placeholder="请选择查询范围" style="width: 250px"></DatePicker>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
            <Button class="margin-left-10" type="success" @click="exportExcel" icon="md-share-alt">导出</Button>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <Table :columns="table.col" :data="table.data"></Table>
                <div style="margin: 10px;overflow: hidden">
                    <div style="float: right;">
                        <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                    </div>
                </div>
            </i-col>
        </Row>
    </div>
</template>

<script>
import dayjs from 'dayjs';
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import { DateFormat } from '@/libs/common';
import { exportJsonToExcel } from '@/components/export/Export2Excel';
import { groupType } from '@/libs/dic';
export default {
    name: 'GroupDetail',
    mixins: [ TableColRender, TableDataView ],
    data () {
        return {
            table: {
                col: [{
                    title: '订单号',
                    key: 'number'
                }, {
                    title: '产品',
                    key: 'subName',
                    tooltip: true
                }, {
                    title: '下单时间',
                    key: 'createTime',
                    render: this.renderDate
                }, {
                    title: '数量',
                    key: 'quantity'
                }, {
                    title: '金额',
                    key: 'money',
                    render: (h, params) => this.renderMoney(h, params)
                }, {
                    title: '发起者',
                    key: 'ownerMember'
                }, {
                    title: '状态',
                    key: 'groupStatus',
                    render: (h, params) => this.renderDic(h, params)(groupType)
                }],
                url: '/api/order/group/detail/list',
                query: {
                    start: null,
                    end: null
                }
            },
            range: [],
            dateRangeOpt: {
                shortcuts: [{
                    text: '昨日',
                    value: () => [dayjs().subtract(1, 'day').set('hour', 0).set('minute', 0).set('second', 0).toDate(), dayjs().subtract(1, 'day').set('hour', 23).set('minute', 59).set('second', 59).toDate()]
                }, {
                    text: '今日',
                    value: () => [dayjs().set('hour', 0).set('minute', 0).set('second', 0).toDate(), dayjs().set('hour', 23).set('minute', 59).set('second', 59).toDate()]
                }, {
                    text: '上月',
                    value: () => [dayjs().subtract(1, 'month').toDate(), dayjs().toDate()]
                }, {
                    text: '本月',
                    value: () => [dayjs().toDate(), dayjs().add(1, 'month').toDate()]
                }]
            }
        };
    },
    methods: {
        groupType (type) {
            switch (type) {
                case 1 :
                    return '创建';
                case 2 :
                    return '开启';
                case 3 :
                    return '失败';
                case 4 :
                    return '完成';
            }
        },
        async exportExcel () {
            const params = {
                start: this.range[0] === '' ? '' : dayjs(this.range[0]).format('YYYY-MM-DD HH:mm'),
                end: this.range[0] === '' ? '' : dayjs(this.range[1]).format('YYYY-MM-DD HH:mm'),
                pageNum: null,
                pageSize: null
            };

            const result = await this.fetch(this.table.url, { method: 'GET', params: params });
            if (result.success) {
                const tHeader = ['订单号', '产品', '下单时间', '数量', '金额', '发起者', '状态'];
                const filterVal = ['number', 'subName', 'createTimeDes', 'quantity', 'moneyDesc', 'ownerMember', 'groupStatusName'];
                let list = result.value;
                list.forEach(item => {
                    item.number = `${item.number || 0}`;
                    item.createTimeDes = DateFormat(item.createTime);
                    item.moneyDesc = `￥${((Number(item.money || 0) / 100).toFixed(2))}`;
                    item.groupStatusName = this.groupType(item.groupStatus || 0);
                });
                const data = this.formatJson(filterVal, list);
                let fileName = '';
                if (this.range[0] === '') {
                    fileName = '拼团明细';
                } else {
                    fileName = '拼团明细(' + dayjs(this.range[0]).format('YYYY-MM-DD') + '到' + dayjs(this.range[1]).format('YYYY-MM-DD') + ')';
                }
                exportJsonToExcel(tHeader, data, fileName);
            }
        },
        formatJson (filterVal, jsonData) {
            return jsonData.map(v => filterVal.map(j => v[j]));
        },
        async beforeQuery () {
            if (this.range[0] !== '') {
                this.table.query.start = dayjs(this.range[0]).format('YYYY-MM-DD HH:mm');
                this.table.query.end = dayjs(this.range[1]).format('YYYY-MM-DD HH:mm');
            }
        },
        async afterQuery () {
            this.table.query.start = '';
            this.table.query.end = '';
            this.table.data.forEach(item => {
                item.finalQuantity = Number(item.days) * Number(item.quantity);
            });
        }
    }
};
</script>
