<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">时间：</label>
            <DatePicker v-model="range" type="datetimerange" :options="dateRangeOpt" format="yyyy-MM-dd HH:mm" placeholder="请选择查询范围" style="width: 250px"></DatePicker>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
            <Button class="margin-left-10" type="success" @click="exportExcel" icon="md-share-alt">导出</Button>
        </Row>
        <Row class="margin-top-10">
            <i-col>
                <Table :columns="table.col" :data="table.data"></Table>
                <div style="margin: 10px;overflow: hidden">
                    <div style="float: right;">
                        <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                    </div>
                </div>
            </i-col>
        </Row>
    </div>
</template>

<script>
import dayjs from 'dayjs';
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import { exportJsonToExcel } from '@/components/export/Export2Excel';

export default {
    name: 'LimitReport',
    mixins: [ TableColRender, TableDataView ],
    data () {
        return {
            table: {
                col: [{
                    title: '主产品',
                    key: 'productName'
                }, {
                    title: '子产品',
                    key: 'subName',
                    tooltip: true
                }, {
                    title: '销售数量',
                    key: 'quantity',
                    width: 100
                }, {
                    title: '销售总额',
                    key: 'money',
                    render: (h, params) => this.renderMoney(h, params)
                }],
                url: '/api/report/list',
                query: {
                    type: 2,
                    start: null,
                    end: null
                }
            },
            range: [],
            dateRangeOpt: {
                shortcuts: [{
                    text: '昨日',
                    value: () => [dayjs().subtract(1, 'day').set('hour', 0).set('minute', 0).set('second', 0).toDate(), dayjs().subtract(1, 'day').set('hour', 23).set('minute', 59).set('second', 59).toDate()]
                }, {
                    text: '今日',
                    value: () => [dayjs().set('hour', 0).set('minute', 0).set('second', 0).toDate(), dayjs().set('hour', 23).set('minute', 59).set('second', 59).toDate()]
                }, {
                    text: '上月',
                    value: () => [dayjs().subtract(1, 'month').toDate(), dayjs().toDate()]
                }, {
                    text: '本月',
                    value: () => [dayjs().toDate(), dayjs().add(1, 'month').toDate()]
                }]
            }
        };
    },
    methods: {
        async exportExcel () {
            const params = {
                start: this.range[0] === '' ? '' : dayjs(this.range[0]).format('YYYY-MM-DD HH:mm'),
                end: this.range[0] === '' ? '' : dayjs(this.range[1]).format('YYYY-MM-DD HH:mm'),
                pageNum: null,
                pageSize: null,
                type: 2
            };

            const result = await this.fetch(this.table.url, { method: 'GET', params: params });
            if (result.success) {
                const tHeader = ['主产品', '子产品', '销售数量', '销售总额'];
                const filterVal = ['productName', 'subName', 'quantity', 'moneyDesc'];
                let list = result.value;
                list.forEach(item => {
                    item.moneyDesc = '￥' + ((Number(item.money || 0) / 100).toFixed(2));
                });
                const data = this.formatJson(filterVal, list);
                let fileName = '';
                if (this.range[0] === '') {
                    fileName = '抢购报表';
                } else {
                    fileName = '抢购报表(' + dayjs(this.range[0]).format('YYYY-MM-DD') + '到' + dayjs(this.range[1]).format('YYYY-MM-DD') + ')';
                }
                exportJsonToExcel(tHeader, data, fileName);
            }
        },
        formatJson (filterVal, jsonData) {
            return jsonData.map(v => filterVal.map(j => v[j]));
        },
        async beforeQuery () {
            if (this.range[0] !== '') {
                this.table.query.start = dayjs(this.range[0]).format('YYYY-MM-DD HH:mm');
                this.table.query.end = dayjs(this.range[1]).format('YYYY-MM-DD HH:mm');
            }
        },
        async afterQuery () {
            this.table.query.start = '';
            this.table.query.end = '';
        }
    }
};
</script>
