<template>
    <div>
        <Row class="margin-top-10">
            <label style="margin-right:8px;">会员昵称：</label>
            <Input v-model="table.query.nickname" placeholder="" clearable style="width: 200px" />
            <label class="margin-left-10" style="margin-right:8px;">会员手机：</label>
            <Input v-model="table.query.phone" placeholder="" clearable style="width: 200px" />
            <label class="margin-left-10" style="margin-right:8px;">提现时间：</label>
            <DatePicker v-model="range" type="datetimerange" :options="dateRangeOpt" format="yyyy-MM-dd HH:mm" placeholder="请选择查询范围" style="width: 250px"></DatePicker>
            <label class="margin-left-10" style="margin-right:8px;">状态：</label>
            <RadioGroup v-model="table.query.status">
                <Radio label="">
                    <span>全部</span>
                </Radio>
                <Radio label="1">
                    <span>待审核</span>
                </Radio>
                <Radio label="2">
                    <span>待付款</span>
                </Radio>
                <Radio label="3">
                    <span>已提现</span>
                </Radio>
            </RadioGroup>
            <Button class="margin-left-10" type="primary" @click="doQuery" icon="md-search">搜索</Button>
        </Row>
        <Row class="margin-top-10">

        </Row>
        <Row class="margin-top-10">
            <Col>
            <Table :columns="table.col" :data="table.data"></Table>
            <div style="margin: 10px;overflow: hidden">
                <div style="float: right;">
                    <Page :total="table.total" :show-sizer="true" placement="top" @on-page-size-change="changePageSize" @on-change="changePage"></Page>
                </div>
            </div>
            </Col>
        </Row>
    </div>
</template>

<script>
import dayjs from 'dayjs';
import TableDataView from '@/components/mixins/table-data-view';
import TableColRender from '@/components/mixins/table-col-render';
import { WithdrawStatus, WithdrawType } from '@/libs/dic';

export default {
    name: 'CashList',
    mixins: [ TableColRender, TableDataView ],
    data () {
        return {
            table: {
                col: [{
                    title: '会员ID',
                    key: 'memberId',
                    width: 80
                }, {
                    title: '提现时间',
                    key: 'createTime',
                    render: this.renderDate
                }, {
                    title: '收款方式',
                    key: 'type',
                    render: (h, params) => this.renderDic(h, params)(WithdrawType),
                    width: 150
                }, {
                    title: '收款账户',
                    key: 'account'
                }, {
                    title: '提现金额',
                    key: 'money',
                    render: this.renderMoney
                }, {
                    title: '到账时间',
                    key: 'paymentTime',
                    render: this.renderDate
                }, {
                    title: '状态',
                    key: 'status',
                    render: (h, params) => this.renderDic(h, params)(WithdrawStatus),
                    width: 80
                }, {
                    title: '操作',
                    key: 'action',
                    width: 100,
                    align: 'center',
                    render: (h, params) => this.renderActions(h, params, [{
                        config: { loading: this.loadingBtn, style: { marginRight: '5px' } },
                        click: () => this.$router.push({
                            name: 'CashInfo',
                            params: params.row
                        }),
                        text: '详情'
                    }])
                }],
                url: '/api/withdraw/list',
                query: {
                    name: null,
                    phone: null,
                    start: null,
                    end: null,
                    status: ''
                }
            },
            range: [],
            dateRangeOpt: {
                shortcuts: [{
                    text: '昨日',
                    value: () => [dayjs().subtract(1, 'day').set('hour', 0).set('minute', 0).set('second', 0).toDate(), dayjs().subtract(1, 'day').set('hour', 23).set('minute', 59).set('second', 59).toDate()]
                }, {
                    text: '今日',
                    value: () => [dayjs().set('hour', 0).set('minute', 0).set('second', 0).toDate(), dayjs().set('hour', 23).set('minute', 59).set('second', 59).toDate()]
                }, {
                    text: '本周',
                    value: () => [dayjs().subtract(7, 'day').toDate(), dayjs().toDate()]
                }, {
                    text: '上月',
                    value: () => [dayjs().subtract(1, 'month').toDate(), dayjs().toDate()]
                }, {
                    text: '本月',
                    value: () => [dayjs().toDate(), dayjs().add(1, 'month').toDate()]
                }
                ]
            }
        };
    },
    methods: {
        async beforeQuery () {
            if (this.range[0] !== '') {
                this.table.query.start = dayjs(this.range[0]).format('YYYY-MM-DD HH:mm');
                this.table.query.end = dayjs(this.range[1]).format('YYYY-MM-DD HH:mm');
            }
        },
        async afterQuery () {
            this.table.data.forEach(item => {
                if (item.type === 1) {
                    item.account = item.nickname;
                } else if (item.type === 2) {
                    item.account = item.alipayAccount;
                } else if (item.type === 3) {
                    item.account = item.bankAccountName;
                }
            });
            this.table.query.start = '';
            this.table.query.end = '';
        }
    }
};
</script>
