<template>
    <div>
        <Card style="width:600px">
            <div style="text-align:left">
                <span>
                    <h3>提现详情</h3>
                </span>
                <Divider />
            </div>
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="会员ID" :extra="String(cashInfo.memberId)"/>
                </CellGroup>
                </Col>
                <Col span="12">
                <CellGroup>
                    <Cell title="状态">
                        <span :style="cashInfo.status !== 3 ? 'color:red':'color:#66CD00'" slot="extra">{{statusDesc}}</span>
                    </Cell>
                </CellGroup>
                </Col>
            </Row>
            <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="收款方式" :extra="checkWay"/>
                </CellGroup>
                </Col>
                <Col span="12">
                <CellGroup>
                    <Cell title="提现时间" :extra="date_ch(cashInfo.createTime)"/>
                </CellGroup>
                </Col>
            </Row>
            <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="收款账户" :extra="checkAccount"/>
                </CellGroup>
                </Col>
                <Col span="12">
                <CellGroup>
                    <Cell title="微信" :extra="cashInfo.nickname"/>
                </CellGroup>
                </Col>
            </Row>
            <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="支付宝姓名" :extra="cashInfo.alipayName"/>
                </CellGroup>
                </Col>
                <Col span="12">
                <CellGroup>
                    <Cell title="支付宝账号" :extra="cashInfo.alipayAccount"/>
                </CellGroup>
                </Col>
            </Row>
            <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="开户银行" :extra="cashInfo.bankName"/>
                </CellGroup>
                </Col>
                <Col span="12">
                <CellGroup>
                    <Cell title="所在支行" :extra="cashInfo.bankBranch"/>
                </CellGroup>
                </Col>
            </Row>
            <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="银行开户名" :extra="cashInfo.bankAccountName"/>
                </CellGroup>
                </Col>
                <Col span="12">
                <CellGroup>
                    <Cell title="银行账户" :extra="cashInfo.bankCardNo"/>
                </CellGroup>
                </Col>
            </Row>
            <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="联系方式" :extra="cashInfo.phone"/>
                </CellGroup>
                </Col>
            </Row>
            <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="付款方式" :extra="checkWay"/>
                </CellGroup>
                </Col>
                <Col span="12">
                <CellGroup>
                    <Cell title="付款账户" :extra="cashInfo.type === 1?'微信':cashInfo.paymentAccount"/>
                </CellGroup>
                </Col>
            </Row>
            <hr style="height:1px;border:none;border-top:1px dashed #EBEBEB;">
            <Row>
                <Col span="12">
                <CellGroup>
                    <Cell title="付款人" :extra="cashInfo.type === 1?'微信':cashInfo.payer"/>
                </CellGroup>
                </Col>
                <Col span="12">
                <CellGroup>
                    <Cell title="付款时间" :extra="date_ch(cashInfo.paymentTime)"/>
                </CellGroup>
                </Col>
            </Row>
            <Row>
                <div style="text-align:center">
                    <Button v-if="cashInfo.status === 1" class="margin-left-10" type="primary" @click="accept(cashInfo.id)" icon="search">审核通过</Button>
                    <Button v-if="cashInfo.status === 2" class="margin-left-10" type="primary" @click="instanceModel" icon="search">付款</Button>
                </div>
            </Row>
            <Modal v-model="paymentModal" :mask-closable="false" title="付款确认" @on-ok="payment(cashInfo.id)" @on-cancel="closeModel()" :loading="loading">
                <template>
                    <Form ref="form" :model="vo" :label-width="80" :rules="validate">
                        <Form-item prop="payer">
                            <Input prefix="md-contact" placeholder="请输入付款人姓名" v-model="vo.payer" style="width:300px;" />
                        </Form-item>
                        <Form-item prop="paymentAccount">
                            <Input prefix="md-card" placeholder="请输入付款帐号" v-model="vo.paymentAccount" style="width:300px;" />
                        </Form-item>
                    </Form>
                </template>
            </Modal>
        </Card>
    </div>
</template>

<script>
import { WithdrawType, WithdrawStatus, opt } from '@/libs/dic';
import { DateFormat } from '@/libs/common';
import TagNav from '@/components/mixins/tag-nav';
export default {
    name: 'CashInfo',
    mixins: [ TagNav ],
    data () {
        return {
            vo: {
                payer: '',
                paymentAccount: ''
            },
            validate: {
                payer: [{ required: true, message: '付款人不能为空', type: 'string', trigger: 'blur' }],
                paymentAccount: [{ required: true, message: '付款账户不能为空', type: 'string', trigger: 'blur' }]
            },
            loading: true,
            paymentModal: false,
            payer: '',
            paymentAccount: '',
            cashInfo: this.$route.params,
            auitUrl: '/api/withdraw/accept/',
            payUrl: '/api/withdraw/payment/'
        };
    },
    computed: {
        checkWay () {
            return opt(WithdrawType, this.cashInfo.type).name;
        },
        statusDesc () {
            return opt(WithdrawStatus, this.cashInfo.status).name;
        },
        checkAccount () {
            if (this.cashInfo.type === 1) {
                return this.cashInfo.nickname;
            } else if (this.cashInfo.type === 2) {
                return this.cashInfo.alipayName;
            } else if (this.cashInfo.type === 3) {
                return this.cashInfo.bankAccountName;
            }
        },
        formRef () {
            return 'form';
        }
    },
    created () {
        this.cashInfo = this.cashInfo.id ? this.cashInfo : JSON.parse(localStorage.getItem('cashInfo'));
        localStorage.setItem('cashInfo', JSON.stringify(this.cashInfo));
    },
    methods: {
        date_ch (val) {
            return DateFormat(val, 'YYYY年MM月DD日 HH时mm分ss秒');
        },
        instanceModel () {
            if (this.cashInfo.type === 1) {
                this.$Modal.confirm({
                    title: '付款确认',
                    content: '是否确认付款?',
                    onOk: () => {
                        this.payment(this.cashInfo.id);
                    }
                });
            } else {
                this.paymentModal = true;
            }
        },
        closeModel () {
            this.$Modal.remove();
        },
        async accept (id) {
            const result = await this.fetch(`${this.auitUrl}/${id}`, { method: 'POST' });
            if (result.success) {
                this.$nextTick(this.doClose);
            }
        },
        async payment (id) {
            this.loading = false;
            this.$refs[this.formRef].validate(async (valid) => {
                if (valid || this.cashInfo.type === 1) {
                    this.loading = true;
                    const result = await this.fetch(`${this.payUrl}/${id}`, { method: 'POST', data: this.vo });
                    if (result.success) {
                        this.$nextTick(this.doClose);
                    }
                }
            });
        },
        doClose () {
            this.tagNavBack('CashInfo');
        }

    }
};
</script>
