<template>
    <div>
        <Header :title="subInfo.name"></Header>
        <div style="padding-top: 60px;">
            <mu-carousel transition="fade" style="height: 200px">
                <mu-carousel-item v-for="(img, index) in imgs" :key="index">
                    <img :src="img">
                </mu-carousel-item>
            </mu-carousel>
        </div>
        <div class="warpbox">
            <div class="boxins">
                <div class="textconts">
                    <mu-flex class="flex-wrapper" align-items="center">
                        <mu-flex class="flex-left" justify-content="center" fill>
                            <div class="tpcos">
                                <h3>{{subInfo.name}}</h3>
                                <p>{{subInfo.data ? subInfo.data.title : ''}}</p>
                                <div class="score">
                                    <span class="scoreins"></span>
                                    <span class="scoreins"></span>
                                    <span class="scoreins"></span>
                                    <span class="scoreins"></span>
                                    <span></span>
                                    <i>4A景区</i>
                                </div>
                            </div>
                        </mu-flex>
                        <mu-flex class="flex-right" justify-content="center" fill>
                            <div @click="openShare = true">
                                <mu-icon size="30" value="share"></mu-icon>
                                <span style="display:block">分享</span>
                            </div>
                        </mu-flex>
                    </mu-flex>
                    <div class="list address" @click="openWxMap(point,productInfo.address)">
                        <p>{{productInfo.pcastr}}{{productInfo.address}}</p>
                    </div>
                    <div class="list times">
                        <span>{{countDownText}}</span>
                        <i>{{countDownTime}}</i>
                    </div>
                </div>
                <div class="itemsbox">
                    <div class="bts">预定须知</div>
                    <pre style="width: 100%;float: left;font-size: .3rem;line-height: .4rem;color: #919191;padding-top: .2rem;">{{ParseNotes(subInfo.bookingNotes)}}</pre>
                </div>
                <div class="itemsbox">
                    <div class="bts">抢购须知</div>
                    <pre style="width: 100%;float: left;font-size: .3rem;line-height: .4rem;color: #919191;padding-top: .2rem;">{{ParseNotes(subInfo.data ? ParseNotes(subInfo.data.notice) : '')}}</pre>
                </div>
                <div class="detailsbox">
                    <div class="bts">详情介绍</div>
                    <pre v-html="productInfo.summary"></pre>
                </div>
            </div>
            <div class="fotrs-twos">
                <a class="homes" @click="$router.push('/')">
                    <h3>首页</h3>
                    <span></span>
                </a>
                <a v-if="!isCountDown" @click="buy" class="goticket">立即抢购</a>
                <a v-else class="goticket" style="background: darkgrey;">立即抢购</a>
            </div>
            <shop-share v-model="openShare" :title="title" :image="imgs[0] || ''" :notes="subInfo.data ? subInfo.data.title : ''" :price="$route.query.price"></shop-share>
        </div>
    </div>
</template>
<script>
import Header from '@/components/header.vue';
import { ParseNotes } from '@/libs/shop-common';
import { formatNumber } from '@/libs/common';
import { opt, LevelStar } from '@/libs/dic';
import imgs from '@/components/mixins/product-imgs';
import ShopBuyBtn from '@/components/shop-buy-btn.vue';
import point from '@/components/mixins/map-point';
import WxUtil from '@/components/mixins/wx-util';
import StarRating from 'vue-star-rating';
import ShopShare from '@/components/shop-share.vue';
import dayjs from 'dayjs';
import isBetween from 'dayjs/plugin/isBetween';
dayjs.extend(isBetween);
export default {
    name: 'GroupTicketSubDetail',
    components: { Header, ShopBuyBtn, StarRating, ShopShare },
    mixins: [ imgs, point, WxUtil ],
    data () {
        return {
            formatNumber,
            ParseNotes,
            subInfo: {},
            productInfo: {},
            groupList: [],
            countNumber: null,
            countDownTime: null,
            countDownText: null,
            isCountDown: true,
            openShare: false
        };
    },
    computed: {
        level () {
            return this.productInfo ? opt(LevelStar, this.productInfo.level, { value: 0 }).value : 0;
        },
        imgs () {
            return this.transformImgs(this.productInfo);
        },
        point () {
            return this.transformPoint(this.productInfo.map);
        },
        title () {
            return this.$store.state.user.title;
        },
        memberInfo () {
            return this.$store.state.user.member;
        }
    },
    async created () {
        await this.$store.dispatch('member');
        this.initWxConfig(this.memberInfo.id);
    },
    async mounted () {
        this.getSubInfo();
        this._$countDown = this.countDown();
    },
    destroyed () {
        clearInterval(this._$countDown);
    },
    methods: {
        async countDown () {
            this._$countDown = setInterval(() => {
                if (!this.subInfo.data) return;
                let times = 0;
                let beforeTxt = '';
                if (dayjs().isBetween(dayjs(this.subInfo.data.start), dayjs(this.subInfo.data.end))) {
                    times = dayjs(this.subInfo.data.end).diff(dayjs());
                    this.countDownText = '剩余结束时间';
                    this.isCountDown = false;
                } else if (dayjs().isBefore(dayjs(this.subInfo.data.start))) {
                    times = dayjs(this.subInfo.data.start).diff(dayjs());
                    this.countDownText = '距离开始时间';
                    this.isCountDown = true;
                }
                if (times > 0) {
                    times /= 1000;
                    const day = Math.floor(times / (60 * 60 * 24));
                    const hour = Math.floor(times / (60 * 60)) - (day * 24);
                    const minute = Math.floor(times / 60) - (day * 24 * 60) - (hour * 60);
                    const second = Math.floor(times) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                    this.countDownTime = `${beforeTxt} ${String(day).padStart(2, '0')}天：${String(hour).padStart(2, '0')}小时：${String(minute).padStart(2, '0')}分钟：${String(second).padStart(2, '0')}秒`;
                } else {
                    this.countDownText = '剩余抢购';
                    this.countDownTime = '已结束';
                    this.isCountDown = true;
                }
            }, 1000);
        },
        async getSubInfo () {
            let result = await this.fetch(`/api/limit/product/info/${this.$route.query.productId}`);
            if (result.success) {
                this.subInfo = result.value.subInfo[0];
                this.productInfo = result.value;
            } else {
                this.$router.replace({ path: '/' });
            }
        },
        buy () {
            this.$router.push({ path: '/order/buy/ticket',
                query: {
                    code: this.subInfo.code, name: this.subInfo.name, price: this.subInfo.price, productType: this.$route.query.productType, requireSid: this.subInfo.requireSid
                } });
        }
    }
};
</script>
<style lang="less" scoped>
.flex-right {
  width: 60px;
  text-align: center;
  margin-left: 8px;
}
</style>
